﻿<!DOCTYPE html>
<html dir="rtl">
    <head>
        <meta charset="utf-8" />
        <!--
        Customize the content security policy in the meta tag below as needed. Add 'unsafe-inline' to default-src to enable inline JavaScript.
        For details, see http://go.microsoft.com/fwlink/?LinkID=617521
    -->
        <!--<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline' ; script-src 'self' 'unsafe-inline' *; connect-src 'self' http://212.70.38.149 *; media-src *">-->

        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <title>إيبي ديمو</title>
        <link rel="stylesheet" href="css/ionicons.min.css">
        <link href="css/jquery.rateyo.css" rel="stylesheet" />
        <link href="css/jk-rating-stars.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link id="fwMaterialCssFile" rel="stylesheet" href="css/framework7.material.min.css">
        <link id="fwMaterialColorsCssFile" rel="stylesheet" href="css/framework7.material.colors.min.css">
        <link id="fwMaterialRTLCssFile" rel="stylesheet" href="css/framework7.material.rtl.min.css">
        <link id="styleCssFile" href="css/style-ar.css" rel="stylesheet" />
        <link id="mainCssFile" href="css/Main.css" rel="stylesheet" />
        <link id="loaderCssFile" href="css/loader.css" rel="stylesheet" />

        <link href="css/nouislider.css" rel="stylesheet" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/pbkdf2.js"></script>
        
    </head>
<body ng-app="myApp">

    <div class="statusbar-overlay" style="background-color:#120127 !important"></div>
    <div class="panel-overlay"></div>
    <div id="divSidePanel" class="panel panel-right panel-cover" style="background-color:#00a2e8 !important">
        <img id="imgSideMenu" image-loader="img/logo.png" loader="img/puff.svg" place-holder="img/logo.png" class="imgSideMenu" style="border-bottom: 1px solid rgba(204,204,204,0.9);">
        <!--<div class="head" style="background-color:#00a2e8 !important">
            <div class="list media-list">
                <ul class="bb">
                    <li class="item-content menu-bg text-center">
                        <img id="imgSideMenu" image-loader="img/logo.png" loader="img/puff.svg" place-holder="img/logo.png" class="imgSideMenu">
                    </li>
                </ul>
            </div>
        </div>-->
        <div id="menuCustomers" class="block menu" ng-controller="mainController" style="background-color:#00a2e8 !important">
            <p><a id="linkMenuToHome" ng-click="GoToIntro()" class="close-panel"><i class="ionicons ion-home"></i><label class="lang">الرئيسية</label></a></p>
            <p><a id="linkMenuToProfile" ng-click="GoToProfile()" class="close-panel"><i class="ionicons ion-android-contact"></i><label class="lang">حسابي</label></a></p>
            <p><a id="linkMenuToMyContracts" ng-click="GoToMyContracts()" class="close-panel"><i class="ionicons ion-ios-paper"></i><label class="lang">تعاقداتي</label></a></p>
            <!--<p><a id="linkMenuToMyRequests" ng-click="GoToMyRequests()" class="close-panel"><i class="ionicons ion-ios-paper"></i><label class="lang">طلباتي</label></a></p>
            <p><a id="linkMenuToMyInvoices" ng-click="GoToMyInvoices()" class="close-panel"><i class="ionicons ion-ios-paper"></i><label class="lang">فواتيري</label></a></p>-->
            <p><a id="linkMenuToMyComplaints" ng-click="GoToMyComplaints()" class="close-panel"><i class="ionicons ion-help-circled"></i><label class="lang">المساعدة</label></a></p>
            <p ng-hide="true"><a id="linkMenuToMyPoints" ng-click="GoToMyPoints()" class="close-panel"><i class="ionicons ion-cash"></i><label class="lang">نقاطي</label></a></p>
            <p><a  ng-click="GoToHome()" class="close-panel" style="display:block;"><i class="ionicons ion-ios-people"></i><label class="lang">قطاع الأفراد</label></a></p>
            <p><a id="linkMenuToMedical" ng-click="GoToMedical()" class="close-panel"><i class="ionicons ion-erlenmeyer-flask"></i><label class="lang">القطاع الطبي</label></a></p>
            <p><a id="linkMenuToBusiness" ng-click="GoToBusiness()" class="close-panel"><img src="img/a3mal.png" class="mRL-5" width="17"/><label class="lang">قطاع الأعمال</label></a></p>
            <p><a id="linkMenuToContact" ng-click="GoToContact()" class="close-panel"><i class="ionicons ion-android-pin"></i><label class="lang">فروعنا</label></a></p>
            <p><a id="linkMenuToAbout" ng-click="GoToAboutUs()" class="close-panel"><i class="ionicons ion-information-circled"></i><label class="lang">عن التطبيق</label></a></p>
            <p><a id="linkMenuToChangeLanguage" ng-click="GoToChangeLanguage()" class="close-panel"><i class="ionicons ion-earth"></i><label class="lang">EN | عربي</label></a></p>
            <p><a id="linkMenuToChangePassword" ng-click="GoToChangePassword()" class="close-panel"><i class="ionicons ion-android-lock"></i><label class="lang">تغيير كلمة المرور</label></a></p>
            <p><a id="linkMenuToLogin" ng-click="GoToLogin()" class="close-panel"><i class="ionicons ion-power"></i><span><label id="lblMenuLoginText" class="lang">تسجيل الدخول</label></span></a></p>
        </div>
        <div id="menuReview" class="block menu" ng-controller="mainController" style="background-color:#00a2e8 !important">
            <p><a id="linkMenuToHomeReview" ng-click="GoToIntroReview()" class="close-panel"><i class="ionicons ion-home"></i><label class="lang">الرئيسية</label></a></p>
            <p><a id="linkMenuToProfileReview" ng-click="GoToProfileReview()" class="close-panel"><i class="ionicons ion-android-contact"></i><label class="lang">حسابي</label></a></p>
            <p><a id="linkMenuToMedicalReview" ng-click="GoToMedicalReview()" class="close-panel"><i class="ionicons ion-erlenmeyer-flask"></i><label class="lang">القطاع الطبي</label></a></p>
            <p><a id="linkMenuToOrdersReview" ng-click="GoToMyOrdersReview()" class="close-panel"><i class="ionicons ion-ios-paper"></i><label class="lang">طلباتي</label></a></p>
            <p><a id="linkMenuToMissionReview" ng-click="GoToMissionReview()" class="close-panel"><i class="ionicons ion-android-call"></i><label class="lang">أهداف الشركة</label></a></p>
            <p><a id="linkMenuToMembersReview" ng-click="GoToMembersReview()" class="close-panel"><i class="ionicons ion-android-call"></i><label class="lang">أفراد الشركة</label></a></p>
            <p><a id="linkMenuToContactUsReview" ng-click="GoToContactUs()" class="close-panel"><i class="ionicons ion-android-call"></i><label class="lang">تواصل معنا</label></a></p>
            <p><a id="linkMenuToBranchesReview" ng-click="GoToBranchesReview()" class="close-panel"><i class="ionicons ion-android-pin"></i><label class="lang">فروعنا</label></a></p>
            <p><a id="linkMenuToAboutReview" ng-click="GoToAboutUsReview()" class="close-panel"><i class="ionicons ion-information-circled"></i><label class="lang">عن التطبيق</label></a></p>
            <p><a id="linkMenuToChangeLanguageReview" ng-click="GoToChangeLanguageReview()" class="close-panel"><i class="ionicons ion-earth"></i><label class="lang">EN | عربي</label></a></p>
            <p><a id="linkMenuToChangePasswordReview" ng-click="GoToChangePasswordReview()" class="close-panel"><i class="ionicons ion-android-lock"></i><label class="lang">تغيير كلمة المرور</label></a></p>
            <p><a id="linkMenuToLoginReview" ng-click="GoToLoginReview()" class="close-panel"><i class="ionicons ion-power"></i><span><label id="lblMenuLoginReviewText" class="lang">تسجيل الدخول</label></span></a></p>
        </div>
    </div>

    <!-- Views-->
    <div class="views">
        <div id="viewCustomers" class="view view-main">
            <div class="pages navbar-fixed">
                <!-- Login Page-->
                <login-page id="loginPage" data-page="login" class="page security cached"></login-page>
                <!-- Signup user Page-->
                <signup-user-page id="signupUserPage" data-page="signupUser" class="page security cached"></signup-user-page>
                <!-- forgetPass Page-->
                <forget-pass-page id="forgetPassPage" data-page="forgetPass" class="page security cached"></forget-pass-page>
                <!-- reset Page-->
                <reset-password-page id="resetPasswordPage" data-page="resetPassword" class="page security cached"></reset-password-page>
                <!-- changePass Page-->
                <change-pass-page id="changePassPage" data-page="changePass" class="page cached"></change-pass-page>
                <!-- Intro Page-->
                <intro-page id="introPage" data-page="intro" class="page"></intro-page>
                <!-- home Page-->
                <home-page id="homePage" data-page="home" class="page cached"></home-page>
                <!-- userProfile Page-->
                <user-profile-page id="userProfilePage" data-page="userProfile" class="page cached"></user-profile-page>
                <!-- contact Page-->
                <contact-page id="contactPage" data-page="contact" class="page cached"></contact-page>
                <!-- edit profile Page-->
                <edit-profile-page id="editProfilePage" data-page="editProfile" class="page cached"></edit-profile-page>
                <!-- terms Page-->
                <terms-page id="termsPage" data-page="terms" class="page cached"></terms-page>
                <!-- Search Page-->
                <search-page id="searchPage" data-page="search" class="page cached"></search-page>
                <!-- Search Results Page-->
                <search-results-page id="searchResultsPage" data-page="searchResults" class="page noResult cached"></search-results-page>
                <!-- noResult Page-->
                <no-result-page id="noResultPage" data-page="noResult" class="page cached noResult"></no-result-page>
                <!-- About Us Page-->
                <about-page id="aboutPage" data-page="about" class="page cached"></about-page>
                <!-- medical Page-->
                <medical-page id="medicalPage" data-page="medical" class="page cached"></medical-page>
                <!-- business Page-->
                <business-page id="businessPage" data-page="business" class="page cached"></business-page>
                <!-- members Page-->
                <members-page id="membersPage" data-page="members" class="page cached"></members-page>
                <!-- mission Page-->
                <mission-page id="missionPage" data-page="mission" class="page cached"></mission-page>
                <!-- branches Page-->
                <branches-page id="branchesPage" data-page="branches" class="page cached"></branches-page>
                <!-- create Page-->
                <create-page id="createPage" data-page="create" class="page cached"></create-page>
                <!-- shifts Page-->
                <shifts-page id="shiftsPage" data-page="shifts" class="page cached"></shifts-page>
                <!-- location Page-->
                <location-page id="locationPage" data-page="location" class="page cached"></location-page>
                <!-- previous locations Page-->
                <previous-locations-page id="previousLocationsPage" data-page="previousLocations" class="page cached"></previous-locations-page>
                <!-- contract details Page-->
                <contract-details-page id="contractDetailsPage" data-page="contractDetails" class="page cached"></contract-details-page>
                <!-- complete profile Page-->
                <complete-profile-page id="completeProfilePage" data-page="completeProfile" class="page cached"></complete-profile-page>
                <!-- success Page-->
                <success-page id="successPage" data-page="success" class="page success cached"></success-page>
                <!-- connect Page-->
                <connect-page id="connectPage" data-page="connect" class="page cached noResult"></connect-page>
                <!-- soon page -->
                <soon-page id="soonPage" data-page="soon" class="page cached"></soon-page>
                <!-- user complaints page -->
                <user-complaints-page id="userComplaintsPage" data-page="userComplaints" class="page cached"></user-complaints-page>
                <!-- user contracts page -->
                <user-contracts-page id="userContractsPage" data-page="userContracts" class="page cached"></user-contracts-page>
                <!-- contract info page -->
                <contract-info-page id="contractInfoPage" data-page="contractInfo" class="page cached"></contract-info-page>
                <!-- add complaint page -->
                <add-complaint-page id="addComplaintPage" data-page="addComplaint" class="page cached"></add-complaint-page>
                <!-- payment method page -->
                <payment-method-page id="paymentMethodPage" data-page="paymentMethod" class="page cached profile"></payment-method-page>
                <!-- bank transfer page -->
                <bank-transfer-page id="bankTransferPage" data-page="bankTransfer" class="page cached profile"></bank-transfer-page>
                <!-- change language page -->
                <change-language-page id="changeLanguagePage" data-page="changeLanguage" class="page cached noResult"></change-language-page>
                <!-- individualSector Page-->
                <individual-sector-page id="individualSectorPage" data-page="individualSector" class="page cached"></individual-sector-page>
                <!-- Service Details Page-->
                <service-details-page id="serviceDetailsPage" data-page="serviceDetails" class="page cached"></service-details-page>
                <!--phase two-->
                <indv-nationalities-page id="indvNationalitiesPage" data-page="indvNationalities" class="page cached"></indv-nationalities-page>
                <indv-Jobs-page id="indvJobsPage" data-page="indvJobs" class="page cached"></indv-Jobs-page>
                <indv-packages-page id="indvPackagesPage" data-page="indvPackages" class="page cached"></indv-packages-page>
                <indv-workers-page id="indvWorkersPage" data-page="indvWorkers" class="page cached"></indv-workers-page>
                <indv-search-page id="indvSearchPage" data-page="indvSearch" class="page cached"></indv-search-page>

                <indv-prev-locations-page id="indvPrevLocationsPage" data-page="indvPrevLocations" class="page cached"></indv-prev-locations-page>
                <indv-locations-page id="indvLocationsPage" data-page="indvLocations" class="page cached"></indv-locations-page>
                <indv-contract-details-page id="indvContractDetailsPage" data-page="indvContractDetails" class="page cached"></indv-contract-details-page>

				<indv-customer-work-page id="indvCustomerWorkPage" data-page="indvCustomerWork" class="page cached"></indv-customer-work-page>
				<indv-complete-profile-page id="indvCompleteProfilePage" data-page="indvCompleteProfile" class="page cached"></indv-complete-profile-page>
				<indv-success-page id="indvSuccessPage" data-page="indvSuccess" class="page cached"></indv-success-page>

				<indv-payment-method-page id="indvPaymentMethodPage" data-page="indvPaymentMethod" class="page cached"></indv-payment-method-page>
				<indv-bank-transfer-page id="indvBankTransferPage" data-page="indvBankTransfer" class="page cached"></indv-bank-transfer-page>
                <!-- user contracts Types page -->
                <user-contracts-Types-page id="userContractsTypesPage" data-page="userContractsTypes" class="page cached"></user-contracts-Types-page>
                <!-- user Indv Contracts page -->
                <user-Indv-contracts-page id="userIndvContractsPage" data-page="userIndvContracts" class="page cached"></user-Indv-contracts-page>
                <!-- user Indv Contracts page -->
                <user-Indv-contract-Requests-page id="userIndvContractRequestsPage" data-page="userIndvContractRequests" class="page cached"></user-Indv-contract-Requests-page>
                <!-- user Indv Contracts page -->
                <user-Invoices-page id="userInvoicesPage" data-page="userInvoices" class="page cached"></user-Invoices-page>
                <indiv-contract-info-page id="indivContractInfoPage" data-page="indivContractInfo" class="page cached"></indiv-contract-info-page>
				<!--indvEmployeeDetailsPage-->
				<indv-employee-details-page id="indvEmployeeDetailsPage" data-page="indvEmployeeDetails" class="page cached"></indv-employee-details-page>

				<indv-search-results-page id="indvindvSearchResultsPage" data-page="indvSearchResults" class="page cached"></indv-search-results-page>
                <!-- request info page -->
                <request-info-page id="requestInfoPage" data-page="requestInfo" class="page cached"></request-info-page>
                <neqaty-page id="neqatyPage" data-page="neqaty" class="page cached"></neqaty-page>
                <user-points-page id="userPointsPage" data-page="userPoints" class="page cached"></user-points-page>
            
                <user-consumed-points-page id="userConsumedPointsPage" data-page="userConsumedPoints" class="page cached"></user-consumed-points-page>


            </div>
        </div>
        <div id="viewReview" class="view view-review">
            <div class="pages navbar-fixed">
                <!-- Login Review Page-->
                <login-review-page id="loginReviewPage" data-page="loginReview" class="page security cached"></login-review-page>
                <!-- Signup user Review Page-->
                <signup-user-review-page id="signupUserReviewPage" data-page="signupUserReview" class="page security cached"></signup-user-review-page>
                <!-- forgetPass Review Page-->
                <forget-pass-review-page id="forgetPassReviewPage" data-page="forgetPassReview" class="page security cached"></forget-pass-review-page>
                <!-- reset Review Page-->
                <reset-password-review-page id="resetPasswordReviewPage" data-page="resetPasswordReview" class="page security cached"></reset-password-review-page>
                <!-- changePass Review Page-->
                <change-pass-review-page id="changePassReviewPage" data-page="changePassReview" class="page cached"></change-pass-review-page>
                <!-- Intro Review Review Page-->
                <intro-review-page id="introReviewPage" data-page="introReview" class="page"></intro-review-page>
                <!-- About Us Review Page-->
                <about-review-page id="aboutReviewPage" data-page="aboutReview" class="page cached"></about-review-page>
                <!-- medical Review Page-->
                <medical-review-page id="medicalReviewPage" data-page="medicalReview" class="page cached"></medical-review-page>
                <!-- business Review Page-->
                <business-review-page id="businessReviewPage" data-page="businessReview" class="page cached"></business-review-page>
                <!-- members Review Page-->
                <members-review-page id="membersReviewPage" data-page="membersReview" class="page cached"></members-review-page>
                <!-- mission Review Page-->
                <mission-review-page id="missionReviewPage" data-page="missionReview" class="page cached"></mission-review-page>
                <!-- branches Review Page-->
                <branches-review-page id="branchesReviewPage" data-page="branchesReview" class="page cached"></branches-review-page>
                <!-- change language Review page -->
                <change-language-review-page id="changeLanguageReviewPage" data-page="changeLanguageReview" class="page cached noResult"></change-language-review-page>
                <!-- userProfile Review Page-->
                <user-profile-review-page id="userProfileReviewPage" data-page="userProfileReview" class="page cached"></user-profile-review-page>
                <!-- individualSector Review Page-->
                <individual-sector-review-page id="individualSectorReviewPage" data-page="individualSectorReview" class="page cached"></individual-sector-review-page>
          
                <add-request-review-page id="addRequestReviewPage" data-page="addRequestReview" class="page cached"></add-request-review-page>
                <location-review-page id="locationReviewPage" data-page="locationReview" class="page cached"></location-review-page>
                <show-order-details-review-page id="showOrderDetailsReviewPage" data-page="showOrderDetailsReview" class="page cached"></show-order-details-review-page>               
                <my-orders-review-page id="myOrdersReviewPage" data-page="myOrdersReview" class="page cached"></my-orders-review-page>

              </div>
        </div>
    </div>

    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="scripts/platformOverrides.js"></script>
    <script type="text/javascript" src="scripts/index.js"></script>
    <script type="text/javascript" src="scripts/moment.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    

    <script src="js/framework7.js"></script>
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7/jquery.min.js"></script>

    <script src="js/fastclick.min.js"></script>
    <script src="scripts/ConfigNew.js"></script>
    <script src="scripts/ErrorModule.js"></script>
    <script src="scripts/CookiesService.js"></script>
    <script src="scripts/SidePanel.js"></script>
    <script src="scripts/InitFramework.js"></script>
    <script src="scripts/Language.js"></script>
    <script src="scripts/Helpers.js"></script>
    <script src="scripts/Filters.js"></script>
    <script src="scripts/Service.js"></script>
    <script src="scripts/infiniteScrollService.js"></script>
    <script src="js/jk-rating-stars.js"></script>
    <script src="js/jquery.rateyo.js"></script>
    <script src="js/ImageExists.js"></script>
    <script src="js/time-interval.js"></script>
    <script src="js/pusher.min.js"></script>
    <script src="js/nouislider.js"></script>
	<!--for formatting numbers-->
	<script src="js/wNumb.js"></script>

    <script type="text/javascript">
        document.addEventListener("deviceready", onDeviceReady, false);
        function onDeviceReady() {
            //localStorage.setItem('Dalal_lang', 'AR');
            language.ChangeLanguage();
            //language.ChangeTheme();

            var attachFastClick = Origami.fastclick;
            attachFastClick(document.body);

        }
    </script>

    <script src="controllers/mainController.js"></script>
    <script src="controllers/loginController.js"></script>
    <script src="controllers/landingController.js"></script>
    <script src="controllers/signupUserController.js"></script>
    <script src="controllers/activationController.js"></script>
    <script src="controllers/changePasswordController.js"></script>
    <script src="controllers/forgetPasswordController.js"></script>
    <script src="controllers/introController.js"></script>
    <script src="controllers/homeController.js"></script>
    <script src="controllers/resetPasswordController.js"></script>
    <script src="controllers/userProfileController.js"></script>
    <script src="controllers/editProfileController.js"></script>
    <script src="controllers/noResultController.js"></script>
    <script src="controllers/searchController.js"></script>
    <script src="controllers/searchResultsController.js"></script>
    <script src="controllers/termsController.js"></script>
    <script src="controllers/aboutController.js"></script>
    <script src="controllers/connectController.js"></script>
    <script src="controllers/soonController.js"></script>
    <script src="controllers/medicalController.js"></script>
    <script src="controllers/branchesController.js"></script>
    <script src="controllers/membersController.js"></script>
    <script src="controllers/missionController.js"></script>
    <script src="controllers/createController.js"></script>
    <script src="controllers/shiftsController.js"></script>
    <script src="controllers/locationController.js"></script>
    <script src="controllers/previousLocationsController.js"></script>
    <script src="controllers/contractDetailsController.js"></script>
    <script src="controllers/successController.js"></script>
    <script src="controllers/completeProfileController.js"></script>
    <script src="controllers/businessController.js"></script>
    <script src="controllers/userComplaintsController.js"></script>
    <script src="controllers/userContractsController.js"></script>
    <script src="controllers/contractInfoController.js"></script>
    <script src="controllers/addComplaintController.js"></script>
    <script src="controllers/paymentMethodController.js"></script>
    <script src="controllers/bankTransferController.js"></script>
    <script src="controllers/changeLanguageController.js"></script>
    <script src="controllers/individualSectorController.js"></script>
    <script src="controllers/serviceDetailsController.js"></script>
    <script src="controllers/indvContractDetailsController.js"></script>
    <script src="controllers/indvJobsController.js"></script>
    <script src="controllers/indvLocationsController.js"></script>
    <script src="controllers/indvNationalitiesController.js"></script>
    <script src="controllers/indvPackagesController.js"></script>
    <script src="controllers/indvPrevLocationsController.js"></script>
    <script src="controllers/indvSearchController.js"></script>
    <script src="controllers/indvWorkersController.js"></script>
	<script src="controllers/indvCustomerWorkController.js"></script>
	<script src="controllers/indvCompleteProfileController.js"></script>
	<script src="controllers/indvSuccessController.js"></script>
	<script src="controllers/indvPaymentMethodController.js"></script>
	<script src="controllers/indvBankTransferController.js"></script>
    <script src="controllers/UserContractsTypesController.js"></script>
    <script src="controllers/userIndvContractsController.js"></script>
    <script src="controllers/userIndvContractRequestsController.js"></script>
    <script src="controllers/userInvoicesController.js"></script>
	<script src="controllers/indvSearchResultsController.js"></script>
	<script src="controllers/indvEmployeeDetailsController.js"></script>
    <script src="controllers/indivContractInfoController.js"></script>
    <script src="controllers/requestInfoNewController.js"></script>
    <script src="controllers/neqatyNewController.js"></script>
    <script src="controllers/userConsumedPointsNewController.js"></script>
    <script src="controllers/userPointsNewController.js"></script>

    <script src="controllers/aboutReviewController.js"></script>
    <script src="controllers/branchesReviewController.js"></script>
    <script src="controllers/businessReviewController.js"></script>
    <script src="controllers/changeLanguageReviewController.js"></script>
    <script src="controllers/changePasswordReviewController.js"></script>
    <script src="controllers/forgetPasswordReviewController.js"></script>
    <script src="controllers/introReviewController.js"></script>
    <script src="controllers/loginReviewController.js"></script>
    <script src="controllers/medicalReviewController.js"></script>
    <script src="controllers/membersReviewController.js"></script>
    <script src="controllers/missionReviewController.js"></script>
    <script src="controllers/resetPasswordReviewController.js"></script>
    <script src="controllers/signupUserReviewController.js"></script>
    <script src="controllers/userProfileReviewController.js"></script>
    <script src="controllers/individualSectorReviewController.js"></script>
    <script src="controllers/AddRequestReviewController.js"></script>
    <script src="controllers/locationReviewController.js"></script>
    <script src="controllers/showOrderDetailsReviewController.js"></script>
    <script src="controllers/myOrdersReviewController.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG689FPkkNnY0UB8bWoIqpwftoM1oqrME&language=ar&region=EG&libraries=places,geometry" async defer></script>
</body>
</html>