﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">عن التطبيق</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteAbout" class="page-content about" ng-show="isLoaded">
    <div class="welcome">
        <div class="row">
            <div class="col-100">
                <div class="welMsg">
                    <h5 class="lang">النشأة :</h5>
                </div>
            </div>
            <div class="col-100">
                <div class="description">
                    <p class="lang">”إيبي ديمو“ شـركة سـعودية مسـاهمة مغلقـة، يقـع مقرهـا الرئيسى فـي مدينـة الريـاض، ويبلـغ رأسـمالها 100 مليـون ريـال سـعودي. حصلـت الشـركة علـى ترخيـص رسـمي مـن وزارة العمـل بالمملكـة العربيـة السـعودية فـي مجـال التوظيـف. وتتخصـص الشـركة فـي توفـير القـوى العاملـة الأجنبية للشـركات والمؤسسـات فـي القطاعـات المختلفـة بالمملكـة، إضافـة إلـى تقديـم خدمـات العمالـة المنزليـة وتنفيـذ أعمـال الوسـاطة فـي هـذا المجـال.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="welcome">
        <div class="row">
            <div class="col-100">
                <div class="welMsg">
                    <h5 class="lang">العراقة :</h5>
                </div>
            </div>
            <div class="col-100">
                <div class="description">
                    <p class="lang">”إيبي ديمو“ ً فـي الواقـع ليسـت شـركة وليـدة، فقـد قامـت علـى خبرات عريقـة مـن مسـتثمرين فـي مجـال المقاولات والطـرق والصيانـة والتشـغيل والاستثمارات الماليـة والاستثمارات العقاريـة، وهـذا التنـوع فـي المجالات والخبرات منـح شـركة إيبي ديمو القدرة علـى فهـم متطلبـات واحتياجـات العملاء و تلبيتهـا علـى الوجـه الاكمل لمواكبـة تطلعاتهـم وخططهـم الاستراتيجية بمـا يتماشى مـع رؤيـة المملكـة العربيـة السـعودية 2030.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="welcome">
        <div class="row">
            <div class="col-100">
                <div class="welMsg">
                    <h5 class="lang">قصة "إيبي ديمو" :</h5>
                </div>
            </div>
            <div class="col-100">
                <div class="description">
                    <p class="lang">اخترنــا اســم ”إيبي ديمو“ ً الذى دومــا نبــذل قصــارى جهدنــا لإيجاد بدائــل متنوعــة ومتميــزة فــي إدارة المــوارد البشـرية مـن أجـل مسـاعدة عملائنا علـى تحقيـق أهدافهـم وتطلعاتهـم. إن مهمتنـا هـي تزويـد عملائنا بخيـارات متعـددة قـدر الإمكان، تفتـح لأعمالهم آفاقـا للتطـور والأزدهار.</p>
                </div>
            </div>
        </div>
    </div>
</div>