﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">إضافة شكوي</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteAddComplaint" class="page-content forms editProfile" ng-show="isLoaded">

    <div class="list inline-labels no-hairlines-md">
        <form name="$parent.AddComplaintForm" ng-submit="submitForm($parent.AddComplaintForm)" novalidate>
            <ul>
                <li>
                    <a id="linkAddComplaintProblemType" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true">
                        <select name="problemType" ng-model="addComplaintForm.problemType" required>
                            <option ng-disabled="true" value="" class="lang">نوع المساعدة</option>
                        </select>
                        <div class="item-content" ng-class="submittedAddComplaint && addComplaintReset && !isProblemTypeValid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-title lang">نوع المساعدة<i class="ion-icons ion-chevron-left" style="margin-right: 5px;"></i></div>
                                <div id="divItemAfterCreateProblemType" class="item-after"></div>
                            </div>
                        </div>
                        <p ng-show="submittedAddComplaint && addComplaintReset && !isProblemTypeValid" class="error-block lang">يجب  اختيار نوع المساعدة</p>
                    </a>
                </li>
                <li ng-show="isWorkerVisible" >
                    <a id="linkAddComplaintWorker" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true">
                        <select name="worker" ng-model="addComplaintForm.worker" required>
                            <option ng-disabled="true" value="" class="lang">العاملة</option>
                        </select>
                        <div class="item-content"  ng-class="submittedAddComplaint && addComplaintReset && !isWorkerValid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-title lang" style="white-space: normal;" >اختر العاملة<i class="ion-icons ion-chevron-left" style="margin-right: 5px;"></i></div>
                                <div id="divItemAfterCreateWorker" class="item-after"></div>
                            </div>
                        </div>
                        <p ng-show="submittedAddComplaint && addComplaintReset && !isWorkerValid" class="error-block lang">يجب اختيار العاملة</p>
                    </a>
                </li>
                <li ng-show="isContractVisible" >
                    <a id="linkAddComplaintContract" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true">
                        <select name="contract" ng-model="addComplaintForm.contract" required>
                            <option ng-disabled="true" value="" class="lang">العقد</option>
                        </select>
                        <div class="item-content" ng-class="submittedAddComplaint && addComplaintReset && !isContractValid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-title lang">اختر العقد<i class="ion-icons ion-chevron-left" style="margin-right: 5px;"></i></div>
                                <div id="divItemAfterCreateContract" class="item-after"></div>
                            </div>
                        </div>
                        <p ng-show="submittedAddComplaint && addComplaintReset && !isContractValid" class="error-block lang">يجب اختيار العقد</p>
                    </a>
                </li>
                <li>
                    <div class="item-content no-error">
                        <div class="item-inner">
                            <div class="item-input">
                                <input name="description" class="form-control lang" type="text" placeholder="تفاصيل المشكلة" ng-model="addComplaintForm.description">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="confirm">
                        <button type="submit" class="button btn1 lang" ng-click="submittedAddComplaint=true">إضافة</button>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>