﻿<div class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">تقديم طلب</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>
<div class="page-content forms">
    <div class="cards">
        <div class="smartReview">
            <div class="circle1">
                <a href="#formss">
                    <div class="circular1 circularEN" style="background-color: #59c5ff;">
                    </div>
                </a>
            </div>
            <div class="circle2 circularEN">
                <a href="#forms2">
                    <div class="circular2 circularEN">
                    </div>
                </a>
            </div>
            <div class="circle3">
                <a href="#forms3">
                    <div class="circular3 circularEN">
                    </div>
                </a>
            </div>
        </div>
    </div>

        <form name="$parent.addRequestReview" ng-submit="submitForm($parent.addRequestReview.$valid)" novalidate>
            <div class="list inline-labels no-hairlines-md" style="margin:20px;">
                <br />
                <ul>

                    <li style="margin-top: 30px;">
                        <a id="linkAddRequestReview" href="#" class="item-link smart-select" data-open-in="popup" data-virtual-list="true" data-popup-close-text="إغلاق" data-back-on-select="true">
                            <select name="order" ng-model="userForm.orderType">
                                <option value="clean" class="lang">تنظف</option>
                                <option value="drive" class="lang">سواقة</option>
                                <option value="cook" class="lang">طبخ</option>
                                <option value="security" class="lang">حراسة</option>
                            </select>
                            <div class="item-content" ng-class="submittedCreate && createReset && !isCityValid?'has-error':'no-error'">
                                <div class="item-inner">
                                    <div class="item-title lang">نوع الطلب<i class="ion-icons ion-chevron-left" style="margin-right: 5px;"></i></div>
                                    <div id="divItemAfterAddRequestReview" class="item-after smart-select-value lang">نوع الطلب</div>
                                </div>
                            </div>
                            <p ng-show="submittedCreate && createReset && !isCityValid" class="error-block lang">يجب اختيار نوع الطلب</p>
                        </a>
                    </li>
                    <li>
                        <div style="padding:0px;" class="item-content">
                            <div style="margin-bottom: 0px;" ng-class="submittedAddReq && addRequestRevReset && $parent.addRequestReview.mobile.$invalid?'item-inner has-error':'item-inner no-error'">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="tel" class="form-control digits lang" name="mobile" placeholder="رقم الجوال" ng-model="userForm.mobile" required style="text-align-last:{{txtAlignValue}};" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p ng-show="submittedAddReq && addRequestRevReset && $parent.addRequestReview.mobile.$error.required" class="error-block lang">يجب إدخال رقم الجوال</p>
                    </li>
                    <li>
                        <div style="padding:0px;" class="item-content">
                            <div style="margin-bottom: 0px;" ng-class="submittedAddReq && addRequestRevReset && $parent.addRequestReview.firstname.$invalid?'item-inner has-error':'item-inner no-error'">
                                <div class="item-input">
                                    <input name="firstname" class="form-control lang" type="text" placeholder="الإسم الأول" ng-model="userForm.firstname" required style="text-align-last:{{txtAlignValue}};" />
                                </div>
                            </div>
                        </div>
                        <p ng-show="submittedAddReq && addRequestRevReset && $parent.addRequestReview.firstname.$error.required" class="error-block lang">يجب إدخال الإسم الأول</p>
                    </li>
                    <li>
                        <div style="padding:0px;" class="item-content">
                            <div style="margin-bottom: 0px;" ng-class="submittedAddReq && addRequestRevReset && $parent.addRequestReview.middlename.$invalid?'item-inner has-error':'item-inner no-error'">
                                <div class="item-input">
                                    <input name="middlename" class="form-control lang" type="text" placeholder="الإسم الأخير" ng-model="userForm.middlename" required style="text-align-last:{{txtAlignValue}};" />
                                </div>
                            </div>
                        </div>
                        <p ng-show="submittedAddReq && addRequestRevReset && $parent.addRequestReview.middlename.$error.required" class="error-block lang">يجب إدخال الإسم الأخير</p>
                    </li>
                    <li>
                        <div style="padding:0px;" class="item-content">
                            <div style="margin-bottom: 0px;" ng-class="submittedAddReq && addRequestRevReset && $parent.addRequestReview.email.$invalid?'item-inner has-error':'item-inner no-error'">
                                <div class="item-input">
                                    <input name="email" class="form-control lang" type="text" placeholder="البريد الإلكتروني" ng-model="userForm.email" style="text-align-last:{{txtAlignValue}};" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div style="padding:0px;" class="item-content">
                            <div style="margin-bottom: 0px;" ng-class="submittedAddReq && addRequestRevReset && $parent.addRequestReview.detials.$invalid?'item-inner has-error':'item-inner no-error'">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input name="detials" class="form-control lang" type="text" placeholder="تفاصيل اخري عن الطلب" ng-model="userForm.detials" required style="text-align-last:{{txtAlignValue}};" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p ng-show="submittedAddReq && addRequestRevReset && $parent.addRequestReview.detials.$error.required" class="error-block lang">يجب إدخال تفاصيل الطلب</p>
                    </li>
                </ul>
                <p class="confirm text-center" style="margin-bottom: 30px;">
                    <button id="btnaddRequest" type="submit" class="button button-big lang btn1" ng-click="submittedAddReq=true" style="width:90%;">التالي</button>
                </p>
            </div>
        </form>      

</div>
