﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">تحويل بنكي</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteBankTransfer" class="page-content  bankTransfer" ng-show="isLoaded">

    <div class="inner" ng-model="contract">
        <!--<p class="title lang">تحويل بنكي</p>-->
        <!--<div class="money">
            <p>{{contract.selectedPackage.totalPriceWithVat}}<br><small class="lang">ريال سعودي</small></p>
        </div>-->

        <div class="card" style="color :#00a2e8;padding :10px;margin :0;background-color :#FFF;">
            <p><label class="lang">عزيزي العميل :</label> {{userName}}</p>
            <!--<p><label class="lang">نرجوا من سعادتكم رفع صورة التحويل البنكى الخاص بالعقد</label> <b>{{contract.contractNum}}</b></p>-->
        </div>

        <p id="discount" style="color: #9a2020 !important;font-size: 15px !important;
         margin-bottom: 10px !important;border-radius: 5px !important;background-color: #ff00001c !important;text-align:center !important">
            <b class="lang" style="line-height:30px;">رجاء تحويل المبلغ على حساب</b>
            <br><b style="line-height:30px;"><label class="lang">رقم حساب الراجحى :</label></b>&nbsp;<label ng-click="CopyNumber('678608010012228')">678608010012228</label>&nbsp;
            <i ng-click="CopyNumber('678608010012228')" class="ionicons ion-ios-copy-outline" style="font-size:20px;"></i>
            <br><b style="line-height:30px;"><label class="lang">ايبان :</label></b>&nbsp;<label ng-click="CopyNumber('SA2780000678608010012228')">SA2780000678608010012228</label>&nbsp;
            <i ng-click="CopyNumber('SA2780000678608010012228')" class="ionicons ion-ios-copy-outline" style="font-size:20px;"></i>
        </p>

        <div class="data-table card">
            <table>
                <tbody>
                    <tr>
                        <td class="label-cell lang">السعر الإجمالي + الضريبة</td>
                        <td class="numeric-cell">{{contract.selectedPackage.totalPriceWithVat}}&nbsp;<label class="lang">ريال</label></td>
                    </tr>
                    <tr>
                        <td class="label-cell lang">مدة التعاقد</td>
                        <td class="numeric-cell">{{durationName}}</td>
                    </tr>
                    <tr>
                        <td class="label-cell lang">عدد العاملات</td>
                        <td class="numeric-cell">{{numOfWorkers}}&nbsp;<label class="lang">عاملة</label></td>
                    </tr>
                    <tr>
                        <td class="label-cell lang">عدد الزيارات</td>
                        <td class="numeric-cell">{{numOfVisits}}&nbsp;<label class="lang">زيارة</label></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <p id="discount" style="font-size: 12px !important;
         margin-bottom: 0px !important;border-radius: 10px 10px 0px 0px !important;background-color: #5eb3e4 !important;text-align:center !important">
            <b class="lang" style="line-height:30px;">بعد السداد , قم برفع صورة التحويل البنكي بالأسفل هنا</b>
        </p>

        <div class="head" style="border-radius: 0px 0px 10px 10px;">
            <!--<p class="lang">تحويل بنكي</p>-->
            <div class="imgEdit" ng-click="AddUserImage()" ng-class="isUserImageEmpty?'has-error':'no-error'">
                <div class="overlay" ng-if="!userImageElement.loading">
                    <img src="https://png.icons8.com/color/100/000000/receipt-filled.png" style="width: 120px !important;border:  none !important;border-radius: initial !important;height: 120px !important;position: relative !important;" />
                </div>
                <div class="overlayProgress" ng-if="userImageElement.loading">
                    <img name="imgProgress" src="img/puff.svg" />
                </div>
                <img name="imgUserAgent" image-loader="{{userImageElement.src | generateURL}}" loader="img/puff.svg" place-holder="img/noImage.png" />
            </div>
            <p ng-show="isUserImageEmpty" class="error-block">يجب اختيار صورة التحويل البنكي</p>
        </div>
    </div>
