﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">فروعنا</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteBranches" class="page-content branchInfo" ng-show="isLoaded">
    <div class="card" ng-repeat="branch in branches">
        <iframe ng-src="{{branch.branchMapURL | trustAsResourceUrl}}" height="400" style="border:0;width:100%;height: 300px" allowfullscreen=""></iframe>
        <h4 class="lang">{{branch.branchName}}</h4>
        <p><i class="ionicons ion-android-locate"></i>{{branch.branchAddress}}</p>
    </div>
</div>