﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">فروعنا</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>






<div id="divInfiniteBranches" class="page-content branchInfo" ng-show="isLoaded">
    <div class="card" ng-repeat="branch in branches">
        <iframe ng-src="{{branch.branchMapURL | trustAsResourceUrl}}" height="400" style="border:0;width:100%;height: 300px" allowfullscreen=""></iframe>
        <h4 class="lang">{{branch.branchName}}</h4>
        <p><i class="ionicons ion-android-locate"></i> <label class="lang"> العنوان: </label>{{branch.branchAddress}}</p>
        <div class="social">
            <div class="socialFB">
                <a href="#" ng-click="GoToURL('https://www.facebook.com/EPDemoRecruit/')"><i class="ionicons ion-social-facebook-outline"></i></a>
            </div>
            <div class="socialTW">
                <a href="#" ng-click="GoToURL('https://twitter.com/EPDemorecruit')"><i class="ionicons ion-social-twitter-outline"></i></a>
            </div>
            <div class="socialGP">
                <a href="#" ng-click="GoToURL('https://www.instagram.com/EPDemorecruit/')"><i class="ionicons ion-social-instagram"></i></a>
            </div>
            <div class="socialSite">
                <a href="#" ng-click="GoToURL('https://EPDemo.sa/')"><i class="ionicons ion-earth"></i></a>
            </div>
            <div class="socialCall">
                <a href="#" ng-click="CallEPDemo(branch.firstBranchMobile)"><i class="ionicons ion-iphone"></i></a>
            </div>
            <div class="socialCall" ng-show="branch.isAnotherMobileFound">
                <a href="#" ng-click="CallEPDemo(branch.secondBranchMobile)"><i class="ionicons ion-iphone"></i></a>
            </div>
        </div>
    </div>
</div>

<!--<div id="divInfiniteBranches" class="page-content branchInfo" ng-show="isLoaded">
    <div class="card">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3622.369577392966!2d46.698102514349195!3d24.7827953544708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2efd0287de8f77%3A0x4315df4eee215a35!2sEPDemo+Recruitment+Company!5e0!3m2!1sen!2seg!4v1524124996018" height="400" style="border:0;width:100%;height: 300px" allowfullscreen=""></iframe>
        <h4 class="lang">فرع الرياض</h4>
        <p><i class="ionicons ion-android-locate"></i> <label class="lang">العنوان: الطريق الدائري الشمالي حي التعاون , الرياض 12478</label></p>
        <div class="social">
            <div class="socialFB">
                <a href="#" ng-click="GoToURL('https://www.facebook.com/EPDemoRecruit/')"><i class="ionicons ion-social-facebook-outline"></i></a>
            </div>
            <div class="socialTW">
                <a href="#" ng-click="GoToURL('https://twitter.com/EPDemorecruit')"><i class="ionicons ion-social-twitter-outline"></i></a>
            </div>
            <div class="socialGP">
                <a href="#" ng-click="GoToURL('https://www.instagram.com/EPDemorecruit/')"><i class="ionicons ion-social-instagram"></i></a>
            </div>
            <div class="socialSite">
                <a href="#" ng-click="GoToURL('https://EPDemo.sa/')"><i class="ionicons ion-earth"></i></a>
            </div>
            <div class="socialCall">
                <a href="#" ng-click="CallEPDemo('+966920033660')"><i class="ionicons ion-iphone"></i></a>
            </div>
        </div>
    </div>
    <div class="card">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d18092.277971103744!2d41.724110237343204!3d27.516116753574728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sar!2seg!4v1523717597543" height="400" style="border:0;width:100%;height: 300px" allowfullscreen=""></iframe>
        <h4 class="lang">فرع حائل</h4>
        <p><i class="ionicons ion-android-locate"></i> <label class="lang">العنوان: حائل - طريق الملك فيصل حي العزيزية</label></p>
        <div class="social">
            <div class="socialFB">
                <a href="#" ng-click="GoToURL('https://www.facebook.com/EPDemoRecruit/')"><i class="ionicons ion-social-facebook-outline"></i></a>
            </div>
            <div class="socialTW">
                <a href="#" ng-click="GoToURL('https://twitter.com/EPDemorecruit')"><i class="ionicons ion-social-twitter-outline"></i></a>
            </div>
            <div class="socialGP">
                <a href="#" ng-click="GoToURL('https://www.instagram.com/EPDemorecruit/')"><i class="ionicons ion-social-instagram"></i></a>
            </div>
            <div class="socialSite">
                <a href="#" ng-click="GoToURL('https://EPDemo.sa/')"><i class="ionicons ion-earth"></i></a>
            </div>
            <div class="socialCall">
                <a href="#" ng-click="CallEPDemo('+966920033660')"><i class="ionicons ion-iphone"></i></a>
            </div>
        </div>
    </div>
    <div class="card">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3584.009409085217!2d43.98369188509316!3d26.06594890230224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1581edad4eabcefd%3A0x660cdf8f70a72018!2z2LTYsdmD2Kkg2KPYqNiv2KfZhCDZhNmE2KXYs9iq2YLYr9in2YU!5e0!3m2!1sar!2seg!4v1523717177872" height="400" style="border:0;width:100%;height: 300px" allowfullscreen=""></iframe>
        <h4 class="lang">فرع القصيم</h4>
        <p><i class="ionicons ion-android-locate"></i> <label class="lang">العنوان: القصيم - محافظة عنيزة حي الفاخرية - شارع زامل عبدالله السليم</label></p>
        <div class="social">
            <div class="socialFB">
                <a href="#" ng-click="GoToURL('https://www.facebook.com/EPDemoRecruit/')"><i class="ionicons ion-social-facebook-outline"></i></a>
            </div>
            <div class="socialTW">
                <a href="#" ng-click="GoToURL('https://twitter.com/EPDemorecruit')"><i class="ionicons ion-social-twitter-outline"></i></a>
            </div>
            <div class="socialGP">
                <a href="#" ng-click="GoToURL('https://www.instagram.com/EPDemorecruit/')"><i class="ionicons ion-social-instagram"></i></a>
            </div>
            <div class="socialSite">
                <a href="#" ng-click="GoToURL('https://EPDemo.sa/')"><i class="ionicons ion-earth"></i></a>
            </div>
            <div class="socialCall">
                <a href="#" ng-click="CallEPDemo('+966920033660')"><i class="ionicons ion-iphone"></i></a>
            </div>
        </div>
    </div>
    <div class="card">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3571.971391820036!2d50.12610378508609!3d26.45665108594321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e49fbbe7c4d9ac9%3A0xf9f5051f6d65a6bf!2z2KPYqNix2KfYrCDYp9mE2YbYrtmK2YTYjCDYp9mE2LTYp9i32KYg2KfZhNi02LHZgtmK2Iwg2KfZhNiv2YXYp9mFIDMyNDEz2Iwg2KfZhNiz2LnZiNiv2YrYqQ!5e0!3m2!1sar!2seg!4v1523717783487" height="400" style="border:0;width:100%;height: 300px" allowfullscreen=""></iframe>
        <h4 class="lang">فرع الدمام</h4>
        <p><i class="ionicons ion-android-locate"></i> <label class="lang">العنوان: المنطقة الشرقية – الدمام كورنيش الدمام - شارع الخليج - أبراج النخيل - الدور الخامس</label></p>
        <div class="social">
            <div class="socialFB">
                <a href="#" ng-click="GoToURL('https://www.facebook.com/EPDemoRecruit/')"><i class="ionicons ion-social-facebook-outline"></i></a>
            </div>
            <div class="socialTW">
                <a href="#" ng-click="GoToURL('https://twitter.com/EPDemorecruit')"><i class="ionicons ion-social-twitter-outline"></i></a>
            </div>
            <div class="socialGP">
                <a href="#" ng-click="GoToURL('https://www.instagram.com/EPDemorecruit/')"><i class="ionicons ion-social-instagram"></i></a>
            </div>
            <div class="socialSite">
                <a href="#" ng-click="GoToURL('https://EPDemo.sa/')"><i class="ionicons ion-earth"></i></a>
            </div>
            <div class="socialCall">
                <a href="#" ng-click="CallEPDemo('+966920033660')"><i class="ionicons ion-iphone"></i></a>
            </div>
        </div>
    </div>
    <div class="card">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3640.497958948799!2d47.31885708512552!3d24.154263079144997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e254f13d378556d%3A0x8071d2d65d71f7ad!2z2LfYsdmK2YIg2KPYqNmKINio2YPYsSDYp9mE2LXYr9mK2YLYjCDYp9mE2K7YsdisINin2YTYs9i52YjYr9mK2Kk!5e0!3m2!1sar!2seg!4v1523718093057" height="400" style="border:0;width:100%;height: 300px" allowfullscreen=""></iframe>
        <h4 class="lang">فرع الخرج</h4>
        <p><i class="ionicons ion-android-locate"></i> <label class="lang">العنوان: الخرج طريق ابي بكر الصديق _ بجوار بنك ساب بتجاه الشمال - الدور الأول</label></p>
        <a><p><i class="ionicons ion-android-call"></i>920033660</p></a>
        <div class="social">
            <div class="socialFB">
                <a href="#" ng-click="GoToURL('https://www.facebook.com/EPDemoRecruit/')"><i class="ionicons ion-social-facebook-outline"></i></a>
            </div>
            <div class="socialTW">
                <a href="#" ng-click="GoToURL('https://twitter.com/EPDemorecruit')"><i class="ionicons ion-social-twitter-outline"></i></a>
            </div>
            <div class="socialGP">
                <a href="#" ng-click="GoToURL('https://www.instagram.com/EPDemorecruit/')"><i class="ionicons ion-social-instagram"></i></a>
            </div>
            <div class="socialSite">
                <a href="#" ng-click="GoToURL('https://EPDemo.sa/')"><i class="ionicons ion-earth"></i></a>
            </div>
            <div class="socialCall">
                <a href="#" ng-click="CallEPDemo('+966920033660')"><i class="ionicons ion-iphone"></i></a>
            </div>
        </div>
    </div>
    <div class="card">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3710.7161572219475!2d39.18349798516495!3d21.557951274877656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15c3d005105b1d6b%3A0xca8110bad50e13ef!2z2LTYp9ix2Lkg2KfZhNij2YXZitixINmF2K3ZhdivINio2YYg2LnYqNiv2KfZhNi52LLZitiy2Iwg2KzYr9ipINin2YTYs9i52YjYr9mK2Kk!5e0!3m2!1sar!2seg!4v1523718301697" height="400" style="border:0;width:100%;height: 300px" allowfullscreen=""></iframe>
        <h4 class="lang">فرع جدة</h4>
        <p><i class="ionicons ion-android-locate"></i> <label class="lang">العنوان: مدينة جدةشارع التحلية - مركز بن حمران – الدور السابع – مكتب 702 B -</label></p>
        <div class="social">
            <div class="socialFB">
                <a href="#" ng-click="GoToURL('https://www.facebook.com/EPDemoRecruit/')"><i class="ionicons ion-social-facebook-outline"></i></a>
            </div>
            <div class="socialTW">
                <a href="#" ng-click="GoToURL('https://twitter.com/EPDemorecruit')"><i class="ionicons ion-social-twitter-outline"></i></a>
            </div>
            <div class="socialGP">
                <a href="#" ng-click="GoToURL('https://www.instagram.com/EPDemorecruit/')"><i class="ionicons ion-social-instagram"></i></a>
            </div>
            <div class="socialSite">
                <a href="#" ng-click="GoToURL('https://EPDemo.sa/')"><i class="ionicons ion-earth"></i></a>
            </div>
            <div class="socialCall">
                <a href="#" ng-click="CallEPDemo('+966920033660')"><i class="ionicons ion-iphone"></i></a>
            </div>
        </div>
    </div>
</div>-->