﻿<!--<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">قطاع الأعمال</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteBusiness" class="page-content business" ng-show="isLoaded">
    <div class="card">
        <div class="image">
            <img class="img" src="img/w.png">
        </div>
        <div class="description">
            <h4 class="lang">توفير الموارد البشرية للمنشآت</h4>
            <h5 class="lang">تقـدم ”إيبي ديمو“ المـوارد البشـرية التـي تحتاجهـا المنشـآت المختلفـة فـي القطاعين العـام والخـاص خـلال مـدة زمنيـة وجيـزة وذلـك عبـر نظـام التعاقـد التشـغيلي طويـل المـدى، مـن أجـل تحقيـق أهدافهـم التشـغيلية، مـا يسـاعد علـى منـع تعثـر المشـاريع الناتـج عـن نقـص العمالة</h5>
            <h4 class="lang">توفير الموارد البشرية للمنشآت بعقود مؤقتة</h4>
            <h5 class="lang">تقـدم ”إيبي ديمو“ المـوارد البشـرية التـي تحتاجهـا المنشـآت المختلفـة فـي القطاعين العـام والخـاص خـلال مـدة زمنيـة وجيـزة وذلـك عبـر نظـام التعاقــد التشــغيلي قصير المدى)مؤقــت(، مــن أجــل تحقيــق أهدافهــم التشــغيلية، مــا يســاعد علــى منــع تعطل المشــاريع الناتــج عــن نقــص العمالـة.</h5>
            <h4 class="lang">خدمات الوساطة في الاستقدام للمنشآت</h4>
            <h5 class="lang">تقــدم ”إيبي ديمو“ خدمــات الوســاطة فــي اســتقدام المــوارد البشــرية المنزليــة للعائلات التــي لديهــا تأشيــراتهم الخاصــة، حيــث تقــوم الشــركة بجلــب ً الكــوادر وفقــا لمتطلباتهــم، خلال فتــرة زمنيــة وجيــزة.</h5>
        </div>
        <div class="confirm">
            <a ng-click="CallUs()" class="button btn1 lang">اتصل بنا</a>
        </div>
    </div>
</div>-->
<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang"> قطاع الأعمال</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteBusiness" class="page-content business page-bg" ng-show="isLoaded">
    <div class="container">
        <div class="row" style="margin-top:20px">
            <div class="col-50">
                <h2 style="margin-right:10px" ><span class="lang">خدماتنا</span> <br /> <span class="lang">لقطاع الأعمال</span></h2>
            </div>
            <div class="col-50" style="text-align:left">
                <img src="img/Business/shutterstock.png" width="90%">
            </div>
        </div><!-- row -->
        <div class="bg-blackTrans">
            <h3 class="lang">توفير الموارد البشرية للمنشآت:</h3>
            <div class="row no-gap">
                <div class="col-80">
                    <p class="text lang">تقــــدم أبـــدال المـــوارد البشــريــة التي تحتــاجهــا المنشـــآت المختـلـفـــة فـــي القـطــــاعــــين العــــام والخاص خلال مدة زمنية وجيزة وذلك عبر نظام التعــاقـــد التشغيلـــي طــويـــل المــــدى، مـــن أجــل تحقيـــق أهدافهــــم التشغيــليــة، ممــا يســاعــد علـى منع تعثر المشاريع الناتج عن نقص</p>
                </div>
                <div class="col-20">
                    <img src="img/Business/icon1.png" width="180%" class="icon1">
                </div>
            </div><!-- row -->
        </div><!-- bg-blackTrans -->

        <div class="bg-blackTrans">
            <h3 class="lang">برنامج جاهز :</h3>
            <div class="row no-gap">
                <div class="col-80">
                    <p class="text lang">تقـدم أبـــدال المـــوارد البشـــريــة التـــي تحتـــاجهـــا المنشـــآت المختـــلفــــــة فـــي القطــــاعــــين العـــام والخاص خلال مدة زمنية وجيزة وذلك عبر نظــام التعاقـد التشغيــلي قصــير المــدى(مــؤقــت)، مــن أجل تحقيق أهدافهم التشغيلية، ما يساعد على منع تعثر المشاريع الناتج عن نقص العمالة.</p>
                </div>
                <div class="col-20">
                    <img src="img/Business/logo_Jahez_img.png" width="160%" class="logo_Jahez">
                </div>
            </div><!-- row -->
        </div><!-- bg-blackTrans -->

        <div class="bg-blackTrans">
            <h3 class="lang">خدمات الوساطة في الاستقدام للمنشآت:</h3>
            <div class="row no-gap">
                <div class="col-80">
                    <p class="text lang">تقـــدم أبــــدال خـــدمـــات الوساطــة فــي استقــدام الموارد البشرية التي لديها تأشيراتهم الخاصة، حيــث تقــوم الشــــركـــــة بجـلــــب الكـــــــــوادر وفــقـــــاً لمتطلباتهم، خلال فترة زمنية وجيزة.</p>
                </div>
                <div class="col-20">
                    <img src="img/Business/icon2.png" width="160%" class="icon2">
                </div>
            </div><!-- row -->
        </div><!-- bg-blackTrans -->

        <a ng-click="CallUs()" class="button btn1 lang">اتصل بنا</a>


    </div><!-- container -->
</div>