﻿<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">تغيير كلمة المرور</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>
<div class="page-content page-bg">

    <div class="list inline-labels no-hairlines-md">
            <form name="$parent.ChangePasswordForm" ng-submit="submitForm($parent.ChangePasswordForm.$valid)" novalidate>
                <ul>
                    <li>
                        <div class="item-content" ng-class="submittedChangePass && changePasswordReset  && $parent.ChangePasswordForm.oldPassword.$invalid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="password" class="form-control lang" placeholder="كلمة السر القديمة" name="oldPassword" ng-pattern="passRegex" ng-model="changePassForm.oldPassword" required ng-minlength="6" ng-maxlength="30">
                                </div>
                            </div>
                        </div>
                        <p ng-show="submittedChangePass && changePasswordReset && $parent.ChangePasswordForm.oldPassword.$error.required" class="error-block lang">يجب إدخال كلمة السر القديمة</p>
                        <p ng-show="submittedChangePass && changePasswordReset && $parent.ChangePasswordForm.oldPassword.$error.minlength" class="error-block lang">كلمة السر القديمة يجب ألا تقل عن ستة أحرف</p>
                        <p ng-show="submittedChangePass && changePasswordReset && $parent.ChangePasswordForm.oldPassword.$error.maxlength" class="error-block lang">كلمة السر القديمة يجب ألا تزيد عن ثلاثين حرفا</p>
                        <p ng-show="submittedChangePass && changePasswordReset && $parent.ChangePasswordForm.oldPassword.$error.pattern" class="error-block lang">كلمة السر يجب ألا تحتوي علي مسافات</p>
                    </li>
                    <li>
                        <div class="item-content" ng-class="submittedChangePass && changePasswordReset  && $parent.ChangePasswordForm.newPassword.$invalid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="password" class="form-control lang" placeholder="كلمة السر الجديدة" name="newPassword" ng-pattern="passRegex" ng-model="changePassForm.newPassword" required ng-minlength="6" ng-maxlength="30">
                                </div>
                            </div>
                        </div>
                        <p ng-show="submittedChangePass && changePasswordReset  && $parent.ChangePasswordForm.newPassword.$error.required" class="error-block lang">يجب إدخال كلمة السر الجديدة</p>
                        <p ng-show="submittedChangePass && changePasswordReset && $parent.ChangePasswordForm.newPassword.$error.minlength" class="error-block lang">كلمة السر الجديدة يجب ألا تقل عن ستة أحرف</p>
                        <p ng-show="submittedChangePass && changePasswordReset && $parent.ChangePasswordForm.newPassword.$error.maxlength" class="error-block lang">كلمة السر الجديدة يجب ألا تزيد عن ثلاثين حرفا</p>
                        <p ng-show="submittedChangePass && changePasswordReset && $parent.ChangePasswordForm.newPassword.$error.pattern" class="error-block lang">كلمة السر يجب ألا تحتوي علي مسافات</p>
                    </li>
                    <li>
                        <div class="item-content" ng-class="submittedChangePass && changePasswordReset && $parent.ChangePasswordForm.confrmNewPassword.$invalid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="password" class="form-control lang" placeholder="تأكيد كلمة السر الجديدة" name="confrmNewPassword" ng-model="changePassForm.confrmNewPassword" ng-pattern="changePassForm.newPassword" required ng-minlength="6" ng-maxlength="30">
                                </div>
                            </div>
                        </div>
                        <p ng-show="submittedChangePass && changePasswordReset && $parent.ChangePasswordForm.confrmNewPassword.$error.required" class="error-block lang">يجب تأكيد كلمة السر</p>
                        <p ng-show="submittedChangePass && changePasswordReset && $parent.ChangePasswordForm.confrmNewPassword.$error.minlength" class="error-block lang">كلمة السر يجب ألا تقل عن ستة أحرف</p>
                        <p ng-show="submittedChangePass && changePasswordReset && $parent.ChangePasswordForm.confrmNewPassword.$error.maxlength" class="error-block lang">كلمة السر يجب ألا تزيد عن ثلاثين حرفا</p>
                        <p ng-show="submittedChangePass && changePasswordReset && $parent.ChangePasswordForm.confrmNewPassword.$error.pattern" class="error-block lang">كلمتا السر غير متطابقتين</p>
                    </li>
                </ul>
                <p class="confirm text-center">
                    <button type="submit" ng-click="submittedChangePass=true" class="button button-big lang">تغيير كلمة المرور</button>
                </p>
                
            </form>
            <p class="confirm text-center" style="text-align:center;width:100%;">
                <button ng-click="GoBack()" class="button button-big lang">عودة</button>
            </p>
    </div>
</div>