﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">انقطاع الخدمة</div>
        
    </div>
</div>

<div class="page-content">
    <div class="content-block">
        <img src="img/connect.png" height="128" width="128" />
        <p class="lang">لا يوجد اتصال بالإنترنت حاليا</p>
    </div>
</div>