﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">بيانات العقد</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteContractInfo" class="page-content forms editProfile" ng-show="isLoaded">

    <div class="confirm" ng-show="IsNotPaid">
        <a ng-click="PayNow()" class="button btn2 lang">ادفع الآن</a>
    </div>

    <div class="confirm" ng-hide="true">
        <a ng-click="Cancel()" class="button btn2 lang">إلغاء العقد</a>
    </div>

    <!--<div class="confirm" ng-hide="IsCancelled">
        <a ng-click="Cancel()" class="button btn2 lang">إلغاء العقد</a>
    </div>-->

    <div class="list inline-labels no-hairlines-md" ng-model="contract">
        <div class="data-table data-table-init card">
            <div class="card-header">
                <div class="data-table-title lang">البيانات الأساسية</div>
            </div>
            <div class="card-content">
                <table>
                    <tbody>
                        <tr>
                            <td class="label label-cell cellTable lang">المدينة</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{contract.city}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">الحي</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{contract.district}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">عدد العاملات</td>
                            <td class="label label-cell">{{contract.numOfWorkers}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">عدد الزيارات</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{contract.numOfVisits}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">مدة التعاقد</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{contract.contractDurationName}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">عدد الأيام</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{contract.availableDaysNumber}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">الأيام المختارة</td>
                            <td class="label label-cell" style="word-wrap: break-word;"><div style="display:block;width:150px;">{{contract.selectedDays}}</div></td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">تاريخ أول زيارة</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{contract.startDay}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">الجنسية</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{contract.nationality}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">عدد الساعات</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{contract.numOfHours}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="data-table data-table-init card">
            <div class="card-header">
                <div class="data-table-title lang">تفاصيل الباقة</div>
            </div>
            <div class="card-content">
                <table>
                    <tbody>
                        <tr>
                            <td class="label label-cell cellTable lang">فترة الزيارة</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{contract.shiftName}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">السعر</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{contract.selectedPackage.totalPriceBeforeDiscount}} <small class="lang">SAR</small></td>
                        </tr>
                        <tr ng-hide="true">
                            <td class="label label-cell cellTable lang">خصم نقاط ولاء</td>
                            <td class="label label-cell" style="word-wrap: break-word;"><label style="text-decoration:line-through;color: red; font-weight: normal !important;">{{contract.selectedPackage.totalLoyaltyPointsDiscountAmount}}</label> <small class="lang">ريال سعودي</small></td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">الضريبة المضافة %</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{contract.selectedPackage.vatRate}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">قيمة الضريبة المضافة</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{contract.selectedPackage.vatAmount}} <small class="lang">SAR</small></td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">السعر الإجمالي + الضريبة</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{contract.selectedPackage.totalPriceWithVat}} <small class="lang">SAR</small></td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">السعر النهائي</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{contract.selectedPackage.netPrice}} <small class="lang">SAR</small></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="confirm">
        <a ng-click="GoBack()" class="button btn2 lang">عودة</a>
    </div>

</div>