﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
	<div class="navbar-inner sliding">
		<div class="left">
			<a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
		</div>
		<div class="center sliding lang">بيانات العقد</div>
		<div class="right">
			<a ng-click="GoBack()" class="link icon-only">
				<i class="ionicons ion-android-arrow-back"></i>
			</a>
		</div>
	</div>
</div>

<div id="divInfiniteContractDetails" class="page-content forms" ng-show="isLoaded">
	<div class="cards">
		<div class="smart">
			<div class="circle1">
				<a href="#formss">
					<div class="circular1 circularEN">
					</div>
				</a>
			</div>
			<div class="circle2">
				<a href="#forms2">
					<div class="circular2 circularEN">
					</div>
				</a>
			</div>
			<div class="circle3">
				<a href="#forms3">
					<div class="circular3 circularEN">
					</div>
				</a>
			</div>
			<div class="circle4">
				<a href="#forms4">
					<div class="circular4 circularEN" id="child" style="background-color: #59c5ff;">
					</div>
				</a>
			</div>
			<div class="circle5">
				<a href="#forms5">
					<div class="circular5 circularEN">
					</div>
				</a>
			</div>
		</div>
	</div>

	<div class="list inline-labels no-hairlines-md" ng-model="contract">
		<div class="data-table data-table-init card">
			<div class="card-header">
				<div class="data-table-title lang">البيانات الأساسية</div>
			</div>
			<div class="card-content">
				<table>
					<tbody>
						<tr>
							<td class="label label-cell cellTable lang">المدينة</td>
							<td class="label label-cell" style="word-wrap: break-word;">{{contract.city.name}}</td>
						</tr>
						<tr>
							<td class="label label-cell cellTable lang">الحي</td>
							<td class="label label-cell" style="word-wrap: break-word;">{{contract.area.name}}</td>
						</tr>
						<tr>
							<td class="label label-cell cellTable lang">عدد العاملات</td>
							<td class="label label-cell">{{contract.worker.value}}</td>
						</tr>
						<tr>
							<td class="label label-cell cellTable lang">عدد الزيارات</td>
							<td class="label label-cell" style="word-wrap: break-word;">{{contract.visit.value}}</td>
						</tr>
						<tr>
							<td class="label label-cell cellTable lang">مدة التعاقد</td>
							<td class="label label-cell" style="word-wrap: break-word;">{{contract.duration.value}}</td>
						</tr>
						<tr>
							<td class="label label-cell cellTable lang">عدد الأيام</td>
							<td class="label label-cell" style="word-wrap: break-word;">{{contract.availableDaysNumber}}</td>
						</tr>
						<tr>
							<td class="label label-cell cellTable lang">الأيام المختارة</td>
							<td class="label label-cell" style="word-wrap: break-word;"><div style="display:block;width:150px;">{{contract.availableDays}}</div></td>
						</tr>
						<tr>
							<td class="label label-cell cellTable lang">تاريخ أول زيارة</td>
							<td class="label label-cell" style="word-wrap: break-word;">{{contract.firstVisit}}</td>
						</tr>
						<tr>
							<td class="label label-cell cellTable lang">الجنسية</td>
							<td class="label label-cell" style="word-wrap: break-word;">{{contract.nationality.value}}</td>
						</tr>
						<tr>
							<td class="label label-cell cellTable lang">عدد الساعات</td>
							<td class="label label-cell" style="word-wrap: break-word;">{{contract.hour.value}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="data-table data-table-init card">
			<div class="card-header">
				<div class="data-table-title lang">تفاصيل الباقة</div>
			</div>
			<div class="card-content">
				<table>
					<tbody>
						<tr>
							<td class="label label-cell cellTable lang">فترة الزيارة</td>
							<td class="label label-cell" style="word-wrap: break-word;">{{contract.selectedPackage.shift}}</td>
						</tr>
						<tr ng-show="!contract.IsDiscountFound">
							<td class="label label-cell cellTable lang">السعر الأصلي</td>
							<td class="label label-cell" style="word-wrap: break-word;">{{contract.selectedPackage.totalPrice}} <small class="lang">ريال سعودي</small></td>
						</tr>

						<tr ng-show="contract.IsDiscountFound">
							<td class="label label-cell cellTable lang">السعر قبل الخصم</td>
							<td class="label label-cell" style="word-wrap: break-word;"><label style="text-decoration:line-through;color: red; font-weight: normal !important;">{{contract.selectedPackage.totalPrice}} <small class="lang">ريال سعودي</small></label></td>
						</tr>
						
						<tr ng-show="contract.IsDiscountFound">
							<td class="label label-cell cellTable lang">قيمة الخصم</td>
							<td class="label label-cell" style="word-wrap: break-word;"><span style="color:red">{{contract.selectedPackage.totalPromotionDiscountAmount}}</span> <small class="lang">ريال سعودي</small></td>
						</tr>
						<tr ng-show="contract.IsDiscountFound">
							<td class="label label-cell cellTable lang">السعر بعد الخصم</td>
							<td class="label label-cell" style="word-wrap: break-word;"><label style="color: forestgreen; font-weight: normal !important;">{{contract.selectedPackage.totalPriceAfterPromotion}} <small class="lang">ريال سعودي</small></label></td>
						</tr>
                        <tr ng-hide="true">
                            <td class="label label-cell cellTable lang">خصم نقاط ولاء</td>
                            <td class="label label-cell" style="word-wrap: break-word;"><label style="text-decoration:line-through;color: red; font-weight: normal !important;">{{contract.selectedPackage.totalLoyaltyPointsDiscountAmount}}</label> <small class="lang">ريال سعودي</small></td>
                        </tr>
						<tr>
							<td class="label label-cell cellTable lang">الضريبة المضافة %</td>
							<td class="label label-cell" style="word-wrap: break-word;">{{contract.selectedPackage.vatRate}}</td>
						</tr>
						<tr>
							<td class="label label-cell cellTable lang">قيمة الضريبة المضافة</td>
							<td class="label label-cell" style="word-wrap: break-word;">{{contract.selectedPackage.vatAmount}} <small class="lang">ريال سعودي</small></td>
						</tr>
						<tr>
							<td class="label label-cell cellTable lang">السعر الإجمالي + الضريبة</td>
							<td class="label label-cell" style="word-wrap: break-word;">{{contract.selectedPackage.totalPriceWithVat}} <small class="lang">ريال سعودي</small></td>
						</tr>
						<tr>
							<td class="label label-cell cellTable lang">السعر النهائي</td>
							<td class="label label-cell" style="word-wrap: break-word;">{{contract.selectedPackage.totalPriceWithVat}} <small class="lang">ريال سعودي</small></td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="confirm">
		<div class="row wizardDiv">
			<button ng-click="GoBack()" href="#formss" class="col-50 button btn1">
				<big ng-class="{'ionicons ion-ios-arrow-forward':isArabic,'ionicons ion-ios-arrow-back':!isArabic}"></big>
				&nbsp; &nbsp;
				<span class="spanWizard lang">السابق</span>
			</button>
			<button id="btnCreateContract" ng-click="GoToSuccess()" href="#forms3" class="col-50 button btn1">
				<span class="spanWizard lang">إنشاء العقد</span>
				&nbsp; &nbsp;
				<big ng-class="{'ionicons ion-ios-arrow-forward':!isArabic,'ionicons ion-ios-arrow-back':isArabic}"></big>
			</button>
		</div>
	</div>

	<!--<div class="row wizardDiv">
		<div class="col-50">
			<div class="confirm">
				<a ng-click="GoToSuccess()" class="button btn1 lang"><i class="ionicons ion-ios-arrow-forward"></i></a>
			</div>
		</div>
		<div class="col-50">
			<div class="confirm">
				<a ng-click="GoBack()" class="button btn2 lang"><i class="ionicons ion-ios-arrow-back"></i></a>
			</div>
		</div>
	</div>-->

</div>