﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">عقد جديد</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>


<div id="divInfiniteMembers" class="page-content forms">

    <div class="cards">
        <div class="smart">
            <div class="circle1">
                <a href="#formss">
                    <div class="circular1 circularEN" style="background-color: #59c5ff;">
                    </div>
                </a>
            </div>
            <div class="circle2 circularEN">
                <a href="#forms2">
                    <div class="circular2 circularEN">
                    </div>
                </a>
            </div>
            <div class="circle3">
                <a href="#forms3">
                    <div class="circular3 circularEN">
                    </div>
                </a>
            </div>
            <div class="circle4">
                <a href="#forms4">
                    <div class="circular4 circularEN">
                    </div>
                </a>
            </div>
            <div class="circle5">
                <a href="#forms5">
                    <div class="circular5 circularEN">
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="list inline-labels no-hairlines-md">
        <form name="$parent.CreateForm" ng-submit="submitForm($parent.CreateForm.$valid,$event)" novalidate>
            <ul>
                <p id="log" class="lang">تقديم طلب عاملات بالساعة</p>
                <li>
                    <a id="linkCreateCity" href="#" class="item-link smart-select" data-open-in="popup" data-virtual-list="true" data-popup-close-text="إغلاق" data-back-on-select="true">
                        <select name="city" ng-model="createForm.city" required>
                            <option ng-disabled="true" value="" class="lang">المدينة</option>
                        </select>
                        <div class="item-content" ng-class="submittedCreate && createReset && !isCityValid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-title lang">اختر المدينة<i class="ion-icons ion-chevron-left" style="margin-right: 5px;"></i></div>
                                <div id="divItemAfterCreateCity" class="item-after smart-select-value"></div>
                            </div>
                        </div>
                        <p ng-show="submittedCreate && createReset && !isCityValid" class="error-block lang">يجب اختيار المدينة</p>
                    </a>
                </li>
                <li ng-model="IsAreaDisabled">
                    <a id="linkCreateArea" href="#" class="item-link smart-select" data-open-in="popup" data-virtual-list="true"  data-popup-close-text="إغلاق" data-back-on-select="true" ng-model="IsAreaLoaded" ng-disabled="IsAreaDisabled" data-searchbar="true" data-searchbar-placeholder="بحث عن حي">
                        <select name="area" ng-model="createForm.area" required>
                            <option ng-disabled="true" value="" class="lang">الحي</option>
                        </select>
                        <div ng-class="{'item-content':true,'load':IsAreaLoaded,'has-error':!isAreaValid,'no-error':isAreaValid}">
                            <div class="item-inner">
                                <div class="item-title lang">اختر الحي<i class="ion-icons ion-chevron-left" style="margin-right: 5px;"></i></div>
                                <div id="divItemAfterCreateArea" class="item-after smart-select-value"></div>
                            </div>
                        </div>
                        <p ng-show="submittedCreate && createReset && !isAreaValid" class="error-block lang">يجب اختيار الحي</p>
                    </a>
                </li>
                <li>
                    <a id="linkCreateWorker" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true">
                        <select name="worker" ng-model="createForm.worker" required>
                            <option ng-disabled="true" value="" class="lang">العاملات</option>
                        </select>
                        <div class="item-content" ng-class="submittedCreate && createReset && !isWorkerValid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-title lang">اختر العاملات<i class="ion-icons ion-chevron-left" style="margin-right: 5px;"></i></div>
                                <div id="divItemAfterCreateWorker" class="item-after"></div>
                            </div>
                        </div>
                        <p ng-show="submittedCreate && createReset && !isWorkerValid" class="error-block lang">يجب اختيار العاملات</p>
                    </a>
                </li>
                <li>
                    <a id="linkCreateVisit" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true">
                        <select name="visit" ng-model="createForm.visit" required>
                            <option ng-disabled="true" value="" class="lang">الزيارات</option>
                        </select>
                        <div class="item-content" ng-class="submittedCreate && createReset && !isVisitValid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-title lang">الزيارات في الأسبوع<i class="ion-icons ion-chevron-left" style="margin-right: 5px;"></i></div>
                                <div id="divItemAfterCreateVisit" class="item-after"></div>
                            </div>
                        </div>
                        <p ng-show="submittedCreate && createReset && !isVisitValid" class="error-block lang">يجب اختيار عدد الزيارات في الأسبوع</p>
                    </a>
                </li>
                <li>
                    <a id="linkCreateHour" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true">
                        <select name="hour" ng-model="createForm.hour" required>
                            <option ng-disabled="true" value="" class="lang">الساعات</option>
                        </select>
                        <div class="item-content" ng-class="submittedCreate && createReset && !isHourValid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-title lang">ساعات الزيارة<i class="ion-icons ion-chevron-left" style="margin-right: 5px;"></i></div>
                                <div id="divItemAfterCreateHour" class="item-after"></div>
                            </div>
                        </div>
                        <p ng-show="submittedCreate && createReset && !isHourValid" class="error-block lang">اختر عدد ساعات الزيارة</p>
                    </a>
                </li>
                <li ng-show="isAreaSelected && isNumberOfVisitsSelected">
                    <div id="createAvailableDays" class="row" ng-class="submittedCreate && createReset && !availableDaysValid?'has-error':'no-error'">
                        <div class="col-100" style="margin-bottom: 5px;">
                            <span style="color: #356793;font-size: 15px;font-weight: bold" class="lang">الأيام المتاحة :</span>
                        </div>
                        <div class="col-50" ng-repeat="availableDay in availableDays">
                            <div class="days">
                                <label class="label label-checkbox item-content days" style="border: none;padding: 0;">
                                    <input ng-attr-id="{{ 'chkDay_' + availableDay.id }}" type="checkbox" name="my-checkbox" value="Books">
                                    <div class="item-media" ng-click="selectAvailableDay(availableDay,$event)">
                                        <i ng-attr-id="{{ 'iosIcon_' + availableDay.id }}" class="icon icon-form-checkbox"></i>{{availableDay.name}}
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <p ng-show="submittedCreate && createReset && !availableDaysValid" class="error-block lang">يجب اختيار الأيام المتاحة</p>
                </li>
                <li ng-show="isAvailableDaySelected">
                    <div class="item-content" ng-class="submittedCreate && createReset && !isFirstVisitValid?'has-error':'no-error'">
                        <div class="item-inner">
                            <div class="item-title lang" style="padding-bottom :10px !important;">اختر تاريخ أول زيارة<i class="ion-icons ion-chevron-left" style="margin-right: 5px;"></i></div>
                            <input name="firstVisit" type="text" class="form-control" readonly="" id="calendar-disabled" ng-model="createForm.firstVisit" required>
                        </div>
                    </div>
                    <p ng-show="submittedCreate && createReset && !isFirstVisitValid" class="error-block lang">يجب اختيار تاريخ أول زيارة</p>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-input" style="text-align:center;">
                                <input id="txtPromotionName" name="code" class="form-control lang" type="text" placeholder="كود الخصم" ng-model="createForm.code">
                                <label name="promotionName" style="color:#28a745 !important">{{PromotionName}}</label>
                            </div>
                        </div>
                    </div>
                    <!--<p ng-show="submittedCreate && createReset && $parent.CreateForm.code.$error.required" class="error-block">يجب إدخال كود الخصم</p>-->
                </li>
                <li>
                    <a id="linkCreateDuration" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true">
                        <select name="duration" ng-model="createForm.duration" required>
                            <option ng-disabled="true" value="" class="lang">مدة التعاقد</option>
                        </select>
                        <div class="item-content" ng-class="submittedCreate && createReset && !isDurationValid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-title lang">اختر مدة التعاقد<i class="ion-icons ion-chevron-left" style="margin-right: 5px;"></i></div>
                                <div id="divItemAfterCreateDuration" class="item-after"></div>
                            </div>
                        </div>
                        <p ng-show="submittedCreate && createReset && !isDurationValid" class="error-block lang">يجب اختيار مدة التعاقد</p>
                    </a>
                </li>
                <li ng-show="isAreaSelected">
                    <a id="linkCreateNationality" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true">
                        <select name="nationality" ng-model="createForm.nationality" required>
                            <option ng-disabled="true" value="" class="lang">الجنسية</option>
                        </select>
                        <div class="item-content" ng-class="submittedCreate && createReset && !isNationalityValid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-title lang">اختر الجنسية<i class="ion-icons ion-chevron-left" style="margin-right: 5px;"></i></div>
                                <div id="divItemAfterCreateNationality" class="item-after"></div>
                            </div>
                        </div>
                        <p ng-show="submittedCreate && createReset && !isNationalityValid" class="error-block lang">يجب اختيار الجنسية</p>
                    </a>
                </li>
                <li ng-show="isAllSelected">
                    <span style="color: #356793;font-size: 15px;font-weight: bold;" class="lang">اختر الباقة المناسبة لكم :</span>
                    <a id="linkPackage_{{package.id}}" ng-click="SelectPackage(package)" href="#" ng-repeat="package in packages">
                        <div ng-class="{'packageMain':package.isActive,'package':!package.isActive}">

                            <span ng-hide="package.isAvailable" class="notAvailableSpan lang">هذه الفترة غير متاحة , اختر ميعاد آخر أو جنسية أخري</span>
                            <span ng-hide="package.isValidWithOffset" class="notAvailableSpan lang">هذه الفترة غير متاحة بسبب إنتهاء وقت الحجز المخصص لها</span>

                            <p ng-class="{'night':!package.isActive}">{{package.name}}</p>
                            <h5><span>{{lblOriginalPrice}}</span>&nbsp; : &nbsp;<span ng-show="package.IsDiscountFound" style="color: #ff5454;"><strike style="color: #ff5454">{{package.totalPrice}}</strike></span> &nbsp;<span>{{package.totalPriceAfterPromotion}}&nbsp;<small>{{Riyal}}</small></span></h5>
                            <h5 ng-show="package.IsDiscountFound" style="color: #ff5454;"><span style="color: #ff5454;">{{lblDiscountAmount}}</span>&nbsp; : &nbsp;[<span style="color: #ff5454;">{{package.totalPromotionDiscountAmount}}</span>&nbsp;<small style="color: #ff5454;">{{Riyal}}</small>] - [<span style="color: #ff5454;">{{package.totalPromotionDiscountPercentage}}</span>&nbsp;%]</h5>
                            <h5 ng-show="package.IsLoyalityDiscountFound"><span>{{lblLoylityAmount}}</span>&nbsp; : &nbsp;<span style="color: #ff5454;"><strike style="color: #ff5454">{{package.totalLoyaltyPointsDiscountAmount}}</strike>&nbsp;<small>{{Riyal}}</small></span></h5>
                            <h5><span>{{lblVatRate}}</span>&nbsp; : &nbsp;<span>[{{package.vatRate}} %]&nbsp;{{package.vatAmount}}&nbsp;<small>{{Riyal}}</small></span></h5>
                            <h5><span>{{lblPriceWithVat}}</span>&nbsp; : &nbsp;<span>{{package.totalPriceWithVat}}&nbsp;<small>{{Riyal}}</small></span></h5>
                            <span ng-show="package.isAvailable && package.isValidWithOffset" ng-class="{'spanPackageHeader':true,'nightLabel':!package.isMorningShift,'dayLabel':package.isMorningShift}">{{package.shift}}</span>
                            <i ng-show="package.isActive"  class="ionicons ion-checkmark-round checkmark"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <div class="confirm">
                        <div class="row wizardDiv">
                            <button class="col-50 button btn1" disabled>
                                <big ng-class="{'ionicons ion-ios-arrow-forward':isArabic,'ionicons ion-ios-arrow-back':!isArabic}"></big>
                                &nbsp; &nbsp;
                                <span class="spanWizard lang">السابق</span>
                            </button>
                            <button ng-disabled="!isPromotionCorrect" type="submit" class="col-50 button btn1" ng-click="submittedCreate=true">
                                <span class="spanWizard lang">التالي</span>
                                &nbsp; &nbsp;
                                <big ng-class="{'ionicons ion-ios-arrow-forward':!isArabic,'ionicons ion-ios-arrow-back':isArabic}"></big>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
    </div>


</div>