﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">تعديل البيانات</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteEditProfile" class="page-content forms editProfile" ng-show="isLoaded">
    <div class="list inline-labels no-hairlines-md">
        <form name="$parent.EditProfileForm" ng-submit="submitForm($parent.EditProfileForm)" novalidate>
            <ul>
                <li>
                    <div class="item-content" ng-class="submittedEditProfile && editProfileReset && $parent.EditProfileForm.fullName.$invalid?'has-error':'no-error'">
                        <div class="item-inner">
                            <div class="item-input">
                                <input name="fullName" class="form-control lang" type="text" placeholder="الإسم بالكامل" ng-model="editProfileForm.fullName" readonly>
                            </div>
                        </div>
                    </div>
                    <p ng-show="submittedEditProfile && editProfileReset && $parent.EditProfileForm.fullName.$error.required" class="error-block lang">يجب إدخال الإسم بالكامل</p>
                    <p ng-show="submittedEditProfile && editProfileReset && $parent.EditProfileForm.fullName.$error.pattern" class="error-block lang"></p>
                    <p ng-show="submittedEditProfile && editProfileReset && $parent.EditProfileForm.fullName.$error.minlength" class="error-block lang"></p>
                    <p ng-show="submittedEditProfile && editProfileReset && $parent.EditProfileForm.fullName.$error.maxlength" class="error-block lang"></p>
                </li>
                <li>
                    <div class="item-content" ng-class="submittedEditProfile && editProfileReset && $parent.EditProfileForm.email.$invalid?'has-error':'no-error'">
                        <div class="item-inner">
                            <div class="item-input">
                                <input name="email" class="form-control lang" type="text" placeholder="البريد الإلكتروني" ng-pattern="emailRegex" ng-model="editProfileForm.email"  readonly>
                            </div>
                        </div>
                    </div>
                    <p ng-show="submittedEditProfile && editProfileReset && $parent.EditProfileForm.email.$error.required" class="error-block lang">يجب إدخال البريد الإلكتروني</p>
                    <p ng-show="submittedEditProfile && editProfileReset && $parent.EditProfileForm.email.$error.pattern" class="error-block lang">البريد الإلكتروني غير صحيح</p>
                    <p ng-show="submittedEditProfile && editProfileReset && $parent.EditProfileForm.email.$error.minlength" class="error-block lang"></p>
                    <p ng-show="submittedEditProfile && editProfileReset && $parent.EditProfileForm.email.$error.maxlength" class="error-block lang"></p>
                </li>
                <li>
                    <div class="item-content" ng-class="submittedEditProfile && editProfileReset && $parent.EditProfileForm.idNumber.$invalid?'has-error':'no-error'">
                        <div class="item-inner">
                            <div class="item-input">
                                <input name="idNumber" class="form-control lang" type="text" placeholder="رقم الهوية" ng-model="editProfileForm.idNumber" ng-minlength="10" ng-maxlength="10"  readonly>
                            </div>
                        </div>
                    </div>
                    <p ng-show="submittedEditProfile && editProfileReset && $parent.EditProfileForm.idNumber.$error.required" class="error-block lang">يجب إدخال رقم الهوية</p>
                    <p ng-show="submittedEditProfile && editProfileReset && $parent.EditProfileForm.idNumber.$error.pattern" class="error-block lang"></p>
                    <p ng-show="submittedEditProfile && editProfileReset && $parent.EditProfileForm.idNumber.$error.minlength" class="error-block lang">رقم الهوية يجب أن يكون عشرة أرقام فقط</p>
                    <p ng-show="submittedEditProfile && editProfileReset && $parent.EditProfileForm.idNumber.$error.maxlength" class="error-block lang">رقم الهوية يجب أن يكون عشرة أرقام فقط</p>
                </li>
                <li>
                    <a id="linkEditProfileCountry" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true" data-searchbar="true" data-searchbar-placeholder="بحث عن دولة">
                        <select name="country" ng-model="editProfileForm.country" required>
                            <option ng-disabled="true" value="" class="lang">الدولة</option>
                        </select>
                        <div class="item-content" ng-class="submittedEditProfile && editProfileReset && !isCountryValid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-title lang">اختر الدولة<i class="ion-icons ion-chevron-left" style="margin-right: 5px;"></i></div>
                                <div id="divItemAfterCreateCountry" class="item-after"></div>
                            </div>
                        </div>
                        <p ng-show="submittedEditProfile && editProfileReset && !isCountryValid" class="error-block lang">يجب اختيار الدولة</p>
                    </a>
                </li>
                <li>
                    <a id="linkEditProfileCity" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true" data-searchbar="true" data-searchbar-placeholder="بحث عن مدينة">
                        <select name="city" ng-model="editProfileForm.city" required>
                            <option ng-disabled="true" value="" class="lang">المدينة</option>
                        </select>
                        <div class="item-content" ng-class="submittedEditProfile && editProfileReset && !isCityValid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-title lang">اختر المدينة<i class="ion-icons ion-chevron-left" style="margin-right: 5px;"></i></div>
                                <div id="divItemAfterCreateCity" class="item-after"></div>
                            </div>
                        </div>
                        <p ng-show="submittedEditProfile && editProfileReset && !isCityValid" class="error-block lang">يجب اختيار المدينة</p>
                    </a>
                </li>
                <li>
                    <a id="linkEditProfileGender" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true">
                        <select name="gender" ng-model="editProfileForm.gender" required>
                            <option ng-disabled="true" value="" class="lang">النوع</option>
                        </select>
                        <div class="item-content" ng-class="submittedEditProfile && editProfileReset && !isGenderValid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-title lang">اختر النوع<i class="ion-icons ion-chevron-left" style="margin-right: 5px;"></i></div>
                                <div id="divItemAfterCreateGender" class="item-after"></div>
                            </div>
                        </div>
                        <p ng-show="submittedEditProfile && editProfileReset && !isGenderValid" class="error-block lang">يجب اختيار النوع</p>
                    </a>
                </li>
                <li>
                    <div class="confirm">
                        <button type="submit" class="button btn1 lang" ng-click="submittedEditProfile=true" style="margin-bottom:10px">تعديل البيانات</button>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>

