﻿
<div class="page-content page-bg">

    <div class="logo">
        <img class="img" src="img/logo.png" width="70%">
    </div>
    <div class="list inline-labels no-hairlines-md">
        <form name="$parent.ForgetPasswordForm" ng-submit="submitForm($parent.ForgetPasswordForm.$valid)" novalidate>
            <ul>
                <li>
                    <div class="item-content" ng-class="submittedForget && forgetPassReset && $parent.ForgetPasswordForm.mobile.$invalid?'has-error':'no-error'">
                        <div class="item-inner">
                            <div class="item-input">
                                <input name="mobile" class="form-control lang" type="tel" placeholder="رقم الجوال" ng-pattern="mobileRegex" ng-model="forgetPassForm.mobile" required ng-minlength="10" ng-maxlength="10" style="text-align-last:{{txtAlignValue}};" />
                            </div>
                        </div>
                    </div>
                    <p ng-show="submittedForget && forgetPassReset && $parent.ForgetPasswordForm.mobile.$error.required" class="error-block lang">يجب إدخال رقم الجوال</p>
                    <p ng-show="submittedForget && forgetPassReset && $parent.ForgetPasswordForm.mobile.$error.pattern" class="error-block lang">رقم الجوال غير صحيح</p>
                    <p ng-show="submittedForget && forgetPassReset && $parent.ForgetPasswordForm.mobile.$error.minlength" class="error-block lang">رقم الجوال يجب أن يكون عشرة أرقام فقط</p>
                    <p ng-show="submittedForget && forgetPassReset && $parent.ForgetPasswordForm.mobile.$error.maxlength" class="error-block lang">رقم الجوال يجب أن يكون عشرة أرقام فقط</p>
                </li>
            </ul>
            <p class="confirm text-center">
                <button type="submit" ng-click="submittedForget=true" class="button button-big lang">إعادة تعيين كلمة المرور</button>
            </p>
        </form>
        <p class="confirm text-center" style="text-align:center;width:100%;">
            <button ng-click="GoBack()" class="button button-big lang">عودة</button>
        </p>
    </div>

</div>