﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang"> قطاع الأفراد</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteHome" class="page-content main  home page-bg" >


    <div class="Individual" >
        <div class="container">
            <div class="row no-gap" style="margin-bottom: 8px;margin-top: 15px;">
                <div class="col-50">
                    <a href="" ng-click="GoToServiceDetails('Dalal')">
                        <img src="img/home_imgs/dallal.png" class="br-5">
                    </a>
                </div>
                <div class="col-50">
                    <a ng-click="GoToServiceDetails('Tadbeer')">
                        <img src="img/home_imgs/tdbeer.png" class="br-5">
                    </a>
                </div>
            </div><!-- row no-gap -->
            <div class="row no-gap" style="margin-bottom: 8px;">
                <div class="col-50">
                    <a href="" ng-click="GoToServiceDetails('mosa3ed')">
                        <img src="img/home_imgs/mosa3ed.png" class="br-5">
                    </a>
                </div>
                <div class="col-50">
                    <a ng-click="GoToServiceDetails('wasatah')">
                        <img src="img/home_imgs/gahez.png" class="br-5">
                    </a>
                </div>
            </div><!-- row no-gap -->
            <div class="row no-gap">
                <div class="col-50">
                    <a class="callBtn" ng-click="CallUs()">
                        <p style="background-color: rgba(255,255,255,.7);padding: 15px 0">اتصل بنا</p>
                    </a>
                </div>
                <div class="col-50">
                    <a ng-click="GoToIndividualSector()">
                        <img src="img/home_imgs/tdreeb.png" class="br-5">
                    </a>
                </div>
            </div><!-- row no-gap -->
            <div class="banner br-5">
                <div class="row">
                    <div class="col-50 bannerText">
                        <p>
                            <b>إيبي ديمو</b>..راحة بال..
                            <br><big>920033660</big>
                        </p>
                    </div>
                    <div class="col-50" style="text-align: left;">
                        <img src="img/home_imgs/logo-EPDemo.png" width="90%" style="margin-top:13px;">
                    </div>
                </div><!-- row -->
            </div><!-- banner -->
        </div><!-- container -->
    </div>
</div>