﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">تفاصيل العقد</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>
<div class="page-content forms">


    <div class="confirm" ng-show="IsNotPaid">
        <a ng-click="PayNow()" class="button btn2 lang">ادفع الآن</a>
    </div>

    <div class="confirm" ng-hide="true">
        <a ng-click="Cancel()" class="button btn2 lang">إلغاء العقد</a>
    </div>

    <!--<div class="confirm" ng-show="IsNotPaid">
        <a ng-click="Cancel()" class="button btn2 lang">إلغاء العقد</a>
    </div>-->

    <div class="list inline-labels no-hairlines-md" ng-model="contract">
        <div ng-hide="contract.hideEmployeeData" class="data-table data-table-init card">
            <div class="card-header">
                <div class="data-table-title lang"> تفاصيل الطلب</div>
            </div>
            <div class="card-content">
                <table>
                    <tbody>
                        <tr>
                            <td class="label label-cell cellTable lang">رقم العقد</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{contract.contractNumber}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">الحالة</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{lang== 'AR' ? contract.statusAr : contract.statusEn}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">تاريخ العقد</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{contract.contractDate|date:'dd/MM/yyyy'}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">إسم العامل</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{contract.employeeName}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">الجنسية</td>
                            <td class="label label-cell">{{contract.requiredNationality}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">المهنة</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{contract.requiredProfession}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">رقم الطلب</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{contract.requestNumber}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="data-table data-table-init card">
            <div class="card-header">
                <div class="data-table-title lang">تفاصيل الباقة</div>
            </div>
            <div class="card-content">
                <table>
                    <tbody>
                        <tr>
                            <td class="label label-cell cellTable lang">الباقة</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{contract.pricingName}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">مدة التعاقد</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{contract.pricingType}} </td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">شهري</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{contract.monthlyPayment}} <small class="lang">ريال سعودي</small></td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">قيمة الضريبة المضافة</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{contract.vatAmount}} <small class="lang">ريال سعودي</small></td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">الضريبة المضافة %</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{contract.vatRate}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">السعر النهائي</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{contract.finalPrice}} <small class="lang">ريال سعودي</small></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="data-table data-table-init card">
            <div class="card-header">
                <div class="data-table-title lang">فواتير العقد</div>
            </div>
            <div class="card-content">
                <div>
                    <div ng-hide="noinvoices">
                        <div class="card" ng-repeat="invoice in invoices">
                            <div class="row" style="margin-bottom: 15px;">
                                <div class="col-100">
                                    <span class="spaninvoicestatus">{{lang== 'AR' ? invoice.statusAr : invoice.statusEn }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-70">
                                    <label><label>{{lblComplaintTicketNumber}}</label><span>{{invoice.number}}</span></label>
                                    <label><label>{{lblComplaintContractNumber}}</label><span>{{invoice.contract}}</span></label>
                                    <label><label>{{lblInvoiceValue}}</label><span>{{invoice.customerAmount}} {{lblContractCurrency}}</span></label>
                                    <label><label>{{lblComplaintTicketDesc}}</label><span>{{invoice.dueDate}}</span></label>
                                </div>
                                <div class="col-30">
                                    <div class="icon">
                                        <img class="image" src="img/contract.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-100 new">
                                <a ng-click="payNow({{invoice.name}})" href="#formss" class="button lang">ادفع الأن</a>
                            </div>
                        </div>
                    </div>

                    <div class="divAlertDesc" ng-show="noinvoices">
                        <div class="content-block">
                            <p class="lang">لا يوجد فواتير</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="confirm">
        <a ng-click="GoBack()" class="button btn2 lang">عودة</a>
    </div>
</div>