﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">تقديم طلب قطاع أفراد</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteMembers" class="page-content forms" ng-show="isLoaded">
    <form name="$parent.CreateForm" ng-submit="submitForm($parent.CreateForm.$valid)" novalidate>
        <div class="list inline-labels no-hairlines-md" style="margin-top:0px;">
            <ul>           
                <p id="log" class="lang">بيانات الخدمة المطلوبة</p>
                <li ng-hide="InReview">
                    <a id="linkNationality" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true">
                        <select name="nationality" ng-model="createForm.nationality" required>
                            <option ng-disabled="true" value="" class="lang">الجنسية</option>
                        </select>
                        <div class="item-content" ng-class="submittedCreate && createReset && !isNationalityValid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-title lang">اختر الجنسية<i class="ion-icons ion-chevron-left" style="margin-right: 5px;"></i></div>
                                <div id="divItemAfterCreateIndividualSectorNationality" class="item-after smart-select-value"></div>
                            </div>
                        </div>
                        <p ng-show="submittedCreate && createReset && !isNationalityValid" class="error-block lang">يجب اختيار الجنسية</p>
                    </a>
                </li>
                <li ng-hide="InReview">
                    <a id="linkRequiredProfession" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true">
                        <select name="requiredProfession" ng-model="createForm.requiredProfession" required>
                            <option ng-disabled="true" value="" class="lang">المهنة المطلوبة</option>
                        </select>
                        <div class="item-content" ng-class="submittedCreate && createReset && !isRequiredProfessionValid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-title lang">المهنة المطلوبة<i class="ion-icons ion-chevron-left" style="margin-right: 5px;"></i></div>
                                <div id="divItemAfterCreateRequiredProfession" class="item-after smart-select-value"></div>
                            </div>
                        </div>
                        <p ng-show="submittedCreate && createReset && !isRequiredProfessionValid" class="error-block lang">يجب اختيار المهنة المطلوبة</p>
                    </a>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-input">
                                <input id="txtServiceDescription" name="serviceDescription" class="form-control lang" type="text" placeholder="وصف الخدمة" ng-model="createForm.serviceDescription">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="list inline-labels no-hairlines-md">
            <ul>
                <p id="log" class="lang">بياناتك الشخصية</p>
                <li ng-show="showEmail">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-input">
                                <input id="txtEmail" name="email" required class="form-control lang" type="text" placeholder="البريد الإلكتروني" ng-pattern="emailRegex" ng-model="createForm.email">
                            </div>
                        </div>
                    </div>
                    <p ng-show="submittedCreate && createReset && $parent.CreateForm.email.$error.required" class="error-block">يجب إدخال البريد الإلكتروني</p>
                    <p ng-show="submittedCreate && createReset && $parent.CreateForm.email.$error.pattern" class="error-block lang">البريد الإلكتروني غير صحيح</p>
                    <p ng-show="submittedCreate && createReset && $parent.CreateForm.email.$error.minlength" class="error-block lang"></p>
                    <p ng-show="submittedCreate && createReset && $parent.CreateForm.email.$error.maxlength" class="error-block lang"></p>
                </li>
                <li ng-show="showCountry">
                    <a id="linkCountry" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true" data-searchbar="true" data-searchbar-placeholder="بحث عن دولة">
                        <select name="country" ng-model="createForm.country" required>
                            <option ng-disabled="true" value="" class="lang">الجنسية</option>
                        </select>
                        <div class="item-content" ng-class="submittedCreate && createReset && !isCountryValid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-title lang">اختر الجنسية<i class="ion-icons ion-chevron-left" style="margin-right: 5px;"></i></div>
                                <div id="divItemAfterCreateIndividualSectorCountry" class="item-after"></div>
                            </div>
                        </div>
                        <p ng-show="submittedCreate && createReset && !isCountryValid" class="error-block lang">يجب اختيار الدولة</p>
                    </a>
                </li>
                <li ng-show="showGender">
                    <a id="linkIndividualSectorGender" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true">
                        <select name="gender" ng-model="createForm.gender" required>
                            <option ng-disabled="true" value="" class="lang">النوع</option>
                        </select>
                        <div class="item-content" ng-class="submittedCreate && createReset && !isGenderValid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-title lang">اختر النوع<i class="ion-icons ion-chevron-left" style="margin-right: 5px;"></i></div>
                                <div id="divItemAfterCreateIndividualSectorGender" class="item-after"></div>
                            </div>
                        </div>
                        <p ng-show="submittedCreate && createReset && !isGenderValid" class="error-block lang">يجب اختيار النوع</p>
                    </a>
                </li>
                <li ng-show="showId">
                    <div class="item-content" ng-class="submittedCreate && createReset && ($parent.CreateForm.idNumber.$invalid || !isIdNumberCorrect)?'has-error':'no-error'">
                        <div class="item-inner">
                            <div class="item-input">
                                <input id="txtIdNumber" name="idNumber" class="form-control lang" type="number" placeholder="رقم الهوية" ng-model="createForm.idNumber" ng-minlength="10" ng-maxlength="10" required>
                            </div>
                        </div>
                    </div>
                    <p ng-show="submittedCreate && createReset && $parent.CreateForm.idNumber.$error.required" class="error-block lang">يجب إدخال رقم الهوية</p>
                    <p ng-show="submittedCreate && createReset && !isIdNumberCorrect" class="error-block lang">رقم الهوية يجب أن يبدأ بالرقم 1 للسعودية والرقم 2 لباقي البلدان</p>
                    <p ng-show="submittedCreate && createReset && $parent.CreateForm.idNumber.$error.minlength" class="error-block lang">رقم الهوية يجب أن يكون عشرة أرقام فقط</p>
                    <p ng-show="submittedCreate && createReset && $parent.CreateForm.idNumber.$error.maxlength" class="error-block lang">رقم الهوية يجب أن يكون عشرة أرقام فقط</p>
                </li>
                <li>
                    <div class="item-content" ng-class="submittedCreate && createReset && $parent.CreateForm.jobTitle.$error.required?'has-error':'no-error'">
                        <div class="item-inner">
                            <div class="item-input">
                                <input id="txtJobTitle" name="jobTitle" class="form-control lang" type="text" placeholder="المسمى الوظيفي" required ng-model="createForm.jobTitle">
                            </div>
                        </div>
                    </div>
                    <p ng-show="submittedCreate && createReset && $parent.CreateForm.jobTitle.$error.required" class="error-block">يجب إدخال المسمى الوظيفي</p>
                </li>
                <li>
                    <a id="linkTown" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true" data-searchbar="true" data-searchbar-placeholder="بحث عن مدينة">
                        <select name="town" ng-model="createForm.town" required>
                            <option ng-disabled="true" value="" class="lang">المدينة</option>
                        </select>
                        <div class="item-content" ng-class="submittedCreate && createReset && !isTownValid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-title lang">اختر المدينة<i class="ion-icons ion-chevron-left" style="margin-right: 5px;"></i></div>
                                <div id="divItemAfterCreateTown" class="item-after smart-select-value"></div>
                            </div>
                        </div>
                        <p ng-show="submittedCreate && createReset && !isTownValid" class="error-block lang">يجب اختيار المدينة</p>
                    </a>
                </li>              
                <li>
                    <div class="confirm">
                        <div class="row wizardDiv">
                            <button class="col-50 button btn1" ng-click="submittedCreate=true">
                                <span class="spanWizard lang">ارسال</span>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>
