﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right">
                <i class="ionicons ion-navicon"></i>
            </a>
        </div>
        <div class="center sliding lang">المهن</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>
<div class="page-content jobs">
    <div class="container">
        <div class="row " style="margin-top: 10px">
            <div class="col-6" ng-click="ShowPackages(nationality.nationalityId,profession)" ng-repeat="profession in nationality.professionCounts">
                <div class="card demo-card-header-pic">
                    <div valign="bottom" class="card-header color-white no-border">
                        <img class="img-fluid" loader="img/puff.svg" ng-src="{{profession.professionImage}}">
                    </div>
                    <div class="card-content">
                        <div class="card-content-inner text-center">
                            <span class="font-weight-bold">{{profession.profession}}</span>
                            <br>
                            <span class="text-secondary">العدد المتاح:{{profession.count}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


