﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
	<div class="navbar-inner sliding">
		<div class="left">
			<a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
		</div>
		<div class="center sliding lang">البحث</div>
		<div class="right">
			<a ng-click="GoBack()" class="link icon-only">
				<i class="ionicons ion-android-arrow-back"></i>
			</a>
		</div>
	</div>
</div>
<div class="page-content ad-filter">
	<form style="padding-left:10px; padding-right:10px;">
		<div class="list-block">
			<ul>
				<li>
					<a id="indvLinkExperience"href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true">
						<select ng-model="employee.experience" name="experience">
							<option class="lang"value="">لا فرق</option>
							<option class="lang" value="2">سبق له العمل</option>
							<option class="lang" value="1">لم يسبق له العمل</option>
						</select>
						<div class="item-content">
							<div class="item-inner">
								<div class="lang item-title">الخبرة</div>
								<div class="lang item-after">لا فرق</div>
							</div>
						</div>
					</a>
					
				</li>

				<li>
					<a id="indvLinkReligion" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true">
						<select ng-model="employee.religion" name="religion">
							<option class="lang"value="">غير محدد</option>
							<option class="lang" value="1">مسلم</option>
							<option class="lang" value="2">مسيحي</option>
						</select>
						<div class="item-content">
							<div class="item-inner">
								<div class="lang item-title">الديانة</div>
								<div class="lang item-after">غير محدد</div>
							</div>
						</div>
					</a>
				</li>

				<li>
					<a id="indvLinkSex" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true">
						<select ng-model="employee.sex" name="religion">
							<option class="lang" value="">غير محدد</option>
							<option class="lang" value="1">ذكر</option>
							<option class="lang" value="2">أنثي</option>
						</select>
						<div class="item-content">
							<div class="item-inner">
								<div class="lang item-title">النوع</div>
								<div class="lang item-after">غير محدد</div>
							</div>
						</div>
					</a>
				</li>
				<!--<li >

					<legend class="lang item-title col-form-label">النوع</legend>
					<div class="list-block">
						<ul>
							<li>
								<label class="label-radio item-content">
									<input type="radio" name="sex" ng-model="employee.sex" value="1">
									<div class="item-media">
										<i class="icon icon-form-radio"></i>
									</div>
									<div class="item-inner">
										<div  class="lang item-title">ذكر</div>
									</div>
								</label>
							</li>
							<li>
								<label class="label-radio item-content">
									<input type="radio"  name="sex" ng-model="employee.sex" value="2">
									<div class="item-media">
										<i class="icon icon-form-radio"></i>
									</div>
									<div class="item-inner">
										<div  class="lang item-title">أنثي</div>
									</div>
								</label>
							</li>
							<li>
								<label class="label-radio item-content">
									<input type="radio"  name="sex" ng-model="employee.sex"value="Null" checked="checked">
									<div class="item-media">
										<i class="icon icon-form-radio"></i>
									</div>
									<div class="item-inner">
										<div  class="lang item-title">غير محدد</div>
									</div>
								</label>
							</li>
						</ul>
					</div>

				
					
				</li>-->
				<li>
					<div class="form-group row">
						<div class="col-12">
							<p class="lang">العمر</p>
							<div class="row">
								<div class="col-2">
									<label>{{minAge}}</label>
								</div>
								<div class="col-8 p-0">
									<div id="slider-connect-age"></div>
								</div>
								<div class="col-2">
									<label>{{maxAge}}</label>
								</div>
							</div>
							
						</div>
					</div>
				</li>

				<li>
					<a id="indvLinkCanCook" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true">
						<select ng-model="employee.canCook" name="religion">
							<option class="lang" value="">غير محدد</option>
							<option class="lang" value="true">نعم</option>
							<option class="lang" value="false">لا</option>
						</select>
						<div class="item-content">
							<div class="item-inner">
								<div class="lang item-title">إجادة الطبخ والتنظيف</div>
								<div class="lang item-after">غير محدد</div>
							</div>
						</div>
					</a>
				</li>

				<!--<li>
				<legend class="lang item-title col-form-label">إجادة الطبخ والتنظيف</legend>
						<div class="list-block">
							<ul>
								<li>
									<label class="label-radio item-content">
										<input type="radio" id="t1-option" name="canCook" ng-model="employee.canCook" value="true">
										<div class="item-media">
											<i class="icon icon-form-radio"></i>
										</div>
										<div class="item-inner">
											<div class="lang item-title">نعم</div>
										</div>
									</label>
								</li>
								<li>
									<label class="label-radio item-content">
										<input type="radio" id="f1-option" name="canCook" ng-model="employee.canCook"value="Null" checked="checked">
										<div class="item-media">
											<i class="icon icon-form-radio"></i>
										</div>
										<div class="item-inner">
											<div class="lang item-title">غير محدد</div>
										</div>
									</label>
								</li>
							
							</ul>
						</div>
					
					
				</li>-->

				<li>
					<a id="indvLinkTreatChildren" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true">
						<select ng-model="employee.treatChildren" name="religion">
							<option class="lang" value="">غير محدد</option>
							<option class="lang" value="true">نعم</option>
							<option class="lang" value="false">لا</option>
						</select>
						<div class="item-content">
							<div class="item-inner">
								<div class="lang item-title">إجادة المعاملة مع الأطفال</div>
								<div class="lang item-after">غير محدد</div>
							</div>
						</div>
					</a>
				</li>
				<!--<li>
					
						<legend class="lang item-title col-form-label">إجادة المعاملة مع الأطفال</legend>
					<ul>
						<li>
							<label class="label-radio item-content">
								<input type="radio" id="t2-option" name="treatChildren" ng-model="employee.treatChildren" value="true">
                                  <div class="item-media">
									<i class="icon icon-form-radio"></i>
								</div>
								<div class="item-inner">
									<div class="lang item-title">نعم</div>
								</div>
							</label>
						</li>
						<li>
							<label class="label-radio item-content">
								<input type="radio" id="f2-option" name="treatChildren" ng-model="employee.treatChildren" value="false">
								<div class="item-media">
									<i class="icon icon-form-radio"></i>
								</div>
								<div class="item-inner">
									<div class="lang item-title">لا</div>
								</div>
							</label>
						</li>
						<li>
							<label class="label-radio item-content">
								<input type="radio" id="n2-option" name="treatChildren" ng-model="employee.treatChildren"value="Null" checked="checked">
								<div class="item-media">
									<i class="icon icon-form-radio"></i>
								</div>
								<div class="item-inner">
									<div class="lang item-title">غير محدد</div>
								</div>
							</label>
						</li>
					</ul>
					
				</li>-->

				<li>
					<a id="indvLinkTreatOld" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true">
						<select ng-model="employee.treatOld" name="religion">
							<option class="lang" value="">غير محدد</option>
							<option class="lang" value="true">نعم</option>
							<option class="lang" value="false">لا</option>
						</select>
						<div class="item-content">
							<div class="item-inner">
								<div class="lang item-title">إجادة معاملة كبار السن</div>
								<div class="lang item-after">غير محدد</div>
							</div>
						</div>
					</a>
				</li>

				<!--<li>
						<legend class="lang item-title col-form-label">إجادة معاملة كبار السن</legend>
						<ul>
							<li>
								<label class="label-radio item-content">
									<input type="radio"  name="treatOld" ng-model="employee.treatOld" value="true">
									<div class="item-media">
										<i class="icon icon-form-radio"></i>
									</div>
									<div class="item-inner">
										<div class="lang item-title">نعم</div>
									</div>
								</label>
							</li>
							<li>
								<label class="label-radio item-content">
									<input type="radio"  name="treatOld" ng-model="employee.treatOld" value="false">
									<div class="item-media">
										<i class="icon icon-form-radio"></i>
									</div>
									<div class="item-inner">
										<div class="lang item-title">لا</div>
									</div>
								</label>
							</li>
							<li>
								<label class="label-radio item-content">
									<input type="radio"  name="treatOld" ng-model="employee.treatOld"value="Null" checked="checked">
									<div class="item-media">
										<i class="icon icon-form-radio"></i>
									</div>
									<div class="item-inner">
										<div class="lang item-title">غير محدد</div>
									</div>
								</label>
							</li>
						</ul>
					
				</li>-->
				<li>
					<a id="indvLinkSpeakEnglish" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true">
						<select ng-model="employee.speakEnglish" name="religion">
							<option class="lang" value="">غير محدد</option>
							<option class="lang" value="true">نعم</option>
							<option class="lang" value="false">لا</option>
						</select>
						<div class="item-content">
							<div class="item-inner">
								<div class="lang item-title">إجادة اللغة الإنجليزية</div>
								<div class="lang item-after">غير محدد</div>
							</div>
						</div>
					</a>
				</li>
				<!--<li>
						<legend class="lang item-title col-form-label">إجادة اللغة الإنجليزية</legend>
						<ul>
							<li>
								<label class="label-radio item-content">
									<input type="radio" id="t4-option" name="speakEnglish" ng-model="employee.speakEnglish" value="true">

									<div class="item-media">
										<i class="icon icon-form-radio"></i>
									</div>
									<div class="item-inner">
										<div class="lang item-title">نعم</div>
									</div>
								</label>
							</li>
							<li>
								<label class="label-radio item-content">
									<input type="radio" id="f4-option" name="speakEnglish" ng-model="employee.speakEnglish" value="false">
									<div class="item-media">
										<i class="icon icon-form-radio"></i>
									</div>
									<div class="item-inner">
										<div class="lang item-title">لا</div>
									</div>
								</label>
							</li>
							<li>
								<label class="label-radio item-content">
									<input type="radio" name="speakEnglish" ng-model="employee.speakEnglish"value="Null" checked="checked">

									<div class="item-media">
										<i class="icon icon-form-radio"></i>
									</div>
									<div class="item-inner">
										<div class="lang item-title">غير محدد</div>
									</div>
								</label>
							</li>
						</ul>
				</li>-->


				<li>
					<div style="padding:10px;">
						<div class="text-center">
							<button type="button" ng-click="GoToSearchResults(employee)" class="btn btn-primary btn-lg btn-block lang">عرض</button>
						</div>
					</div>
				</li>

			</ul>
		
		</div>

	</form>

</div>
