﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">استكمال البيانات</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteindvCompleteProfile" class="page-content forms" ng-show="isLoaded">
    <div class="cards">
        <div class="smart">
            <div class="circle1">
                <a href="#formss">
                    <div class="circular1">
                    </div>
                </a>
            </div>
            <div class="circle2">
                <a href="#forms2">
                    <div class="circular2">
                    </div>
                </a>
            </div>
            <div class="circle3">
                <a href="#forms3">
                    <div class="circular3">
                    </div>
                </a>
            </div>
            <div class="circle4">
                <a href="#forms4">
                    <div class="circular4"  id="child" style="background-color: #59c5ff;">
                    </div>
                </a>
            </div>


         
        </div>
    </div>

    <div class="list inline-labels no-hairlines-md">
        <form name="$parent.IndvCompleteProfileForm" ng-submit="submitForm($parent.IndvCompleteProfileForm)" novalidate>
            <ul>
                <p id="log" class="lang">استكمال البيانات</p>
                <li>
                    <div class="item-content no-error">
                        <div class="item-inner">
                            <div class="item-input">
                                <input name="fullName" class="form-control lang" type="text" placeholder="الإسم بالكامل" ng-model="indvCompleteProfileForm.fullName" readonly>
                            </div>
                        </div>
                    </div>
                </li>
            
              
                <li>
                    <a id="linkindvCompleteProfileCountry" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true" data-searchbar="true" data-searchbar-placeholder="بحث عن دولة">
                        <select name="country" ng-model="indvCompleteProfileForm.country" required>
                            <option ng-disabled="true" value="" class="lang">الجنسية</option>
                        </select>
                        <div class="item-content" ng-class="submittedindvCompleteProfile && indvCompleteProfileReset && !isCountryValid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-title lang">اختر الجنسية<i class="ion-icons ion-chevron-left" style="margin-right: 5px;"></i></div>
                                <div id="divItemAfterCreateCountry" class="item-after"></div>
                            </div>
                        </div>
                        <p ng-show="submittedindvCompleteProfile && indvCompleteProfileReset && !isCountryValid" class="error-block lang">يجب اختيار الجنسية</p>
                    </a>
                </li>
                <li>
                    <a id="linkindvCompleteProfileCity" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true" data-searchbar="true" data-searchbar-placeholder="بحث عن مدينة">
                        <select name="city" ng-model="indvCompleteProfileForm.city" required>
                            <option ng-disabled="true" value="" class="lang">المدينة</option>
                        </select>
                        <div class="item-content" ng-class="submittedindvCompleteProfile && indvCompleteProfileReset && !isCityValid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-title lang">اختر المدينة<i class="ion-icons ion-chevron-left" style="margin-right: 5px;"></i></div>
                                <div id="divItemAfterCreateCity" class="item-after"></div>
                            </div>
                        </div>
                        <p ng-show="submittedindvCompleteProfile && indvCompleteProfileReset && !isCityValid" class="error-block lang">يجب اختيار المدينة</p>
                    </a>
                </li>
                <li>
                    <a id="linkindvCompleteProfileGender" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true">
                        <select name="gender" ng-model="indvCompleteProfileForm.gender" required>
                            <option ng-disabled="true" value="" class="lang">الجنس</option>
                        </select>
                        <div class="item-content" ng-class="submittedindvCompleteProfile && indvCompleteProfileReset && !isGenderValid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-title lang">اختر الجنس<i class="ion-icons ion-chevron-left" style="margin-right: 5px;"></i></div>
                                <div id="divItemAfterCreateGender" class="item-after"></div>
                            </div>
                        </div>
                        <p ng-show="submittedindvCompleteProfile && indvCompleteProfileReset && !isGenderValid" class="error-block lang">يجب اختيار الجنس</p>
                    </a>
                </li>

				<li>
					<div class="item-content" ng-class="submittedindvCompleteProfile && indvCompleteProfileReset && ($parent.IndvCompleteProfileForm.idNumber.$invalid || !isIdNumberCorrect)?'has-error':'no-error'">
						<div class="item-inner">
							<div class="item-input">
								<input name="idNumber" class="form-control lang" type="text" placeholder="رقم الهوية او الإقامة" ng-model="indvCompleteProfileForm.idNumber" ng-minlength="10" ng-maxlength="10" required>
							</div>
						</div>
					</div>
					<p ng-show="submittedindvCompleteProfile && indvCompleteProfileReset && $parent.IndvCompleteProfileForm.idNumber.$error.required" class="error-block lang">يجب إدخال رقم الهوية</p>
					<p ng-show="submittedindvCompleteProfile && indvCompleteProfileReset && !isIdNumberCorrect" class="error-block lang">رقم الهوية يجب أن يبدأ بالرقم 1 للسعودية والرقم 2 لباقي البلدان</p>
					<p ng-show="submittedindvCompleteProfile && indvCompleteProfileReset && $parent.IndvCompleteProfileForm.idNumber.$error.minlength" class="error-block lang">رقم الهوية يجب أن يكون عشرة أرقام فقط</p>
					<p ng-show="submittedindvCompleteProfile && indvCompleteProfileReset && $parent.IndvCompleteProfileForm.idNumber.$error.maxlength" class="error-block lang">رقم الهوية يجب أن يكون عشرة أرقام فقط</p>
				</li>

				<li>
					<div class="head" style="border-radius: 0px 0px 10px 10px;">
						
						<div class="imgEdit" ng-click="AddUserImage()" ng-class="isUserImageEmpty?'has-error':'no-error'">
							<div class="overlay" ng-if="!userImageElement.loading">
								<img src="https://png.icons8.com/color/100/000000/receipt-filled.png" style="width: 120px !important;border:  none !important;border-radius: initial !important;height: 120px !important;position: relative !important;" />
							</div>
							<div class="overlayProgress" ng-if="userImageElement.loading">
								<img name="imgProgress" src="img/puff.svg" />
							</div>
							<img name="imgUserAgent" image-loader="{{userImageElement.src | generateURL}}" loader="img/puff.svg" place-holder="img/noImage.png" />
						</div>
						<p ng-show="isUserImageEmpty" class="error-block lang"> يجب اختيار صورة الإقامة او الهوية</p>
					</div>
				</li>
                <li>
                    <div class="confirm">
                        <div class="row wizardDiv">
                            <button ng-click="GoBack()" type="button" class="col-50 button btn1">
                                <big ng-class="{'ionicons ion-ios-arrow-forward':isArabic,'ionicons ion-ios-arrow-back':!isArabic}"></big>
                                &nbsp; &nbsp;
                                <span class="spanWizard lang">السابق</span>
                            </button>
                            <button type="submit" class="col-50 button btn1" ng-click="submittedindvCompleteProfile=true">
                                <span class="spanWizard lang">التالي</span>
                                &nbsp; &nbsp;
                                <big ng-class="{'ionicons ion-ios-arrow-forward':!isArabic,'ionicons ion-ios-arrow-back':isArabic}"></big>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>