﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right">
                <i class="ionicons ion-navicon"></i>
            </a>
        </div>
        <div class="center sliding lang">الباقات</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfinitePackages" class="page-content packages">
    <div id="PackagesSwiper" class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" ng-click="GetAvailableEmployees(package.nationalityId,package.professionId,package.id)" ng-class="GetPackageClass(package)" ng-repeat="package in Packages">
                <img class="img-fluid" ng-src="img/pk0{{package.typeId}}.png" alt="{{package.name}}">
                <div>
                    <h3 class="pkg-name">{{package.typeName}}</h3>
                    <hr>
                    <p>
                        <span>دفعة مقدمة :</span>
                        <span>{{package.prePaid}} ريال سعودي</span>
                    </p>
                    <p>
                        <span>شهري :</span>
                        <span>{{package.monthelyPaid}} ريال سعودي</span>
                    </p>
                    <button class="btn h3" ng-click="GetAvailableEmployees(package.nationalityId,package.professionId,package.id)">حجز</button>
                </div>
            </div>
        </div>
    </div>
</div>
