﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">العقود</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteIndvContracts" class="page-content infinite-scroll pull-to-refresh-content complain" ng-model="user" ng-show="isLoaded">

    <div class="pull-to-refresh-layer">
        <img ng-src="img/puff.svg" class="preloader" />
        <div class="pull-to-refresh-arrow"></div>
    </div>

    <div ng-hide="noContracts">
        <div ng-click="GoToContractDetails(contract)" class="card" ng-repeat="contract in contracts">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-100">
                    <span class="spanContractStatus">{{contract.statusName}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-70">
                    <label><label>{{lblComplaintTicketNumber}}</label><span>{{contract.contractNum}}</span></label>
                    <label><label>{{lblComplaintContractNumber}}</label><span>{{contract.finalPrice}} {{lblContractCurrency}}</span></label>
                    <label><label>{{lblComplaintTicketDesc}}</label><span>{{contract.createdOn}}</span></label>
                </div>
                <div class="col-30">
                    <div class="icon">
                        <img class="image" src="img/contract.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="advNoResult" ng-show="noContracts">
        <div class="content-block">
            <img src="img/noData.png" height="128" width="128" />
            <p class="lang">لا يوجد عقود</p>
        </div>
    </div>

    <div id="infiniteLoaderContracts" class="infiniteLoader" ng-show="contractsInfiniteLoader">
        <img ng-src="img/puff.svg" />
    </div>

    <div class="new">
        <a ng-click="AddNewContract()" href="#formss" class="button lang">اضافة عقد جديد</a>
    </div>
</div>