﻿
<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">الجنسيات</div>
        <div class="right">
            <a ng-click="GoBack()" href="#" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>
<div class="page-content countries">

    <div class="card text-center" ng-click="ShowNationalityDetails(item)" ng-repeat="item in Nationalities">
        <div class="row">
            <div class="col bg-blue" ng-style="{'background':item.imgSrc}">
                <p class="C-name rounded-circle bg-white font-weight-bold">{{item.nationality}}</p>
            </div>
            <div class="col m-auto text-right ">
                <div class="job-block" ng-repeat="profession in item.professionCounts">
                    <span class="font-weight-bold">{{profession.profession}}</span>
                    <br>
                    <span class="text-muted">العدد المتاح : {{profession.count}}</span>

                    <hr ng-hide="profession.LastOne" class="separator">
                </div>
            </div>
        </div>
    </div>
</div>