﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">نتائج البحث</div>
		<!--<span>({{totalCount=totalCount?totalCount:0;}})</span>-->
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>
<div class="page-content infinite-scroll pull-to-refresh-content order " id="divInfiniteIndvSearchResults" ng-show="isLoaded">

    <div class="pull-to-refresh-layer">
        <img ng-src="img/puff.svg" class="preloader" />
        <div class="pull-to-refresh-arrow"></div>
    </div>

    <!-- F I L T E R  B L O C K -->
    <div class="list-block" style="margin-top: 10px !important;" ng-hide="noEmployees">
        <ul>
            <li>
                <a href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true">
                    <select ng-model="SortBy">
                        <option value="birthdate">العمر</option>
                        <option value="name">الاسم</option>
                    </select>
                    <div class="item-content" style="margin-bottom:0px !important;">
                        <div class="item-inner">
                            <div class="item-title">ترتيب حسب</div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <!-- S E A R C H  R E S U L T -->
    <div style="margin-top: 10px" ng-hide="noEmployees">
        <div class="card" ng-click="CreateIndvContract(employee.employeeId)" ng-repeat="employee in Employees |orderBy:SortBy">
            <div class="card-header text-center">
                {{professionName}}
            </div>
            <div class="card-content text-right">
                <div class="card-content-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-4 p-1">
                                <div class="p_photo rounded m-auto text-center">
                                    <img ng-show="ShowEmployeePhoto" name="imgUserAgent" image-loader="{{employee.imgSrc | generateURL}}" loader="img/puff.svg" place-holder="img/img.JPG" style="width:100%;height:100%" />
									<img  ng-show="!ShowEmployeePhoto" name="imgUserAgent" image-loader="img/img.JPG" loader="img/puff.svg" place-holder="img/img.JPG" style="width:100%;height:100%" />

                                </div>
                            </div>

                            <div class="col-8 p-1">
                                <div class="des">
                                    <p class="limited-name">
                                        <span class="des-icon"><i class="material-icons">person</i></span>
                                        <span>{{employee.name}}</span>
                                    </p>
                                    <p>
                                        <span class="des-icon"> <i class="material-icons">outlined_flag</i></span>
                                        <span class="">{{employee.nationality}}</span>
                                    </p>
                                    <p>
                                        <span class="des-icon"> <i class="material-icons">brightness_5</i></span>
                                        <span class="">{{GetReligion(employee.religion)}}</span>
                                    </p>
                                </div>
                            </div>

                            <div class="col-12  p-1 " ng-show="employee.skills.length>0">
                                <div class="skills-sec  rounded">
                                    <p class="mb-1 f-15">
                                        <i class="material-icons f-15">location_searching</i>
                                        المهارات
                                    </p>
                                    <div class="row">
                                        <div class="col-12" ng-repeat="skill in employee.skills">
                                            <p class="skill-list f-13"><i class="material-icons f-13">arrow_left</i>{{skill}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- search btn -->
    <div>
        <a ng-click="SearchResults()" href="#" class="search-btn btn">
            <i class="material-icons">search</i>
        </a>
    </div>

    <div class="advNoResult" ng-show="noEmployees">
        <div class="content-block">
            <img src="img/noData.png" height="128" width="128" />
            <p class="lang">لا يوجد افراد</p>
        </div>
    </div>

    <div id="infiniteLoaderSearchResults" class="infiniteLoader" ng-show="SearchResultsLoader">
        <img ng-src="img/puff.svg" />
    </div>



</div>
