﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">نجاح</div>
    </div>
</div>

<div id="divInfiniteContractDetails" class="page-content forms" ng-show="isLoaded">
    <div class="cards">
        <div class="smart">
            <div class="circle1">
                <a href="#formss">
                    <div class="circular1 circularEN">
                    </div>
                </a>
            </div>
            <div class="circle2">
                <a href="#forms2">
                    <div class="circular2 circularEN">
                    </div>
                </a>
            </div>
            <div class="circle3">
                <a href="#forms3">
                    <div class="circular3 circularEN">
                    </div>
                </a>
            </div>
            <div class="circle4">
                <a href="#forms4">
                    <div class="circular4 circularEN" id="child" style="background-color: #59c5ff;">
                    </div>
                </a>
            </div>
       

        </div>
    </div>

    <div class="list inline-labels no-hairlines-md" style="margin-top: 20vh;" ng-model="contract">
        <ul style="text-align:center;">
            <li>
                <p id="success" class="lang">تم التعاقد بنجاح</p>
            </li>
            <li>
                <p id="number"><label class="lang">رقم العقد</label> : <span>{{contract.ContractNum}}</span>.</p>
            </li>
           
            <li>																			 
                <p id="pay"><label class="lang">من فضلك ادفع مبلغ</label><span> {{contract.totalPriceWithVat}} </span><label class="lang">ريال سعودي فقط لاغير</label></p>
            </li>
        </ul>
    </div>

    <div class="confirm">
        <a ng-click="PayNow()" href="#first" class="button btn2 lang">ادفع الان</a>
    </div>

</div>