﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
	<div class="navbar-inner sliding">
		<div class="left">
			<a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
		</div>
		<div class="center sliding lang">تفاصيل العقد</div>
		<div class="right">
			<a ng-click="GoBack()" class="link icon-only">
				<i class="ionicons ion-android-arrow-back"></i>
			</a>
		</div>
	</div>
</div>
<div class="page-content forms">

	<div class="cards">
		<div class="smart">
			<div class="circle1">
				<a href="#formss">
					<div class="circular1 circularEN">
					</div>
				</a>
			</div>
			<div class="circle2">
				<a href="#forms2">
					<div class="circular2 circularEN">
					</div>
				</a>
			</div>
			<div class="circle3 ">
				<a href="#forms3">
					<div class="circular3 circularEN" id="child" style="background-color: #59c5ff;">
					</div>
				</a>
			</div>
			<div class="circle4 ">
				<a href="#forms4">
					<div class="circular4 circularEN" >
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="list inline-labels no-hairlines-md" ng-model="employee">
		<div class="data-table data-table-init card">
			<div class="card-header">
				<div class="data-table-title lang">البيانات الأساسية</div>
			</div>
			<div class="card-content">
				<table>
					<tbody>
						<tr>
							<td class="label label-cell cellTable lang">إسم العامل</td>
							<td class="label label-cell" style="word-wrap: break-word;">{{employee.name}}</td>
						</tr>
						<tr>
							<td class="label label-cell cellTable lang">الجنسية</td>           
							<td class="label label-cell" style="word-wrap: break-word;">{{employee.nationality}}</td>
						</tr>
						<tr>
							<td class="label label-cell cellTable lang">الديانة</td>
							<td class="label label-cell">{{GetReligion(employee.religion)}}</td>
						</tr>
						<tr>
							<td class="label label-cell cellTable lang">النوع</td>
							<td class="label label-cell" style="word-wrap: break-word;">{{GetGender(employee.sex)}}</td>
						</tr>
						<tr>
							<td class="label label-cell cellTable lang">الحاله الإجتماعيه</td>
							<td class="label label-cell" style="word-wrap: break-word;">{{GetMarital_Status(employee.marital_Status)}}</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
		<div class="data-table data-table-init card">
			<div class="card-header">
				<div class="data-table-title lang">تفاصيل الباقة</div>
			</div>
			<div class="card-content">
			
			</div>
		</div>
	</div>

	<div class="confirm">
		<div class="row wizardDiv">
			<button ng-click="GoBack()" href="#formss" class="col-50 button btn1">
				<big ng-class="{'ionicons ion-ios-arrow-forward':isArabic,'ionicons ion-ios-arrow-back':!isArabic}"></big>
				&nbsp; &nbsp;
				<span class="spanWizard lang">السابق</span>
			</button>
			<button ng-click="GoToSuccess()" href="#forms3" class="col-50 button btn1">
				<span class="spanWizard lang">التالي</span>
				&nbsp; &nbsp;
				<big ng-class="{'ionicons ion-ios-arrow-forward':!isArabic,'ionicons ion-ios-arrow-back':isArabic}"></big>
			</button>
		</div>
	</div>
</div>