﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
	<div class="navbar-inner sliding">
		<div class="left">
			<a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
		</div>
		<div class="center sliding lang">بيانات العميل</div>
		<div class="right">
			<a ng-click="GoBack()" class="link icon-only">
				<i class="ionicons ion-android-arrow-back"></i>
			</a>
		</div>
	</div>
</div>
<div class="page-content forms">

	<div class="cards">
		<div class="smart">
			<div class="circle1">
				<a href="#formss">
					<div class="circular1 circularEN">
					</div>
				</a>
			</div>
			<div class="circle2">
				<a href="#forms2">
					<div class="circular2 circularEN" id="child" style="background-color: #59c5ff;">
					</div>
				</a>
			</div>
			<div class="circle3 ">
				<a href="#forms3">
					<div class="circular3 circularEN">
					</div>
				</a>
			</div>
			<div class="circle4 ">
				<a href="#forms4">
					<div class="circular4 circularEN">
					</div>
				</a>
			</div>
		</div>
	</div>

	<div class="list inline-labels no-hairlines-md">
		<form name="$parent.SectorForm" ng-submit="submitForm($parent.SectorForm.$valid)" novalidate>
			<ul>

				<li>
					<a id="indvLinkSectorType" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true">
						<select name="Sector" ng-model="SectorForm.workingSector" required>
							<option ng-disabled="true" value="" class="lang">قطاع العمل</option>
							<option value="1" class="lang">حكومي</option>
							<option value="2" class="lang">قطاع خاص</option>
						</select>
						<div class="item-content" ng-class="submittedSector && sectorReset && !isSectorTypeValid?'has-error':'no-error'">
							<div class="item-inner">
								<div class="item-title lang">قطاع العمل<i class="ion-icons ion-chevron-left" style="margin-right: 5px;"></i></div>
								<div id="divItemAfterCreateSectorType" class="item-after"></div>
							</div>
						</div>
						<p ng-show="submittedSector && sectorReset && !isSectorTypeValid" class="error-block lang">يجب اختيار نوع العمل</p>
					</a>

				</li>
				<li>
					<div class="item-content" ng-class="submittedSector && SectorReset && !isSectorAddressValid?'has-error':'no-error'">
						<div class="item-inner">
							<div class="item-input">
								<input id="txtSectorAddress" name="sectorAddress" class="form-control lang" type="text" placeholder="عنوان العمل" ng-model="SectorForm.workingAddress" >
							</div>
						</div>
					</div>
					

				</li>
				<li>
					<div class="item-content" ng-class="submittedSector && SectorReset && !isWorkingPlaceValid?'has-error':'no-error'">
						<div class="item-inner">
							<div class="item-input">
								<input id="txtIndvWorkingPlace" name="workingPlace" class="form-control lang" type="text" placeholder="مكان العمل" ng-model="SectorForm.workingPlace" required>
							</div>
						</div>
					</div>
					

				</li>
				<li>

					<div class="confirm">
						<div class="row wizardDiv">
							<button ng-click="GoBack()" href="#formss" class="col-50 button btn1">
								<big ng-class="{'ionicons ion-ios-arrow-forward':isArabic,'ionicons ion-ios-arrow-back':!isArabic}"></big>
								&nbsp; &nbsp;
								<span class="spanWizard lang">السابق</span>
							</button>
							<button type="submit" href="#forms3" class="col-50 button btn1" ng-click="submittedSector=true">
								<span class="spanWizard lang">التالي</span>
								&nbsp; &nbsp;
								<big ng-class="{'ionicons ion-ios-arrow-forward':!isArabic,'ionicons ion-ios-arrow-back':isArabic}"></big>
							</button>
						</div>
					</div>
				</li>
			</ul>

		</form>
	</div>

</div>