﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang"> الرئيسية</div>
    </div>
</div>

<div id="divInfiniteIntro" class="page-content main pull-to-refresh-content intro  page-bg" ng-show="isLoaded">

    <div class="pull-to-refresh-layer" ng-show="isLoaded">
        <img ng-src="img/puff.svg" class="preloader" />
        <div class="pull-to-refresh-arrow"></div>
    </div>

    <div class="container">
        <div class="banner br-5">
            <div class="">
                <!--<div class="col-50 bannerText">
                    <p>
                        <b>إيبي ديمو</b>..راحة بال..
                        <br><big>920033660</big>
                    </p>
                </div>
                <div class="col-50" style="text-align: left;">
                    <a href="">
                        <img src="img/home_imgs/logo-EPDemo.png" width="90%" style="margin-top:13px;" class="br-5">
                    </a>
                </div>-->
                <div id="IntroSwiper" class="swiper-container" ng-show="IsOffersLoaded">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" ng-repeat="offer in Offers">
                            <img name="imgUserAgent" ng-src="{{offer.imageName | generateURL}}" place-holder="img/noImage.png" style="width:100%;height:150px" />
                        </div>
                        <div>
                            <h3 class="pkg-name" style="font-size:10px;text-align:center;">{{offer.description}}</h3>
                        </div>
                    </div>
                    <!--<div class="swiper-pagination"></div>-->
                </div>
                <div ng-hide="IsOffersLoaded">
                    <img name="imgUserAgent" ng-src="img/puff.svg" place-holder="img/puff.svg" style="width:100%;height:150px" />
                </div>
            </div>
        </div>

        <div class="row no-gap" style="margin-bottom: 8px;">
            <div class="col-50">
                <a href="" ng-click="GoToServiceDetails('Dalal')">
                    <img src="img/home_imgs/dallal.png" class="br-5">
                </a>
            </div>
            <div class="col-50">
                <a ng-click="GoToServiceDetails('Tadbeer')">
                    <img src="img/home_imgs/tdbeer.png" class="br-5">
                </a>
            </div>
        </div><!-- row no-gap -->

        <div class="row no-gap">
            <div class="col-50">
                <a href="" ng-click="GoToServiceDetails('mosa3ed')">
                    <img src="img/home_imgs/mosa3ed.png" class="br-5">
                </a>
            </div>
            <div class="col-50">
                <a href="" ng-click="GoToServiceDetails('wasatah')">
                    <img src="img/home_imgs/gahez.png" class="br-5">
                </a>
            </div>
        </div><!-- row no-gap -->

        <div class="row no-gap btns">
            <div class="col-50">
                <a ng-click="GoToContact()" href="" class="homeBtn homeBtn1 br-5 lang">فروعنا</a>
            </div>
            <div class="col-50">
                <a ng-click="GoToBusiness()" href="" class="homeBtn homeBtn1 br-5 lang ">خدمات الأعمال</a>
            </div>
        </div><!-- row no-gap -->

    </div><!-- container -->

</div>

