﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang"> الرئيسية</div>
    </div>
</div>

<div id="divInfiniteIntro" class="page-content main pull-to-refresh-content intro  page-bg" ng-show="isLoaded">

    <div class="pull-to-refresh-layer" ng-show="isLoaded">
        <img ng-src="img/puff.svg" class="preloader" />
        <div class="pull-to-refresh-arrow"></div>
    </div>

    <div class="container">
        <div class="banner br-5">
            <div class="">
                <div id="IntroSwiper" class="swiper-container" ng-show="IsOffersLoaded">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" ng-repeat="offer in Offers">
                            <img name="imgUserAgent" ng-src="{{offer.imageName | generateURL}}" place-holder="img/noImage.png" style="width:100%;height:150px" />
                        </div>
                        <div>
                            <h3 class="pkg-name" style="font-size:10px;text-align:center;">{{offer.description}}</h3>
                        </div>
                    </div>
                </div>
                <div ng-hide="IsOffersLoaded">
                    <img name="imgUserAgent" ng-src="img/puff.svg" place-holder="img/puff.svg" style="width:100%;height:150px" />
                </div>
            </div>
        </div>

        <div class="row no-gap" style="margin-bottom: 8px;">
            <div class="col-50" style="background: #fff;border-radius: 5px;text-align: center;min-height: 100px;line-height: 100px;">
                <a href="" ng-click="GoToServiceDetails('Members')">
                    <p class="lang" style="font-size: 15px;position: relative;background: #00a2e8;margin: 10px;color: #fff;">أفراد الشركة</p>
                </a>
            </div>
            <div class="col-50" style="background: #fff;border-radius: 5px;text-align: center;min-height: 100px;line-height: 100px;">
                <a ng-click="GoToServiceDetails('Mission')">
                    <p class="lang" style="font-size: 15px;position: relative;background: #00a2e8;margin: 10px;color: #fff;">أهداف الشركة</p>
                </a>
            </div>
        </div>
        <div class="row no-gap" style="margin-bottom: 8px;">
            <div class="col-50" style="background: #fff;border-radius: 5px;text-align: center;min-height: 100px;line-height: 100px;">
                <a href="" ng-click="GoToServiceDetails('Branches')">
                    <p class="lang" style="font-size: 15px;position: relative;background: #00a2e8;margin: 10px;color: #fff;">فروعنا</p>
                </a>
            </div>
            <div class="col-50" style="background: #fff;border-radius: 5px;text-align: center;min-height: 100px;line-height: 100px;">
                <a href="" ng-click="GoToServiceDetails('Medical')">
                    <p class="lang" style="font-size: 15px;position: relative;background: #00a2e8;margin: 10px;color: #fff;">القطاع الطبي</p>
                </a>
            </div>
        </div>
        <div class="row no-gap" style="margin-bottom: 8px;">
            <div class="col-50" style="background: #fff;border-radius: 5px;text-align: center;min-height: 80px;line-height: 80px;">
                <a href="" ng-click="GoToServiceDetails('request')">
                    <p class="lang" style="font-size: 15px;position: relative;background: #00a2e8;margin: 10px;color: #fff;">تقديم طلب</p>
                </a>
            </div>
            <div class="col-50" id="divContactUs" style="background: #fff;border-radius: 5px;text-align: center;min-height: 80px;line-height: 80px;">
                <a href="" ng-click="GoToServiceDetails('ContactUs')">
                    <p class="lang" style="font-size: 15px;position: relative;background: #00a2e8;margin: 10px;color: #fff;">تواصل معنا</p>
                </a>
            </div>
        </div>
    </div>
</div>