﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">العنوان</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteLocation" class="page-content forms" ng-show="isLoaded">
    <div class="cards">
        <div class="smartReview">
            <div class="circle1">
                <a href="#formss">
                    <div class="circular1 circularEN">
                    </div>
                </a>
            </div>
            <div class="circle2 circularEN">
                <a href="#forms2">
                    <div class="circular2 circularEN" style="background-color: #59c5ff;">
                    </div>
                </a>
            </div>
            <div class="circle3">
                <a href="#forms3">
                    <div class="circular3 circularEN">
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div id="divMapRevContainer" class="content-block" ng-class="submittedLocation && locationReset && !isMapValid?'has-error':'no-error'">
        <div id="tripMapRev" class="map"></div>
        <p ng-show="submittedLocation && locationReset && !isMapValid" class="error-block lang">يجب اختيار موقعك علي الخريطة</p>
    </div>

    <div class="list inline-labels no-hairlines-md">
        <form name="$parent.LocationRevForm" ng-submit="submitForm($parent.LocationRevForm.$valid)" novalidate>
            <br />
            <ul>
                <p id="log" class="lang">اختر موقعك على الخريطة</p>          
                <li>
                    <div class="item-content" ng-class="submittedLocation && locationReset && !isareaNameValid ?'has-error':'no-error'">
                        <div class="item-inner">
                            <div class="item-input">
                                <input id="txtAreaNameRev" name="areaName" class="form-control lang" type="text" placeholder="اسم المنطقة" ng-model="LocationRevForm.areaName" required style="text-align-last: {{txtAlignValue}};"/> 
                            </div>
                        </div>
                    </div>
                    <p ng-show="submittedLocation && locationReset && !isareaNameValid" class="error-block lang">يجب ادخال اسم المنطقة</p>
                </li>

                <li>
                    <div class="item-content" ng-class="submittedLocation && locationReset && !isStreetNameValid ?'has-error':'no-error'">
                        <div class="item-inner">
                            <div class="item-input">
                                <input id="txtStreetNameRev" name="streetName" class="form-control lang" type="text" placeholder="اسم الشارع" ng-model="LocationRevForm.streetName" required style="text-align-last: {{txtAlignValue}};"/>
                            </div>
                        </div>
                    </div>
                    <p ng-show="submittedLocation && locationReset && !isStreetNameValid" class="error-block lang">يجب ادخال اسم الشارع</p>
                </li>

                <li>
                    <div class="item-content" ng-class="submittedLocation && locationReset && (!isHouseNumberValid || !isHouseNumberFormatCorrect)?'has-error':'no-error'">
                        <div class="item-inner">
                            <div class="item-input">
                                <input id="txtHouseNumberRev" name="houseNumber" class="form-control lang" type="text" placeholder="رقم المنزل" ng-model="LocationRevForm.houseNumber" required style="text-align-last: {{txtAlignValue}};"/>
                            </div>
                        </div>
                    </div>
                    <p ng-show="submittedLocation && locationReset && !isHouseNumberValid" class="error-block lang">يجب اختيار رقم المنزل</p>
                    <p ng-show="submittedLocation && locationReset && !isHouseNumberFormatCorrect" class="error-block lang">رقم المنزل يجب ان يحتوي علي ارقام وحروف فقط</p>
                </li>
                <li ng-hide="isHouseVilla">
                    <div class="item-content" ng-class="submittedLocation && locationReset && (!isAppratmentNumberValid || !isAppartmentNumberFormatCorrect)?'has-error':'no-error'">
                        <div class="item-inner">
                            <div class="item-input">
                                <input id="txtAppartmentNumberRev" name="appartmentNumber" class="form-control lang" type="text" placeholder="رقم الشقة" ng-model="LocationRevForm.appartmentNumber" required style="text-align-last: {{txtAlignValue}};"/>
                            </div>
                        </div>
                    </div>
                    <p ng-show="submittedLocation && locationReset && !isAppratmentNumberValid" class="error-block lang">يجب اختيار رقم الشقة</p>
                    <p ng-show="submittedLocation && locationReset && !isAppartmentNumberFormatCorrect" class="error-block lang">رقم الشقه يجب ان يحتوي علي ارقام وحروف فقط</p>
                </li>
                <li>
                    <input name="houseAddress" id="txtHouseRevAddress" class="form-control lang" type="text" placeholder="العنوان .. مثال : بجوار مدرسة" ng-model="LocationRevForm.houseAddress" style="text-align-last: {{txtAlignValue}};"/>
                </li>
                <li>
                    <div class="confirm">
                        <div class="row wizardDiv">
                            <button ng-click="GoBack()" href="#formss" class="col-50 button btn1">
                                <big ng-class="{'ionicons ion-ios-arrow-forward':isArabic,'ionicons ion-ios-arrow-back':!isArabic}"></big>
                                &nbsp; &nbsp;
                                <span class="spanWizard lang">السابق</span>
                            </button>
                            <button type="submit" href="#forms3" class="col-50 button btn1" ng-click="submittedLocation=true">
                                <span class="spanWizard lang">التالي</span>
                                &nbsp; &nbsp;
                                <big ng-class="{'ionicons ion-ios-arrow-forward':!isArabic,'ionicons ion-ios-arrow-back':isArabic}"></big>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>