﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">تحديد الموقع</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteLocation" class="page-content forms" ng-show="isLoaded">
    <div class="cards">
        <div class="smart">
            <div class="circle1">
                <a href="#formss">
                    <div class="circular1 circularEN">
                    </div>
                </a>
            </div>
            <div class="circle2">
                <a href="#forms2">
                    <div class="circular2 circularEN">
                    </div>
                </a>
            </div>
            <div class="circle3 ">
                <a href="#forms3">
                    <div class="circular3 circularEN" id="child" style="background-color: #59c5ff;">
                    </div>
                </a>
            </div>
            <div class="circle4">
                <a href="#forms4">
                    <div class="circular4 circularEN">
                    </div>
                </a>
            </div>
            <div class="circle5">
                <a href="#forms5">
                    <div class="circular5 circularEN">
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div id="divMapContainer" class="content-block" ng-class="submittedLocation && locationReset && !isMapValid?'has-error':'no-error'">
        <div id="tripMap" class="map"></div>
        <p ng-show="submittedLocation && locationReset && !isMapValid" class="error-block lang">يجب اختيار موقعك علي الخريطة</p>
    </div>

    <div class="list inline-labels no-hairlines-md">
        <form name="$parent.LocationForm" ng-submit="submitForm($parent.LocationForm.$valid)" novalidate>
            <ul>
                <p id="log" class="lang">اختر موقعك على الخريطة</p>
                <li>
                    <a id="linkLocationHouseType" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true">
                        <select name="houseType" ng-model="locationForm.houseType" required>
                            <option ng-disabled="true" value="" class="lang">نوع المنزل</option>
                        </select>
                        <div class="item-content" ng-class="submittedLocation && locationReset && !isHouseTypeValid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-title lang">اختر نوع المنزل<i class="ion-icons ion-chevron-left" style="margin-right: 5px;"></i></div>
                                <div id="divItemAfterCreateHouseType" class="item-after"></div>
                            </div>
                        </div>
                        <p ng-show="submittedLocation && locationReset && !isHouseTypeValid" class="error-block lang">يجب اختيار نوع المنزل</p>
                    </a>
                </li>
                <li>
                    <a id="linkLocationFloorNumber" href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="إغلاق" data-back-on-select="true">
                        <select name="floorNumber" ng-model="locationForm.floorNumber" required>
                            <option ng-disabled="true" value="" class="lang">رقم الطابق</option>
                        </select>
                        <div class="item-content" ng-class="submittedLocation && locationReset && !isFloorNumberValid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-title lang">اختر رقم الطابق<i class="ion-icons ion-chevron-left" style="margin-right: 5px;"></i></div>
                                <div id="divItemAfterCreateFloorNumber" class="item-after"></div>
                            </div>
                        </div>
                        <p ng-show="submittedLocation && locationReset && !isFloorNumberValid" class="error-block lang">يجب اختيار رقم الطابق</p>
                    </a>
                </li>
                <li>
                    <div class="item-content" ng-class="submittedLocation && locationReset && (!isHouseNumberValid || !isHouseNumberFormatCorrect)?'has-error':'no-error'">
                        <div class="item-inner">
                            <div class="item-input">
                                <input id="txtHouseNumber" name="houseNumber" class="form-control lang" type="text" placeholder="رقم المنزل" ng-model="locationForm.houseNumber" required>
                            </div>
                        </div>
                    </div>
                    <p ng-show="submittedLocation && locationReset && !isHouseNumberValid" class="error-block lang">يجب اختيار رقم المنزل</p>
                    <p ng-show="submittedLocation && locationReset && !isHouseNumberFormatCorrect" class="error-block lang">رقم المنزل يجب ان يحتوي علي ارقام وحروف فقط</p>
                </li>
                <li ng-hide="isHouseVilla">
                    <div class="item-content" ng-class="submittedLocation && locationReset && (!isAppratmentNumberValid || !isAppartmentNumberFormatCorrect)?'has-error':'no-error'">
                        <div class="item-inner">
                            <div class="item-input">
                                <input id="txtAppartmentNumber" name="appartmentNumber" class="form-control lang" type="text" placeholder="رقم الشقة" ng-model="locationForm.appartmentNumber" required>
                            </div>
                        </div>
                    </div>
                    <p ng-show="submittedLocation && locationReset && !isAppratmentNumberValid" class="error-block lang">يجب اختيار رقم الشقة</p>
                    <p ng-show="submittedLocation && locationReset && !isAppartmentNumberFormatCorrect" class="error-block lang">رقم الشقه يجب ان يحتوي علي ارقام وحروف فقط</p>
                </li>
                <li>
                    <input name="houseAddress" class="form-control lang" type="text" placeholder="العنوان .. مثال : بجوار مدرسة" ng-model="locationForm.houseAddress">
                </li>
                <li>
                    <div class="confirm">
                        <div class="row wizardDiv">
                            <button ng-click="GoBack()" href="#formss" class="col-50 button btn1">
                                <big ng-class="{'ionicons ion-ios-arrow-forward':isArabic,'ionicons ion-ios-arrow-back':!isArabic}"></big>
                                &nbsp; &nbsp;
                                <span class="spanWizard lang">السابق</span>
                            </button>
                            <button type="submit" href="#forms3" class="col-50 button btn1"ng-click="submittedLocation=true">
                                <span class="spanWizard lang">التالي</span>
                                &nbsp; &nbsp;
                                <big ng-class="{'ionicons ion-ios-arrow-forward':!isArabic,'ionicons ion-ios-arrow-back':isArabic}"></big>
                            </button>
                        </div>
                    </div>

                    <!--<div class="row wizardDiv">
                        <div class="col-50">
                            <div class="confirm">
                                <button type="submit" class="button btn1 lang" ng-click="submittedLocation=true"><i class="ionicons ion-ios-arrow-forward"></i></button>
                            </div>
                        </div>
                        <div class="col-50">
                            <div class="confirm">
                                <button ng-click="GoBack()" type="button" class="button btn2 lang"><i class="ionicons ion-ios-arrow-back"></i></button>
                            </div>
                        </div>
                    </div>-->
                </li>
            </ul>
        </form>
    </div>
</div>