﻿<div class="page-content page-bg">
        <div class="logo">
            <img class="img" src="img/logo.png" width="70%" />
        </div>
        <div class="list inline-labels no-hairlines-md">
            <form name="$parent.LoginReviewForm" ng-submit="submitForm($parent.LoginReviewForm.$valid)" novalidate>
                <ul>
                    <li class="item-content item-input">
                        <div ng-class="submittedLogin && loginReset && $parent.LoginReviewForm.mobile.$invalid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-input-wrap">
                                    <input type="tel" class="form-control lang" name="mobile" placeholder="رقم الجوال" ng-pattern="mobileRegex" ng-model="loginReviewForm.mobile" required ng-minlength="10" ng-maxlength="10" style="text-align-last:{{txtAlignValue}};"/>
                                </div>
                            </div>
                        </div>
                        <p ng-show="submittedLogin && loginReset && $parent.LoginReviewForm.mobile.$error.required" class="error-block lang">يجب إدخال رقم الجوال</p>
                        <p ng-show="submittedLogin && loginReset && $parent.LoginReviewForm.mobile.$error.pattern" class="error-block lang">رقم الجوال غير صحيح</p>
                        <p ng-show="submittedLogin && loginReset && $parent.LoginReviewForm.mobile.$error.minlength" class="error-block lang">رقم الجوال يجب أن يكون عشرة أرقام فقط</p>
                        <p ng-show="submittedLogin && loginReset && $parent.LoginReviewForm.mobile.$error.maxlength" class="error-block lang">رقم الجوال يجب أن يكون عشرة أرقام فقط</p>
                    </li>
                    <li class="item-content item-input">
                        <div ng-class="submittedLogin && loginReset && $parent.LoginReviewForm.password.$invalid?'has-error':'no-error'">
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="password" class="form-control lang" name="password" placeholder="كلمة المرور" ng-model="loginReviewForm.password" required style="text-align-last:{{txtAlignValue}};">
                                </div>
                            </div>
                        </div>
                        <p ng-show="submittedLogin && loginReset  && $parent.LoginReviewForm.password.$error.required" class="error-block lang">يجب إدخال كلمة السر</p>
                    </li>
                </ul>
                <p style="margin-top: 10px;display: inline-flex;margin-bottom: 10px;font-size: 12px;text-align:center;width:100%;">
                <a ng-click="GoToForgetPassword()" class="link lang">نسيت كلمة المرور ؟</a>
                </p>
                <p class="confirm">
                    <button id="btnLoginReview" type="submit" class="button button-big lang" ng-click="submittedLogin=true">دخول</button>
                </p>
                
            </form>
            <p class="confirm" style="text-align:center;width:100%;">
                <button ng-click="GoToSignUp()" class="button button-big lang">تسجيل حساب جديد</button>
            </p>
            <p style="text-align:center;width:100%;">
                <button ng-click="PassToHome()" class="button button-big noBg lang">تخطي</button>
            </p>
        </div>
</div>