﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">القطاع الطبي</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteMedical" class="page-content medicalServices" ng-show="isLoaded">
    <div class="card">
        <div class="description">
            <h4 class="lang">المنشأت الطبية</h4>
        </div>
        <div class="row justify-content-center">
            <div class="list inline-labels no-hairlines-md">
                <ul>
                    <li><div class="whiteCard"><p class="lang">الكـــــوادر الطـبــيــــة والاستشارية بـكــافــــــة تخصصاتها الدارجة أوالنادرة</p></div></li>
                    <li><div class="whiteCard"><p class="lang">التخصصات التمـريضية بكافة فئاتها</p></div></li>
                    <li><div class="whiteCard"><p class="lang">التخصـصـــات الـفــنــيـــــة والإدارية المساعــدة</p></div></li>
                    <li><div class="whiteCard"><p class="lang">التخصـصـات المهنـيــــة والمـســانــــدة</p></div></li>
                </ul>
            </div>
        </div>
        <div class="description">
            <h4 class="lang">المرافق الشخصي</h4>
        </div>
        <div class="row justify-content-center">
            <div class="list inline-labels no-hairlines-md">
                <ul>
                    <li><div class="whiteCard"><p class="lang">المرافق الشخصى فى المستشفيات ورحلات العلاج</p></div></li>
                    <li><div class="whiteCard"><p class="lang">المرافق الشخصي في المنازل</p></div></li>
                </ul>
            </div>
        </div>
        <div class="description">
            <h4 class="lang">برنامج مساعد - الكوادر الصحية للأفراد</h4>
        </div>
        <div class="row justify-content-center">
            <div class="list inline-labels no-hairlines-md">
                <ul>
                    <li><div class="whiteCard"><p class="lang">العلاج الطبيعي المنزلي</p></div></li>
                    <li><div class="whiteCard"><p class="lang">العلاج الوظيفي المنزلي</p></div></li>
                    <li><div class="whiteCard"><p class="lang">الممرضة المنزلية</p></div></li>
                </ul>
            </div>
        </div>
    </div>
    <!--<div class="card">
        <div class="description">
            <h4 class="lang">المرافق الشخصي</h4>
        </div>
        <div class="row justify-content-center">
            <div class="list inline-labels no-hairlines-md">
                <ul>
                    <li><div class="whiteCard"><p class="lang">المرافق الشخصى فى المستشفيات ورحلات العلاج</p></div></li>
                    <li><div class="whiteCard"><p class="lang">المرافق الشخصي في المنازل</p></div></li>
                </ul>
            </div>
        </div>
    </div>-->
    <!--<div class="card">
        <div class="description">
            <h4 class="lang">برنامج مساعد - الكوادر الصحية للأفراد</h4>
        </div>
        <div class="row justify-content-center">
            <div class="list inline-labels no-hairlines-md">
                <ul>
                    <li><div class="whiteCard"><p class="lang">العلاج الطبيعي المنزلي</p></div></li>
                    <li><div class="whiteCard"><p class="lang">العلاج الوظيفي المنزلي</p></div></li>
                    <li><div class="whiteCard"><p class="lang">الممرضة المنزلية</p></div></li>
                </ul>
            </div>
        </div>
    </div>-->
    <div class="confirm">
        <a ng-click="CallUs()" class="button btn1 lang">اتصل بنا</a>
    </div>
</div>