﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">أفراد الشركة</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteMembers" class="page-content manager" ng-show="isLoaded">
    <div class="list inline-labels no-hairlines-md">
        <p id="managerName" class="lang">عبدالرحمن سليمان المحيميد</p>
        <h4 style="margin: 5px 0" class="lang">الرئيس التنفيذي لشركة إيبي ديمو.</h4>
        <ul>
            <li><p class="lang">2016 نائب الرئيس التنفيذي - شركة جال للموارد البشرية.</p></li>
            <li><p class="lang">2012 نائب الرئيس التنفيذي - شركة الموارد للأستقدام</p></li>
            <li><p class="lang">2011 مدير عام الموارد البشرية والإدارية - شركة العيوني القابضة.</p></li>
            <li><p class="lang">2010 مدير عام الموارد البشرية والإدارية - شركة توليدو العربية  "أكوا القابضة".</p></li>
            <li><p class="lang">2005 نائب المدير العام ورئيس إدارة الشؤون المالية والإدارية - شركة الفهاد للمقاولات و التشغيل.</p></li>
            <li><p class="lang">2002 مدير الموارد البشرية والإدارية - الشركة الوطنية الزراعية.</p></li>
            <li><p class="lang">2000 محلل مالي - الحرس الوطني و شركة فينيل.</p></li>
        </ul>
    </div>
    <div class="list inline-labels no-hairlines-md">
        <p id="managerName" class="lang">سعيد محمد الحارثي</p>
        <h4 style="margin: 5px 0" class="lang">مدير عام الأصول البشرية – شركة إيبي ديمو.</h4>
        <ul>
            <li><p class="lang">2016 مدير عام الموارد البشرية والادارية – شركة الأفضل - مجموعة العيسى القابضة.</p></li>
            <li><p class="lang">2014 مدير عام الموارد البشرية والشؤون الادارية – شركة زهران القابضة. </p></li>
            <li><p class="lang">2012 مدير الموارد البشرية والشؤون الادارية – شركة العيوني للاستثمار والمقاولات.</p></li>
            <li><p class="lang">2010 مشرف الموارد البشرية – شركة توليدو العربية ) أكوا القابضة (.</p></li>
            <li><p class="lang">2008 مشرف في الموارد البشرية – برنامج طائرات F15 - شركة الألكترونيات المتقدمة المحدودة.</p></li>
            <li><p class="lang">2007 أخصائي اتفاقيات - شركة ريثيون الشرق الأوسط - الدفاع الجوي .</p></li>
            <li><p class="lang">1995 أخصائي عقود - شركة بوينج الشرق الأوسط - شركة لوكهيد مارتن - شركة السلام للطائرات - شركة بان نسما.</p></li>
        </ul>
    </div>
    <div class="list inline-labels no-hairlines-md">
        <p id="managerName" class="lang">محمد دواس العنزي</p>
        <h4 style="margin: 5px 0" class="lang">مدير عام الإدارة الطبية - شركة إيبي ديمو.</h4>
        <ul>
            <li><p class="lang">2012 مدير الموارد البشرية - مستشفى الجزيرة.</p></li>
            <li><p class="lang">2002 مدير الموارد البشرية - مستشفى رعاية الرياض.</p></li>
            <li><p class="lang">1991 مدير خدمات فندقية - فندق الأنتركونتناتل.</p></li>
        </ul>
    </div>
    <div class="list inline-labels no-hairlines-md">
        <p id="managerName" class="lang">هشام ابراهيم فكري</p>
        <h4 style="margin: 5px 0" class="lang">المستشار المالي – شركة إيبي ديمو.</h4>
        <ul>
            <li><p class="lang">2015 مدير الإدارة المالية – شركة الأجير للتوظيف.</p></li>
            <li><p class="lang">2013 مدير الإدارة المالية – شركة الموارد للتوظيف.</p></li>
            <li><p class="lang">2009 مدير الإدارة المالية – شركة الأمتياز للتكنولوجيا المحدودة.</p></li>
            <li><p class="lang">2007 رئيس حسابات – شركة المجال العربي القابضة.</p></li>
        </ul>
    </div>
    <div class="list inline-labels no-hairlines-md">
        <p id="managerName" class="lang">يوسف محمد الشهري</p>
        <h4 style="margin: 5px 0" class="lang">مدير المبيعات – شركة إيبي ديمو.</h4>
        <ul>
            <li><p class="lang">2013 مدير مبيعات – شركة الموارد للتوظيف .</p></li>
            <li><p class="lang">2008 مدير الخدمة المصرفية لكبار العملاء – البنك الفرنسي .</p></li>
        </ul>
    </div>
    <div class="list inline-labels no-hairlines-md">
        <p id="managerName" class="lang">عبدالله صالح الرشيد</p>
        <h4 style="margin: 5px 0" class="lang">مدير إدارة الافراد – إيبي ديمو.</h4>
        <ul>
            <li><p class="lang">2011 مدير قسم الموارد البشرية - شركة البدائل للإستشارات الهندسية</p></li>
            <li><p class="lang">2010 مدير العلاقات العامة – شركة توليدو العربية ) أكوا القابضة (.</p></li>
            <li><p class="lang">2008 مدير إدارة الموارد البشرية – مؤسسة خدمات الأعمار للمقاولات</p></li>
            <li><p class="lang">2007 مدير علاقات حكومية – مؤسسة حدائق رند للمقاولات.</p></li>
        </ul>
    </div>
    <div class="list inline-labels no-hairlines-md">
        <p id="managerName" class="lang">طلال البرديس</p>
        <h4 style="margin: 5px 0" class="lang">مدير عام إدارة التوظيف الدولي – شركة إيبي ديمو.</h4>
        <ul>
            <li><p class="lang">2013 مدير العمليات – شركة الموارد للتوظيف.</p></li>
            <li><p class="lang">2004 مدير العمليات – البنك السعودي الامريكى.</p></li>
        </ul>
    </div>
</div>