﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">أهداف الشركة</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteMission" class="page-content about" ng-show="isLoaded">
    <div class="welcome">
        <div class="row">
            <div class="col-40">
                <div class="welImg">
                    <img class="img" src="img/w1.png">
                </div>
            </div>
            <div class="col-60">
                <div class="description">
                    <p class="lang">توفــر الاعداد الكافيــة مــن الموظفــن المتعاقديــن الذى تحتاجهــم الشــركات والمؤسســات فــي مختلــف القطاعــات، وبشـكلٍ يراعـي أهميـة الوقـت فـي تنفيـذ كل الإجراءات.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="welcome">
        <div class="row">
            <div class="col-40">
                <div class="welImg">
                    <img class="img" src="img/w2.png">
                </div>
            </div>
            <div class="col-60">
                <div class="description">
                    <p class="lang">توفير موظفين متعاقدين مهرة ومتمكنين ً مهنيــا، يضيفــون إلــى المشــاريع المختلفــة قيمــة نوعيــة حقيقيــة، ويســهمون فــي تحقيــق أهــداف مختلــف الأعمال التجاريــة والصناعيــة والعقاريــة والخدميــة.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="welcome">
        <div class="row">
            <div class="col-40">
                <div class="welImg">
                    <img class="img" src="img/w3.png">
                </div>
            </div>
            <div class="col-60">
                <div class="description">
                    <p class="lang">تقديـم خدمـات متميـزة لعملائنا، عبر إدارة العلاقة معهــم بشــكل احترافى يضمــن ّاطلاعهم ورضاهـم ومتابعتهـم لـكل الأعمال المتعلقــة بموظفيهــم المتعاقديــن، بشــكل لحظــي، وعبر أحــدث وســائل التقنيــة.</p>
                </div>
            </div>
        </div>
    </div>
</div>