﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">أهداف الشركة</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteMission" class="page-content about" ng-show="isLoaded">
    <div class="welcome">
        <div class="row">
            <div class="col-40">
                <div class="welImg">
                    <img class="img" src="img/w1.png">
                </div>
            </div>
            <div class="col-60">
                <div class="description">
                    <p class="lang">توفــر الاعداد الكافيــة مــن الموظفــن المتعاقديــن الذى تحتاجهــم الشــركات والمؤسســات فــي مختلــف القطاعــات، وبشـكلٍ يراعـي أهميـة الوقـت فـي تنفيـذ كل الإجراءات.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="welcome">
        <div class="row">
            <div class="col-40">
                <div class="welImg">
                    <img class="img" src="img/w2.png">
                </div>
            </div>
            <div class="col-60">
                <div class="description">
                    <p class="lang">توفير موظفين متعاقدين مهرة ومتمكنين ً مهنيــا، يضيفــون إلــى المشــاريع المختلفــة قيمــة نوعيــة حقيقيــة، ويســهمون فــي تحقيــق أهــداف مختلــف الأعمال التجاريــة والصناعيــة والعقاريــة والخدميــة.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="welcome">
        <div class="row">
            <div class="col-40">
                <div class="welImg">
                    <img class="img" src="img/w3.png">
                </div>
            </div>
            <div class="col-60">
                <div class="description">
                    <p class="lang">تقديـم خدمـات متميـزة لعملائنا، عبر إدارة العلاقة معهــم بشــكل احترافى يضمــن ّاطلاعهم ورضاهـم ومتابعتهـم لـكل الأعمال المتعلقــة بموظفيهــم المتعاقديــن، بشــكل لحظــي، وعبر أحــدث وســائل التقنيــة.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="welcome">
        <div class="row">
            <div class="col-100">
                <div class="welMsg">
                    <h5 class="lang">رسالة الشركة :</h5>
                </div>
            </div>
            <div class="col-100">
                <div class="description">
                    <p class="lang">العمـل علـى تمكين المنشـآت والأفراد مـن التركيـز علـى أعمالهـم الأساسية إضافـة إلـى مسـاعدتهم علـى تحقيـق الكفـاءة والفاعليـة عبر تزويدهم ً بمـا يحتاجونـه مـن مـوارد بشـرية، مـع إدارة شـؤونها كليـا ً أو جزئيـا ً نيابـة عنهـم.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="welcome">
        <div class="row">
            <div class="col-100">
                <div class="welMsg">
                    <h5 class="lang">رؤية الشركة المستقبلية :</h5>
                </div>
            </div>
            <div class="col-100">
                <div class="description">
                    <p class="lang">أن نكـون الشـريك المفضـل للمنشـآت والأفراد فـي مجـال اسـتقدام المـوارد البشـرية، وأن نكـون العلامة التجاريـة الأفضل بين شـركات الاستقدام والتشـغيل فـي المملكـة العربيـة السـعودية.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="welcome">
        <div class="row">
            <div class="col-100">
                <div class="welMsg">
                    <h5 class="lang">استراتيجية العمل :</h5>
                </div>
            </div>
            <div class="col-100">
                <div class="description">
                    <p class="lang">يقـوم العمـل فـي »إيبي ديمو« علـى استـراتيجية عمـل واضحـة محـددة المعالـم والاهداف. وتؤمـن الشـركة بأنـه لـن يوجـد إنجـاز إذا لـم ُيكن هنـاك ُ أهـداف مرسـومة لتحقـق، ودون خطـة تسـهل الوصـول إلـى هـذه الأهداف. وبعد البحث والتحليل وتطوير مسارات الخطط جزءا مهما من عملية بناء الاستراتيجية فى إيبي ديمو فلا خطة مجدية بدون أسس معرفية صلبة يتم البناء عليها للمستقبل</p>
                    <br/>
                    <p class="lang">وبعـد ان تـم بنـاء الجانـب النظـري مـن اسـراتيجية العمـل، ضخـت ”إيبي ديمو“ المـوارد الماليـة الكافيـة لتحويـل هذه الاستراتيجة إلــى واقــع ملمــوس عــر تطبيــق كافــة مكوناتهــا. وتســعى »إيبي ديمو« خــلال الســنوات الخمــس القادمــة إلــى مضاعفــة إيراداتهـا والتوسـع فـي أسـواقها وأنشـطتها كمـاو ونوعـا ، لتصبـح كيانـا تجاريـا متعـدد المـوارد وذا مركـز مالـي قـوي ووضـعٍ استـراتيجي آمـن ومسـتقر</p>
                </div>
            </div>
        </div>
    </div>
</div>