﻿\F<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">طلباتي</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteUserOrders" class="page-content infinite-scroll pull-to-refresh-content complain" ng-model="myOrders" ng-show="isLoaded">

    <div class="pull-to-refresh-layer">
        <img ng-src="img/puff.svg" class="preloader" />
        <div class="pull-to-refresh-arrow"></div>
    </div>
    <div ng-hide="noOrders" style="margin-bottom:40px;">
        <div class="card" ng-repeat="order in myOrders">
            <div class="row">
                <div class="col-70">
                    <label style="display:block !important;"><label>{{lblUserFullName}} <span>{{order.fullName}}</span></label></label>
                    <label style="display:block !important;"><label>{{lblUserMobile}}<span>{{order.mobile}} {{lblContractCurrency}}</span></label></label>
                    <label style="display:block !important;"><label>{{lblOrderDetails}}<span>{{order.details}}</span></label></label>
                </div>
                <div class="col-30">
                    <div class="icon">
                        <img class="image" src="img/contract.jpg" style="border-radius: 50%;" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="advNoResult" ng-show="noOrders">
        <div class="content-block">
            <img src="img/noData.png" height="128" width="128" />
            <p class="lang">لا يوجد طلبات</p>
        </div>
    </div>

    <div id="infiniteLoaderOrders" class="infiniteLoader" ng-show="contractsInfiniteLoader">
        <img ng-src="img/puff.svg" />
    </div>
</div>