﻿<div id="divNavBar" class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="title center lang">نقاطي</div>
        <div class="right">
            <a class="link icon-only back">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div class="page-content categories">

    <div class="row divHeader">
        <div class="col-100">
            <h5>
                <span class="lang">لديك نقاط ولاء</span>
                <span class="spanPoints">{{AllPoints}}</span>
                <span class="lang">نقطة صالحة للاستخدام</span>
            </h5>
        </div>
        <div class="col-100">
            <h5>
                <span class="lang">لديك رصيد ولاء</span>
                <span class="spanPoints">{{pointAmount}}</span>
                <span class="lang">ريال سعودي للاستخدام</span>
            </h5>
        </div>
    </div>

    <div class="content-block">
        <div class="row justify-content-center">

            <div class="col-100 tablet-25">
                <a href="#" ng-click="PointsDetails('100000001')">
                    <div class="card" style="height:100px;line-height:70px;color: #03a9f4;">
                        <div class="card-content" >
                            <div class="card-content-inner">
                                <div class="row no-gutter">
                                    <div class="col-100">
                                        <div class="lang" style="text-align:center;">النقاط المفعلة</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-100 tablet-25">
                <a href="#" ng-click="PointsDetails('100000000')">
                    <div class="card" style="height:100px;line-height:70px;color: #03a9f4;">
                        <div class="card-content" >
                            <div class="card-content-inner">
                                <div class="row no-gutter">
                                    <div class="col-100">
                                        <div class="lang" style="text-align:center;">النقاط الغير مفعلة</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-100 tablet-25">
                <a href="#" ng-click="ConsumedPointsDetails()">
                    <div class="card" style="height:100px;line-height:70px;color: #03a9f4;">
                        <div class="card-content">
                            <div class="card-content-inner">
                                <div class="row no-gutter">
                                    <div class="col-100">
                                        <div class="lang" style="text-align:center;">النقاط المستهلكة</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>