﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">طريقة الدفع</div>
    </div>
</div>

<div id="divInfinitePaymentMethod" class="page-content  paymentMethod" ng-show="isLoaded">

    <div class="inner">
        <p class="lang">اختر طريقة الدفع</p>
        <a ng-click="PayOnline()" class="btn1 button button-round button-fill  button-big">
            <label class="lang">ادفع اونلاين</label>
        </a>

        <a ng-click="GoToBankTransfer()" class="btn1 button button-round button-fill  button-big">
            <label class="lang">تحويل بنكي</label>
        </a>
    </div>



    <p id="discount" style="color: #9a2020 !important;font-size: 12px !important;
         margin-bottom: 10px !important;border-radius: 0px !important;background-color: #ff00001c !important;" ng-bind-html="payMessage"></p>
</div>