﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">اختر موقع سابق</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteLocation" class="page-content forms" ng-show="isLoaded">
    <div class="cards">
        <div class="smart">
            <div class="circle1">
                <a href="#formss">
                    <div class="circular1 circularEN">
                    </div>
                </a>
            </div>
            <div class="circle2">
                <a href="#forms2">
                    <div class="circular2 circularEN">
                    </div>
                </a>
            </div>
            <div class="circle3 ">
                <a href="#forms3">
                    <div class="circular3 circularEN" id="child" style="background-color: #59c5ff;">
                    </div>
                </a>
            </div>
            <div class="circle4">
                <a href="#forms4">
                    <div class="circular4 circularEN">
                    </div>
                </a>
            </div>
            <div class="circle5">
                <a href="#forms5">
                    <div class="circular5 circularEN">
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div id="divPreviousLocationContainer" class="content-block" ng-hide="NoLocations">
        <p class="lang" id="discount" style="color: #FFF !important;font-size: 12px !important;
         margin-bottom: 10px !important;border-radius: 0px !important;background-color: rgb(89, 197, 255) !important;text-align:center !important">اختر موقع سابق</p>
    </div>

    <div class="list inline-labels no-hairlines-md" ng-hide="NoLocations">
        <div class="col-100" ng-repeat="location in previousLocations" style="padding:10px;">
            <div class="days">
                <label class="label label-checkbox item-content days" style="border: none;padding: 0;">
                    <input ng-attr-id="{{ 'chkLocation_' + location.id }}" class="myCheckBox" type="radio" name="my-checkbox" value="Books">
                    <div class="item-media" ng-click="selectLocation(location,$index)">
                        <i class="icon icon-form-checkbox"></i>{{location.name}}
                    </div>
                </label>
            </div>
        </div>
    </div>

    <div class="confirm" style="bottom: 0;position: absolute;width: 100%;">
        <div class="row wizardDiv">
            <button ng-click="GoBack()" href="#formss" class="col-50 button btn1">
                <big ng-class="{'ionicons ion-ios-arrow-forward':isArabic,'ionicons ion-ios-arrow-back':!isArabic}"></big>
                &nbsp; &nbsp;
                <span class="spanWizard lang">السابق</span>
            </button>
            <button ng-click="GoToPickLocation()" href="#forms3" class="col-50 button btn1">
                <span class="spanWizard lang">التالي</span>
                &nbsp; &nbsp;
                <big ng-class="{'ionicons ion-ios-arrow-forward':!isArabic,'ionicons ion-ios-arrow-back':isArabic}"></big>
            </button>
        </div>
    </div>

    <div class="advNoResult" ng-show="NoLocations">
        <div class="content-block">
            <img src="img/noData.png" height="128" width="128" />
            <p class="lang">لا يوجد مواقع سابقة</p>
        </div>
    </div>
</div>