﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">تفاصيل الطلب</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>
<div class="page-content forms">


    <div class="confirm" ng-show="IsNotPaid">
        <a ng-click="PayNow()" class="button btn2 lang">ادفع الآن</a>
    </div>

    <div class="confirm" ng-show="IsNotPaid">
        <a ng-click="Cancel()" class="button btn2 lang">إلغاء الطلب</a>
    </div>

    <div class="list inline-labels no-hairlines-md" ng-model="request">
        <div ng-hide="request.hideEmployeeData" class="data-table data-table-init card">
            <div class="card-header">
                <div class="data-table-title lang"> تفاصيل الطلب</div>
            </div>
            <div class="card-content">
                <table>
                    <tbody>
                        <tr>
                            <td class="label label-cell cellTable lang">رقم الطلب</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{request.name}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">تاريخ الطلب</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{request.requestDate|date:'dd/MM/yyyy'}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">الجنسية</td>
                            <td class="label label-cell">{{request.nationality}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang" ng-show="request.contractNum">رقم العقد</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{request.contractNum}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">الحالة</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{lang== 'AR' ? request.statusAr : request.statusEn}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">إسم العامل</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{request.employeeName}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">المهنة</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{request.jobTitle}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang" ng-show="request.contractDate">تاريخ العقد</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{request.contractDate|date:'dd/MM/yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="data-table data-table-init card">
            <div class="card-header">
                <div class="data-table-title lang">تفاصيل الباقة</div>
            </div>
            <div class="card-content">
                <table>
                    <tbody>
                        <tr>
                            <td class="label label-cell cellTable lang">الباقة</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{request.pricingName}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">مدة التعاقد</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{request.pricingType}} </td>
                        </tr>

                        <tr>
                            <td class="label label-cell cellTable lang">الضريبة المضافة %</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{request.vatRate}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">قيمة الضريبة المضافة</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{request.vatAmount}} <small class="lang">ريال سعودي</small></td>
                        </tr>

                        <tr>
                            <td class="label label-cell cellTable lang">مقدم</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{request.advancedPayment}} <small class="lang">ريال سعودي</small></td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">شهري</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{request.monthly_Paid}} <small class="lang">ريال سعودي</small></td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">السعر بدون الضريبة المضافه</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{request.totalBeforeVat}} <small class="lang">ريال سعودي</small></td>
                        </tr>

                        <tr>
                            <td class="label label-cell cellTable lang">السعر الإجمالي + الضريبة</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{request.totalPriceWithVat}} <small class="lang">ريال سعودي</small></td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">السعر النهائي</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{request.totalPriceWithVat}} <small class="lang">ريال سعودي</small></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="confirm">
        <a ng-click="GoBack()" class="button btn2 lang">عودة</a>
    </div>
</div>