﻿

<div class="page-content page-bg">
    <div class="logo">
        <img class="img" src="img/logo.png" width="70%">
    </div>
    <div class="list inline-labels no-hairlines-md">
        <form name="$parent.ResetPasswordForm" ng-submit="submitForm($parent.ResetPasswordForm.$valid)" novalidate>
            <ul>
                <li style="text-align:center;" ng-show="showCode">
                    <span class="lblCode"><label class="lang">الكود فقط للتجربة :</label> {{code}}</span>
                </li>
                <li>
                    <div class="item-content" ng-class="submittedReset && resetPasswordReset && $parent.ResetPasswordForm.code.$invalid?'has-error':'no-error'">
                        <div class="item-inner">
                            <div class="item-input">
                                <input class="form-control lang" type="number" placeholder="الكود" name="code" ng-model="resetPassForm.code" required>
                            </div>
                        </div>
                    </div>
                    <p ng-show="submittedReset && resetPasswordReset && $parent.ResetPasswordForm.code.$error.required" class="error-block lang">يجب إدخال الكود</p>
                </li>
                <li>
                    <div class="item-content" ng-class="submittedReset && resetPasswordReset && $parent.ResetPasswordForm.newPassword.$invalid?'has-error':'no-error'">
                        <div class="item-inner">
                            <div class="item-input">
                                <input class="form-control lang" type="password" placeholder="كلمة المرور الجديدة" name="newPassword" ng-model="resetPassForm.newPassword" required ng-minlength="6" ng-maxlength="30">
                            </div>
                        </div>
                    </div>
                    <p ng-show="submittedReset && resetPasswordReset  && $parent.ResetPasswordForm.newPassword.$error.required" class="error-block lang">يجب إدخال كلمة السر</p>
                    <p ng-show="submittedReset && resetPasswordReset  && $parent.ResetPasswordForm.newPassword.$error.minlength" class="error-block lang">كلمة السر يجب ألا تقل عن ستة أحرف</p>
                    <p ng-show="submittedReset && resetPasswordReset  && $parent.ResetPasswordForm.newPassword.$error.maxlength" class="error-block lang">كلمة السر يجب ألا تزيد عن ثلاثين حرفا</p>
                </li>
                <li>
                    <div class="item-content" ng-class="submittedReset && resetPasswordReset  && $parent.ResetPasswordForm.confrmNewPassword.$invalid?'has-error':'no-error'">
                        <div class="item-inner">
                            <div class="item-input">
                                <input class="form-control lang" type="password" placeholder="تأكيد كلمة المرور الجديدة" name="confrmNewPassword" ng-model="resetPassForm.confrmNewPassword" ng-pattern="resetPassForm.newPassword" required ng-minlength="6" ng-maxlength="30">
                            </div>
                        </div>
                    </div>
                    <p ng-show="submittedReset && resetPasswordReset && $parent.ResetPasswordForm.confrmNewPassword.$error.required" class="error-block lang">يجب تأكيد كلمة السر</p>
                    <p ng-show="submittedReset && resetPasswordReset && $parent.ResetPasswordForm.confrmNewPassword.$error.minlength" class="error-block lang">كلمة السر يجب ألا تقل عن ستة أحرف</p>
                    <p ng-show="submittedReset && resetPasswordReset && $parent.ResetPasswordForm.confrmNewPassword.$error.maxlength" class="error-block lang">كلمة السر يجب ألا تزيد عن ثلاثين حرفا</p>
                    <p ng-show="submittedReset && resetPasswordReset && $parent.ResetPasswordForm.confrmNewPassword.$error.pattern" class="error-block lang">كلمتا السر غير متطابقتين</p>
                </li>
            </ul>
            <p class="confirm text-center">
                <button type="submit" ng-click="submittedReset=true" class="button button-big lang">تغيير كلمة المرور</button>
            </p>
        </form>

        <p class="confirm text-center" style="text-align:center;width:100%;">
            <button ng-click="GoBack()" class="button button-big lang">عودة</button>
        </p>
    </div>

</div>