﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">معلومات عن الخدمة</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteServiceDetails" class="page-content main pull-to-refresh-content intro  page-bg" ng-show="isLoaded">

    <div class="card">
        <div class="image">
            <img class="img" ng-src="{{ServiceImage}}" style="width:100%;height:40vh;">
        </div>
        
        <div class="row justify-content-center">
            <div class="list inline-labels no-hairlines-md" style="padding:10px !important">
                <ul style="margin-top:10px !important">
                    <li><div class="whiteCard"><p>{{ServiceDescription}}</p></div></li>
                </ul>
            </div>
        </div>

        <div class="confirm" style="width: 80%;position: relative;margin: auto;">
            <a ng-click="ContinueToNextPage('5bc7f260-292f-e311-b3fd-00155d010303')" class="button btn1 lang"><label class="lang">متابعة</label></a>
        </div>

        <br />
        <br />
    </div>
   
</div>

