﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">مواعيد الزيارات</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteShifts" class="page-content forms" ng-show="isLoaded">
    <div class="cards">
        <div class="smart">
            <div class="circle1">
                <a href="#formss">
                    <div class="circular1 circularEN">
                    </div>
                </a>
            </div>
            <div class="circle2">
                <a href="#forms2">
                    <div class="circular2 circularEN" id="child" style="background-color: #59c5ff;">
                    </div>
                </a>
            </div>
            <div class="circle3">
                <a href="#forms3">
                    <div class="circular3 circularEN">
                    </div>
                </a>
            </div>
            <div class="circle4">
                <a href="#forms4">
                    <div class="circular4 circularEN">
                    </div>
                </a>
            </div>
            <div class="circle5">
                <a href="#forms5">
                    <div class="circular5 circularEN">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <p id="log" style="margin-top: 50px;" class="lang">مواعيد الزيارات</p>

    <div  ng-class="{'card':true,'shiftPostPoned':shift.isDayToPostpond}" style="padding: 5px;border-radius: 5px;text-align: center;" ng-repeat="shift in shifts" ng-click="OpenReason(shift)">
        <label>{{shift.dateDesc}}</label>
    </div>

    <div class="confirm">
        <div class="row wizardDiv">
            <button ng-click="GoBack()" href="#formss" class="col-50 button btn1">
                <big ng-class="{'ionicons ion-ios-arrow-forward':isArabic,'ionicons ion-ios-arrow-back':!isArabic}"></big>
                &nbsp; &nbsp;
                <span class="spanWizard lang">السابق</span>
            </button>
            <button ng-click="GoToPickLocation()" href="#forms3" class="col-50 button btn1">
                <span class="spanWizard lang">التالي</span>
                &nbsp; &nbsp;
                <big ng-class="{'ionicons ion-ios-arrow-forward':!isArabic,'ionicons ion-ios-arrow-back':isArabic}"></big>
            </button>
        </div>
    </div>
</div>