﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">بيانات الطلب</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteContractDetails" class="page-content forms" ng-show="isLoaded">
    <div class="cards">
        <div class="smartReview">
            <div class="circle1">
                <a href="#formss">
                    <div class="circular1 circularEN">
                    </div>
                </a>
            </div>
            <div class="circle2 circularEN">
                <a href="#forms2">
                    <div class="circular2 circularEN">
                    </div>
                </a>
            </div>
            <div class="circle3">
                <a href="#forms3">
                    <div class="circular3 circularEN"  style="background-color: #59c5ff;">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="list inline-labels no-hairlines-md" ng-model="orderDetails">
        <br />
        <div class="data-table data-table-init card">
            <div class="card-header">
                <div class="data-table-title lang">البيانات الشخصية</div>
            </div>
            <div class="card-content">
                <table>
                    <tbody>
                        <tr>
                            <td class="label label-cell cellTable lang">{{lblUserFullName}}</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{orderDetails.fullName}}</td>
                        </tr>
                        <tr  ng-show="showUserEmail">
                            <td class="label label-cell cellTable lang">{{lblUserEmail}}</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{orderDetails.email}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">{{lblUserMobile}} </td>
                            <td class="label label-cell">{{orderDetails.mobile}}</td>
                        </tr>                 
                        <tr>
                            <td class="label label-cell cellTable lang">{{lblLocationAreaName}}</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{orderDetails.areaName}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">{{lblLocationStreetName}}</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{orderDetails.streetName}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">{{lblLocationHouseNumber}} </td>
                            <td class="label label-cell">{{orderDetails.houseNumber}}</td>
                        </tr>
                        <tr ng-show="showHouseAddress">
                            <td class="label label-cell cellTable lang">{{lblLocationHouseAddress}} </td>
                            <td class="label label-cell">{{orderDetails.houseAddress}}</td>
                        </tr>                     
                    </tbody>
                </table>
            </div>
        </div>
        <div class="data-table data-table-init card">
            <div class="card-header">
                <div class="data-table-title lang">تفاصيل الطلب</div>
            </div>
            <div class="card-content">
                <table>
                    <tbody>
                        <tr ng-show="showOrderType">
                            <td class="label label-cell cellTable lang">{{lblOrderType}}</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{orderDetails.orderType}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang">{{lblOrderDetails}}</td>
                            <td class="label label-cell" style="word-wrap: break-word;">{{orderDetails.details}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="confirm">
        <div class="row wizardDiv">
            <button ng-click="GoBack()" href="#formss" class="col-50 button btn1">
                <big ng-class="{'ionicons ion-ios-arrow-forward':isArabic,'ionicons ion-ios-arrow-back':!isArabic}"></big>
                &nbsp; &nbsp;
                <span class="spanWizard lang">السابق</span>
            </button>
            <button id="btnCreateOrderRev" ng-click="GoToSuccess()" href="#forms3" class="col-50 button btn1">
                <span class="spanWizard lang">ارسال</span>
                &nbsp; &nbsp;
                <big ng-class="{'ionicons ion-ios-arrow-forward':!isArabic,'ionicons ion-ios-arrow-back':isArabic}"></big>
            </button>
        </div>
    </div>

</div>