﻿

<div class="page-content page-bg">
    <div class="logo">
        <img class="img" src="img/logo.png" width="240">
    </div>
    <div class="list inline-labels no-hairlines-md">
        <form name="$parent.SignupUserReviewForm" ng-submit="submitForm($parent.SignupUserReviewForm)" novalidate>
            <ul>
                <li>
                    <div class="item-content" ng-class="submittedUserSignup && signUpUserReset && $parent.SignupUserReviewForm.mobile.$invalid?'has-error':'no-error'">
                        <div class="item-inner">
                            <div class="item-input">
                                <input name="mobile" class="form-control lang" type="tel" placeholder="رقم الجوال" ng-pattern="mobileRegex" ng-model="userForm.mobile" required ng-minlength="10" ng-maxlength="10" style="text-align-last:{{txtAlignValue}};"/>
                            </div>
                        </div>
                    </div>
                    <p ng-show="submittedUserSignup && signUpUserReset && $parent.SignupUserReviewForm.mobile.$error.required" class="error-block lang">يجب إدخال رقم الجوال</p>
                    <p ng-show="submittedUserSignup && signUpUserReset && $parent.SignupUserReviewForm.mobile.$error.pattern" class="error-block lang">رقم الجوال غير صحيح</p>
                    <p ng-show="submittedUserSignup && signUpUserReset && $parent.SignupUserReviewForm.mobile.$error.minlength" class="error-block lang">رقم الجوال يجب أن يكون عشرة أرقام فقط</p>
                    <p ng-show="submittedUserSignup && signUpUserReset && $parent.SignupUserReviewForm.mobile.$error.maxlength" class="error-block lang">رقم الجوال يجب أن يكون عشرة أرقام فقط</p>
                </li>
                <li>
                    <div class="item-content" ng-class="submittedUserSignup && signUpUserReset && $parent.SignupUserReviewForm.firstname.$invalid?'has-error':'no-error'">
                        <div class="item-inner">
                            <div class="item-input">
                                <input name="firstname" class="form-control lang" type="text" placeholder="الإسم الأول" ng-model="userForm.firstname" required style="text-align-last:{{txtAlignValue}};"/>
                            </div>
                        </div>
                    </div>
                    <p ng-show="submittedUserSignup && signUpUserReset && $parent.SignupUserReviewForm.firstname.$error.required" class="error-block lang">يجب إدخال الإسم الأول</p>
                </li>
                <li>
                    <div class="item-content" ng-class="submittedUserSignup && signUpUserReset && $parent.SignupUserReviewForm.middlename.$invalid?'has-error':'no-error'">
                        <div class="item-inner">
                            <div class="item-input">
                                <input name="middlename" class="form-control lang" type="text" placeholder="الإسم الأوسط" ng-model="userForm.middlename" required style="text-align-last:{{txtAlignValue}};"/>
                            </div>
                        </div>
                    </div>
                    <p ng-show="submittedUserSignup && signUpUserReset && $parent.SignupUserReviewForm.middlename.$error.required" class="error-block lang">يجب إدخال الإسم الأوسط</p>
                </li>
                <li>
                    <div class="item-content" ng-class="submittedUserSignup && signUpUserReset && $parent.SignupUserReviewForm.lastname.$invalid?'has-error':'no-error'">
                        <div class="item-inner">
                            <div class="item-input">
                                <input name="lastname" class="form-control lang" type="text" placeholder="الإسم الأخير" ng-model="userForm.lastname" required style="text-align-last:{{txtAlignValue}};"/>
                            </div>
                        </div>
                    </div>
                    <p ng-show="submittedUserSignup && signUpUserReset && $parent.SignupUserReviewForm.lastname.$error.required" class="error-block lang">يجب إدخال الإسم الأخير</p>
                </li>
                <li>
                    <div class="item-content" ng-class="submittedUserSignup && signUpUserReset && $parent.SignupUserReviewForm.email.$invalid?'has-error':'no-error'">
                        <div class="item-inner">
                            <div class="item-input">
                                <input name="email" class="form-control lang" type="text" placeholder="البريد الإلكتروني" ng-pattern="emailRegex" ng-model="userForm.email" style="text-align-last:{{txtAlignValue}};"/>
                            </div>
                        </div>
                    </div>
                    <!--<p ng-show="submittedUserSignup && signUpUserReset && $parent.SignupUserReviewForm.email.$error.required" class="error-block lang">يجب إدخال البريد الإلكتروني</p>-->
                    <p ng-show="submittedUserSignup && signUpUserReset && $parent.SignupUserReviewForm.email.$error.pattern" class="error-block lang">البريد الإلكتروني غير صحيح</p>
                    <p ng-show="submittedUserSignup && signUpUserReset && $parent.SignupUserReviewForm.email.$error.minlength" class="error-block lang"></p>
                    <p ng-show="submittedUserSignup && signUpUserReset && $parent.SignupUserReviewForm.email.$error.maxlength" class="error-block lang"></p>
                </li>
                <li>
                    <div class="item-content" ng-class="submittedUserSignup && signUpUserReset && $parent.SignupUserReviewForm.newPassword.$invalid?'has-error':'no-error'">
                        <div class="item-inner">
                            <div class="item-input">
                                <input type="password" class="form-control lang" placeholder="كلمة السر" name="newPassword" ng-model="userForm.newPassword" required ng-minlength="6" ng-maxlength="30" style="text-align-last:{{txtAlignValue}};"/>
                            </div>
                        </div>
                    </div>
                    <p ng-show="submittedUserSignup && signUpUserReset  && $parent.SignupUserReviewForm.newPassword.$error.required" class="error-block lang">يجب إدخال كلمة السر</p>
                    <p ng-show="submittedUserSignup && signUpUserReset  && $parent.SignupUserReviewForm.newPassword.$error.minlength" class="error-block lang">كلمة السر يجب ألا تقل عن ستة أحرف</p>
                    <p ng-show="submittedUserSignup && signUpUserReset  && $parent.SignupUserReviewForm.newPassword.$error.maxlength" class="error-block lang">كلمة السر يجب ألا تزيد عن ثلاثين حرفا</p>
                </li>
                <li>
                    <div class="item-content" ng-class="submittedUserSignup && signUpUserReset  && $parent.SignupUserReviewForm.confrmNewPassword.$invalid?'has-error':'no-error'">
                        <div class="item-inner">
                            <div class="item-input">
                                <input type="password" class="form-control lang" placeholder="تأكيد كلمة السر" name="confrmNewPassword" ng-model="userForm.confrmNewPassword" ng-pattern="userForm.newPassword" required ng-minlength="6" ng-maxlength="30" style="text-align-last:{{txtAlignValue}};"/>
                            </div>
                        </div>
                    </div>
                    <p ng-show="submittedUserSignup && signUpUserReset && $parent.SignupUserReviewForm.confrmNewPassword.$error.required" class="error-block lang">يجب تأكيد كلمة السر</p>
                    <p ng-show="submittedUserSignup && signUpUserReset && $parent.SignupUserReviewForm.confrmNewPassword.$error.minlength" class="error-block lang">كلمة السر يجب ألا تقل عن ستة أحرف</p>
                    <p ng-show="submittedUserSignup && signUpUserReset && $parent.SignupUserReviewForm.confrmNewPassword.$error.maxlength" class="error-block lang">كلمة السر يجب ألا تزيد عن ثلاثين حرفا</p>
                    <p ng-show="submittedUserSignup && signUpUserReset && $parent.SignupUserReviewForm.confrmNewPassword.$error.pattern" class="error-block lang">كلمتا السر غير متطابقتين</p>
                </li>
            </ul>
            <p class="confirm text-center">
                <button type="submit" class="button button-big lang" ng-click="submittedUserSignup=true">تسجيل حساب</button>
            </p>
        </form>
        <p  class="confirm text-center" style="text-align:center;width:100%;">
            <button ng-click="GoBack()" class="button button-big lang">عودة</button>
        </p>
    </div>

</div>