﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">الاتفاقيات</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteTerms" class="page-content agreement" ng-show="isLoaded">

    <!--<div class="row divHeader" ng-show="ShowTerms">-->
    <div class="row divHeader" ng-hide="true">
        <div class="col-100">
            <h5>
                <span class="lang">لديك نقاط ولاء</span>
                <span class="spanPoints">{{AllPoints}}</span>
                <span class="lang">نقطة صالحة للاستخدام</span>
            </h5>
        </div>
        <div class="col-100">
            <h5>
                <span class="lang">لديك رصيد ولاء</span>
                <span class="spanPoints">{{pointAmount}}</span>
                <span class="lang">ريال سعودي للاستخدام</span>
            </h5>
        </div>
    </div>

    <!--<div style="padding: 10px 20px;" ng-show="ShowTerms">-->
    <div style="padding: 10px 20px;" ng-hide="true">
        <a ng-click="GoToMyPoints()" class="btn1 button button-round button-fill btnConvert lang" href="#">تحويل نقاطي</a>
    </div>

    <div class="family" style="margin-top:5px !important">
        <div class="image">
            <img class="img" src="img/family.jpg" height="100">
        </div>
        <div class="description" style="text-align:center;">
            <h4 style="text-align: center;"><label class="lang">هذه الخدمة تقدم</label> <span class="lang">للعائلات فقط</span> <label class="lang">و في حال عدم وجود سيدة بالمنزل نعتذر عن تقديم الخدمة.</label></h4>

            <input id="chkAcceptTerms" type="checkbox" name="my-checkbox" style="display:none !important;" />
            <label class="label label-checkbox item-content days" style="border: 1px solid #fff;margin:0px auto;background-color:#00a2e8;padding:15px;border-radius:10px"  ng-click="selectAcceptTerms(isUserApprovedTerms)">
                <div class="item-media" style="display:inline !important;">
                    <i id="iosIcon_AcceptTerms" class="icon icon-form-checkbox"></i>
                    <span class="lang" style="color:#fff !important;">موافق علي</span>
                </div>
                
                <a href="#" data-popup=".popup-terms" class="open-popup lang" style="text-decoration:underline">الشروط والأحكام</a>
            </label>

            <div class="popup popup-terms">
                <div class="content-block">
                    <a href="#" class="ionicons ion-android-close close-popup close-popupX "></a>
                    <div class="popupHeading lang">شروط وسياسات برنامج دلال</div>
                    <span ng-bind-html="terms">
                    </span>
                    <p ng-show="terms" style="text-align:center"><a href="#" class="close-popup lang">إغلاق</a></p>
                </div>
            </div>
        </div>

        <div class="confirm">
            <a ng-disabled="!isUserApprovedTerms" ng-click="AcceptAgreement()" class="button btn1 lang">موافق</a>
            <a ng-click="RejectAgreement()" class="button btn2 lang">الغاء</a>
        </div>

    </div>
    <div style="padding: 10px 20px;">
        <p style="color: #49abe8" class="lang"> الوقت المتوقع لوصول العاملة:</p>
        <ul>
            <li class="lang">الفترة الصباحية:   من 07:30 الى 10:00</li>
            <li class="lang">الفترة المسائية :   من 15:30 الى 18:00</li>
        </ul>
    </div>

</div>