﻿
<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">عقودى</div>
        <div class="right">
            <a ng-click="GoBack()" href="#" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>
<div class="page-content complain">
    <div class="outer">
        <div class="middle">
            <div class="largeButton">
                <a ng-click="GoToContractsPage('HourlyContract')" class="button lang">عقود الساعات</a>
            </div>

            <div class="largeButton">
                <a ng-click="GoToContractsPage('IndividualContract')" class="button lang">عقود الأفراد</a>
            </div>
        </div>
    </div>
</div>