﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">فواتيري</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteinvoices" class="page-content infinite-scroll pull-to-refresh-content complain" ng-model="user" ng-show="isLoaded">

    <div class="pull-to-refresh-layer">
        <img ng-src="img/puff.svg" class="preloader" />
        <div class="pull-to-refresh-arrow"></div>
    </div>

    <div ng-hide="noinvoices">
        <div class="card" ng-repeat="invoice in invoices">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-100">
                    <span class="spaninvoicestatus">{{lang== 'AR' ? invoice.statusAr : invoice.statusEn }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-70">
                    <label><label>{{lblComplaintTicketNumber}}</label><span>{{invoice.number}}</span></label>
                    <label><label>{{lblComplaintContractNumber}}</label><span>{{invoice.contract}}</span></label>
                    <label><label>{{lblInvoiceValue}}</label><span>{{invoice.customerAmount}} {{lblContractCurrency}}</span></label>
                    <label><label>{{lblComplaintTicketDesc}}</label><span>{{invoice.dueDate}}</span></label>
                </div>
                <div class="col-30">
                    <div class="icon">
                        <img class="image" src="img/contract.jpg">
                    </div>
                </div>
            </div>
            <div class="col-100 new">
                <a ng-click="payNow({{invoice.name}})" href="#formss" class="button lang">ادفع الأن</a>
            </div>
        </div>
    </div>

    <div class="advNoResult" ng-show="noinvoices">
        <div class="content-block">
            <img src="img/noData.png" height="128" width="128" />
            <p class="lang">لا يوجد فواتير</p>
        </div>
    </div>

    <div id="infiniteLoaderinvoices" class="infiniteLoader" ng-show="invoicesInfiniteLoader">
        <img ng-src="img/puff.svg" />
    </div>

  
</div>