﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">المساعدة</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteComplaints" class="page-content infinite-scroll pull-to-refresh-content complain" ng-model="user" ng-show="isLoaded">

    <div class="pull-to-refresh-layer">
        <img ng-src="img/puff.svg" class="preloader" />
        <div class="pull-to-refresh-arrow"></div>
    </div>

    <div ng-hide="noComplaints">
        <div class="card" ng-repeat="complaint in complaints">
            <div class="row">
                <!--<div class="col-70">
                    <label><label>{{lblComplaintTicketNumber}}</label><span>{{complaint.ticketNumber}}</span></label>
                    <label><label>{{lblComplaintContractNumber}}</label><span>{{complaint.contract}}</span></label>
					<label><label>{{lblComplaintTicketStatus}}</label><span>{{complaint.status}}</span></label>
                    <label><label>{{lblComplaintTicketDesc}}</label><span ng-bind-html="complaint.problemDetails | trustAsHtml"></span></label>
                </div>
                <div class="col-30">
                    <div class="icon">
                        <img class="img" src="img/complains.jpg">
                    </div>
                </div>-->
                <div class="col-100">
                    <div class="icon">
                        <img class="img" src="img/complains.jpg">
                    </div>
                </div>
                <div class="col-100" style="text-align:center;padding:10px;">
                    <span ng-class="{'badgeComplaintStatus':true,'bg-brown':!complaint.IsClosed,'bg-green':complaint.IsClosed}">{{complaint.status}}</span>
                </div>
                <div class="col-100">
                    <label style="display:block !important;"><label>{{lblComplaintTicketNumber}}</label><span>{{complaint.ticketNumber}}</span></label>
                    <label ng-class="{'show':complaint.isContractFound,'hide':!complaint.isContractFound}"><label>{{lblComplaintContractNumber}}</label><span>{{complaint.contract}}</span></label>
                    <label style="display:block !important;"><label>{{lblComplaintTicketDesc}}</label><span ng-bind-html="complaint.problemDetails | trustAsHtml"></span></label>
                </div>
            </div>
        </div>
    </div>

    <div class="advNoResult" ng-show="noComplaints">
        <div class="content-block">
            <img src="img/noData.png" height="128" width="128" />
            <p class="lang">لا توجد شكاوي</p>
        </div>
    </div>

    <div id="infiniteLoaderComplaints" class="infiniteLoader" ng-show="complaintsInfiniteLoader">
        <img ng-src="img/puff.svg" />
    </div>

    <div class="new">
        <a ng-click="AddNewComplaint()" class="button lang">اضافة شكوى جديدة</a>
    </div>
</div>