﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">النقاط المستهلكة</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div id="divInfiniteuserConsumedPoints" class="page-content infinite-scroll pull-to-refresh-content " ng-model="user" ng-show="isLoaded">

    <div class="pull-to-refresh-layer">
        <img ng-src="img/puff.svg" class="preloader" />
        <div class="pull-to-refresh-arrow"></div>
    </div>

    <div  class="row divHeader">
        <div class="col-100">
            <h5>
                <span class="lang">لديك نقاط ولاء</span>
                <span class="spanPoints">{{AllPoints}}</span>
                <span class="lang">نقطة صالحة للاستخدام</span>
            </h5>
        </div>
        <div class="col-100">
            <h5>
                <span class="lang">لديك رصيد ولاء</span>
                <span class="spanPoints">{{pointAmount}}</span>
                <span class="lang">ريال سعودي للاستخدام</span>
            </h5>
        </div>
    </div>

    <div >
        <div ng-hide="noPoints" class="data-table data-table-init card divPoint" ng-repeat="userPoints in userConsumedPointsList">
            <div class="row card-content">
                <table>
                    <tbody>
                        <tr>
                            <td class="label label-cell cellTable lang" style="padding:1px;font-size:12px;">{{lblContractNumber}}</td>
                            <td class="label label-cell" style="word-wrap: break-word;font-size:12px;">{{userPoints.contract}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang" style="padding:1px;font-size:12px;">{{lbldate}}</td>
                            <td class="label label-cell" style="word-wrap: break-word;font-size:12px;">{{userPoints.creationDate}}</td>
                        </tr>
                        <tr>
                            <td class="label label-cell cellTable lang" style="padding:1px;font-size:12px;">{{lblNumberOfPoints}}</td>
                            <td class="label label-cell" style="word-wrap: break-word;font-size:12px;">{{userPoints.amount}}{{lblContractCurrency}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="advNoResult" ng-show="noPoints">
            <div class="content-block">
                <img src="img/noData.png" height="128" width="128" />
                <p class="lang">لا توجد نقاط</p>
            </div>
        </div>
    </div>
</div>