﻿<div id="divNavBar" class="navbar" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
    <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link icon-only open-panel" data-panel="right"><i class="ionicons ion-navicon"></i></a>
        </div>
        <div class="center sliding lang">حسابي</div>
        <div class="right">
            <a ng-click="GoBack()" class="link icon-only">
                <i class="ionicons ion-android-arrow-back"></i>
            </a>
        </div>
    </div>
</div>

<div class="page-content profile" ng-model="user" ng-show="isLoaded">
    <div class="profileInfo">
        <div class="profileImg">
            <img class="img" src="img/avatar.jpg">
        </div>
        <div class="info">
            <div class="row">
                <div class="col-100">
                    <p><i class="ion-icons ion-android-person"></i> {{user.fullName}}</p>
                </div>
                <div class="col-100">
                    <p><i class="ion-icons ion-android-call"></i>{{user.mobilePhone}}</p>
                </div>
                <div class="col-100">
                    <p><i class="ion-icons ion-android-mail"></i> {{user.email}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <a ng-click="GoToEditProfile()" ><h4 class="lang">تعديل</h4></a>
    </div>
    <div class="card">
        <a ng-click="GoToComplaints()"><h4 class="lang">الشكاوى</h4></a>
    </div>
    <div class="card">
        <a ng-click="GoToContracts()"><h4 class="lang">التعاقدات</h4></a>
    </div>
    <div class="card">
        <a ng-click="GoToMyRequests()"><h4 class="lang">طلباتي</h4></a>
    </div>
    <div class="card">
        <a ng-click="GoToMyInvoices()"><h4 class="lang">فواتيري</h4></a>
    </div>
</div>
