﻿.wrapper {
  position: absolute;
  width: 200px;
  height: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background: #03a9f4; }

.loader {
  height: 100%;
  display: flex;
  transform: translateZ(0); }
  .loader div {
    flex: 1;
    background: white;
    animation: go 0.8s infinite alternate ease;
    box-shadow: 0 0 20px white; }
    .loader div:nth-child(1) {
      animation-delay: -0.72s; }
    .loader div:nth-child(2) {
      animation-delay: -0.64s; }
    .loader div:nth-child(3) {
      animation-delay: -0.56s; }
    .loader div:nth-child(4) {
      animation-delay: -0.48s; }
    .loader div:nth-child(5) {
      animation-delay: -0.4s; }
    .loader div:nth-child(6) {
      animation-delay: -0.32s; }
    .loader div:nth-child(7) {
      animation-delay: -0.24s; }
    .loader div:nth-child(8) {
      animation-delay: -0.16s; }
    .loader div:nth-child(9) {
      animation-delay: -0.08s; }
    .loader div:nth-child(10) {
      animation-delay: 0s; }

@keyframes go {
  100% {
    background: transparent;
    flex: 10;
    box-shadow: 0 0 0 transparent; } }

