﻿@font-face {
  font-family: "Cairo";
  src: url("../fonts/TheMixArabicPlain.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.mx-auto{margin-right:auto!important;margin-left:auto!important}
.mb-15{margin-bottom: 15px;}
body{
    font-family: 'Cairo', sans-serif !important;
    overflow-x: hidden;
}

/*.page-bg .over{
    background: rgba(0,0,0,0.6);
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}*/


.list ul{
    list-style-type: none;
}
.page-content{
    background-color: rgba(125,125,125,0.1);
}

/* page-bg page */
.page-bg{
    background:linear-gradient(0deg,rgba(3,53,107,.6),rgba(3,53,107,.6)),url(../img/bodyBg.png) !important;
    background-size: cover;
}

.page-bg .logo{
    padding-top: 50px;
    text-align: center;
}

/*.page-bg .logo .img{
    height: 100%;
    width:100%;
}*/

.page-bg .formFill{
    margin-top: 50px;
}

.page-bg .form-control{
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    height: auto !important;
    font-weight: bold;
    text-align: right !important;
    font-size: 14px !important;
    padding: 8px 18px;
    width: 86%;
    font-family: 'Cairo', sans-serif !important;
    margin-bottom: 0px;
}

.page-bg .form-control:focus{
    border: 2px solid #2196f3;
}

.page-bg input::-webkit-input-placeholder, .box textarea::-webkit-input-placeholder {
    text-align: right;
    padding-right: 0;
    font-size: 12px;
    color: rgba(125,125,125,0.6);
}

.page-bg .list{
    padding: 50px;
    padding-top: 0;
}

.page-bg .list ul{
    background: transparent !important;
    padding: 0 !important;
    margin-top: 50px;
    list-style-type: none;
}

.page-bg .list ul p{
    text-align: center;
    color: #2196f3;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
}

.page-bg .confirm{
    background-color: #2196f3;
    border-radius: 10px;
}

.page-bg .confirm .button{
    color: white;
    padding: 0;
    font-size: 18px;
    margin-top: 20px;
    border: none;
    width:100%;
}

.page-bg a {
    color: #2196f3 ;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
}

.page-bg .item-input-wrap:after{
    content: none;
}
/* page-bg page */

.item-input-field:after, .input-field:after{
    content: none;
}
.ios .smart-select-init{
    margin-top: 20px;
}
.md .page-bg .list .item-inner{
    padding-left: 0;
}
.ios .list ul{
    background-color: transparent !important;
}
.ios .list ul:before{
    content: none;
}
.ios .list .item-content{
    margin-bottom: 10px;
}
.ios .inline-labels .item-label{
    width: 2%;
}
.md .inline-labels .item-label{
    width: 5%;
}
.ios .confirm{
    margin-top: 20px !important;
}
.ios .page-bg .list ul{
    padding: 20px 10px;
}
.ios .inline-labels .item-input-wrap{
    margin-top: 12px;
}
.ios .contracts .list-block{
    margin-top: 20px;
}
.ios .list ul:after{
    content: none;
}
.ios .navbar {
    height: 56px;
    background: #356793;
    color: #fff;
    font-size: 20px;
}
.navbar {
    height: 56px;
    background: #356793;
    color: #fff;
    font-size: 20px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}
.list input[type=date], .list input[type=datetime-local], .list input[type=email], .list input[type=number], .list input[type=password], .list input[type=search], .list input[type=tel], .list input[type=text], .list input[type=time], .list input[type=url], .list select, .list textarea{
    text-align: center;
}
.ios .page{
    background-color: white;
}
.head{
    background-color: #00a2e8;
    text-align:center;
    padding: 20px;
}
/* swiper */
.demo-swiper{
    height: auto;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    border: 1px solid white;
}
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: none;
    border:1px solid #aaa;
    border-radius: 0 0 0 0;
    opacity:1;
    cursor: pointer;
}
.swiper-pagination-bullet-active {
    background: #007aff;
    border-color: #007aff;
}
/* swiper */
.md .list{
    margin: 0;
}
.md .ionicons{
    margin-left: 5px;
}
.ios .ionicons{
    margin-left: 5px;
}
.md .badge.color-green{
    float: left;
    margin-top: 3px;
}
.ios .badge.color-green{
    float: left;
    margin-top: 3px;
}
.ios .list{
    margin: 0;
}
.ios .navbar a{
    color: inherit;
}
.md .list .item-content{
    padding-right: 0;
}
.ios .list .item-content{
    padding-right: 0;
}
.md .color-theme-white a{
    color: #000;
    font-weight: bold;
    font-size: 15px;
}
.ios .color-theme-white a{
    color: #000;
    font-weight: bold;
    font-size: 15px;
}
.md .navbar .title{
    margin: 0 95px !important;
}
/* first page */
.main{
    padding-top: 55px;
    background-color: rgba(125,125,125,0.2);
}
.main .description{
     background-color: #356793;
     /*border-radius: 5px;*/
     padding: 7px;
     color: #fff;
    margin-top: -7px;
}

.main .description h5{
    margin: 0;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.main .services{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    padding-bottom: 0;
    background-color: #356793;
    text-align:center;
}

.main .services .img{
    /*width: 345px;*/
    width: 100%;
    height: 100%;
    vertical-align: inherit;
}
/* main page */


/* profile page */
/*.profile{
    background-color: rgba(125,125,125,0.2);
}*/

.profile .form-control{
    border-radius: 10px;
    border: 1px solid rgba(125,125,125,0.6);
    background-color: white;
    height: auto !important;
    font-weight: bold;
    text-align: right !important;
    font-size: 14px !important;
    padding: 8px 18px;
    width: 88%;
    font-family: 'Cairo', sans-serif !important;
    margin-bottom: 10px;
}

.profile .form-control:focus{
    border: 2px solid red;
}

.profile input::-webkit-input-placeholder, .box textarea::-webkit-input-placeholder {
    text-align: right;
    padding-right: 0;
    font-size: 12px;
}

.profile .profileInfo{
    background-color: #356793;
    margin-top: 15vh;
    padding: 10px;
    margin-bottom: 50px;
}

.profile .profileInfo .profileImg{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.profile .profileInfo .profileImg .img{
    border-radius: 50%;
    height: 120px;
    border: 2px solid white;
    position: absolute;
    top: 15vh;
    left: 120px;
}

.profile .profileInfo .info{
    text-align: center;
    margin-top: 75px;
}

.profile .profileInfo .info .ion-icons{
    color: #fff;
    margin-left: 10px;
}

.profile .profileInfo .info p{
    color: White;
    font-weight: bold;
    font-size: 13px;
    margin: 0;
    margin-bottom: 10px;
}

.profile .confirm{
    margin-top: 20px;
    text-align: center;
}

.profile .confirm .button{
    background-color: #2196f3;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 10px;
    height: auto;
    padding: 5px;
}

.profile .save{
    margin-top: 20px;
    text-align: center;
}

.profile .save .button{
    background-color: #2196f3;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px;
    height: auto;
}

.profile .ion-icons{
    font-size: 18px;
    color: rgba(125,125,125,0.9);
}

.profile .card{
    text-align: center;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #2196f3;
}

.profile .card h4{
    color: white;
    font-weight: bold;
    padding: 12px;
}

.profile .list ul{
    padding: 0;
}
/* profile page */



/* about page */
.about{
    background-color: rgba(125,125,125,0.2);
}

.about .welcome{
    background: white;
    margin: 10PX;
    border-radius: 5px;
    padding: 5px;
}

.about .welcome .description{
    color: #000;
    background: transparent;
    padding: 0;
}

.about .welcome .welImg{
    overflow: hidden;
}

.about .welcome .welMsg{
    background-color: #356793;
    color: white;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.about .welcome .welMsg h5{
    margin: 0;
    font-weight: bold;
}
/* about page */


/* contracts page */
.contracts{
    background-color: rgba(125,125,125,0.2);
}

.contracts .item-label label{
    color: #2196f3;
    font-weight: bold;
    font-size: 15px;
}

.contracts .ios .item-label label{
    color: #2196f3;
    font-weight: bold;
    font-size: 13px;
}

.contracts .item-input-wrap label{
    font-size: 15px;
    color: rgba(125,125,125,0.6);
    font-weight: bold;
}

.contracts .list-block{
    background: white;
    margin: 10px;
    border-radius: 5px;
    padding: 1px 0;
}

.contracts .smart-select .item-after {
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    display: inline;
    float: left;
    margin-left: 10px;
    color: rgba(125,125,125,0.6);
    font-weight: bold;
}

.contracts .list-block ul{
    list-style-type: none;
    margin-right: 0;
    padding-right: 10px;
}

.contracts .list{
    margin: 10px;
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.contracts .list p{
    margin: 0;
    text-align: center;
    font-weight: bold;
    color: #2196f3;
}

.contracts .item-input-wrap{
    text-align: center;
}

.contracts .inline-labels .item-label{
    width: 35%;
}
/* contracts page */

/* forms page */
.forms{
    background-color: rgba(125,125,125,0.2);
}

.forms .list{
    background: #fefefe;
    margin: 10px;
    border-radius: 5px;
    /*box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);*/
    border: 4px solid #ccc6;
    border-radius: 20px;
}

.forms .list li label{
    font-size: 12px;
}

.forms .offer p{
    margin: 0;
    margin-top: 10px;
    font-weight: bold;
}

.forms .offer #offer{
    font-size: 20px;
    font-weight: bold;
    color: #2196f3;
}

.forms .list:first-child{
    margin-top: 70px;
}

.forms #time{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #DDD;
}

.forms #time:last-child{
    border-bottom: none;
}

.forms label{
    font-weight: bold;
}

.forms #log{
    text-align: center;
    margin: 0;
    color: #356793;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 15px;
}

.list-block {
    margin: 0;
    font-size: 16px;
}

.forms .list ul{
    padding: 0 10px;
}

.forms .item-inner .item-title{
    display: inline;
    font-weight: bold;
    margin-right: 10px;
    color: #356793;
}

.forms .item-inner .item-after{
    display: inline;
    float: left;
    color: rgba(33, 150, 243,0.6);
    font-weight: bold;
}

/*.forms .item-inner:after {*/
    /*content: '';*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*right: auto;*/
    /*top: auto;*/
    /*height: 2px;*/
    /*width: 100%;*/
    /*background-color: #c8c7cc;*/
    /*display: block;*/
    /*z-index: 15;*/
    /*-webkit-transform-origin: 50% 100%;*/
    /*transform-origin: 50% 100%;*/
    /*margin-top: 5px;*/
/*}*/

.forms .item-content{
    margin-bottom: 20px;
    border: 2px solid rgba(125,125,125,0.4);
    padding: 10px;
    border-radius: 10px;
}

.forms .form-control{
    margin-top: 10px !important;
    border: 2px solid rgba(125,125,125,0.4) !important;
    border-radius: 10px !important;
    color:rgb(3,53,107) !important;
}

.forms .confirm{
    margin-top: 20px;
    text-align: center;
}

.forms .confirm .btn1{
    background-color: #2196f3;
    color: #fff;
    font-weight: bold;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    height: auto;
    margin:auto;
}

.forms .confirm .btn2{
    background-color: #2196f3;
    color: #fff;
    font-weight: bold;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    height: auto;
    width: 90%;
    margin: auto;
}

.forms .confirm .btn1 i , .forms .confirm .btn2 i {
    font-size: 40px;
    margin-top: 5px;
}

.forms .form-control{
    border-radius: 10px;
    border: 1px solid rgba(125,125,125,1.4);
    background-color: transparent;
    height: auto !important;
    font-weight: bold;
    text-align: right !important;
    font-size: 14px !important;
    padding: 8px 18px;
    width: 86%;
    font-family: 'Cairo', sans-serif !important;
    margin-bottom: 10px;
}

.forms .form-control:focus{
    border: 2px solid #2196f3;
}

.forms #pay{
    font-weight: bold;
}

.success p{
    text-align:center !important
}

#discount{
    font-weight: bold !important;
    background-color: #59c5ff !important;
    border-radius: 10px !important;
    padding: 10px !important;
    text-align: center !important;
    color: #FFF !important;
    text-align:right !important;
}

.spanDiscount{
    color:red !important;
}

.forms input::-webkit-input-placeholder, .box textarea::-webkit-input-placeholder {
    text-align: right;
    padding-right: 0;
    font-size: 12px;
    color: rgba(125,125,125,0.6);
}

.forms #success{
    color: rgb(15, 153, 50);
    text-align: center;
    font-size: 18px;
}

.forms #number{
    font-weight: bold;
}

.forms span{
    color: #2196f3;
    font-size: 25px;
}

.forms .package{
    color: #ddd !important;
    margin: 10px;
    border-radius: 20px;
    padding-bottom: 5px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    background-color: rgb(13,73,117);
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    position:  relative;
    margin-bottom: 15px;
}

/*.forms .package:after{
    content: '?????';
    background-color: rgb(3,53,107);
    position: relative;
    width: 50px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 5px 15px 5px 0;
    color: white;
    font-weight: bold;
    font-size: 16px;
    bottom: 145px;
    float: left;
    right: 15px;
}*/

.spanPackageHeader{
    background-color: #2196f3;
    position: absolute;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 8px;
    padding: 5px 10px 7px 10px;
    color: white !important;
    font-weight: bold;
    top: 17px;
    float: left;
    left: -12px;
    border-top-left-radius: 10px;
}

.dayLabel{
    background-color:#6befff;
}
.nightLabel{
    background-color:#00074e;
}

.night{
    text-align: center;
    color: #d6d4d4;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 15px;
    text-shadow: black;
    margin-top: 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d6d4d4;
}

.forms .package h5{
    color: #d6d4d4;
    margin-bottom: 0;
    font-size: 15px;
    text-shadow: black;
    margin-top: 0;
}

.forms .package span{
    color: #d6d4d4;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 14px;
    text-shadow: black;
    margin-top: 0;
}

.forms .package .sale{
    background-color: rgb(3,53,107);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}

.forms .package .sale span{
    color: darkred;
    text-decoration: line-through;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
}

.forms .package .sale p{
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 20px;
    text-shadow: black;
    margin-top: 0;
    display: inline;
}

.forms .package .shift span{
    font-size: 15px;
    text-align: center;
}

.forms .packageMain{
    color: #444;
    margin: 10px;
    border-radius: 20px;
    padding-bottom: 5px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    background-color: rgba(33,150,243,.5);
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    position:  relative;
    margin-bottom: 15px;
}

/*.forms .packageMain:after{
    content: '?????';
    background-color: rgb(23,130,223);
    position: relative;
    width: 50px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 5px 15px 5px 0;
    color: white;
    font-weight: bold;
    font-size: 16px;
    bottom: 145px;
    float: left;
    right: 15px;
}*/

.forms .packageMain p{
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 15px;
    text-shadow: black;
    margin-top: 0;
    padding-bottom:  5px;
    border-bottom: 1px solid #fff;
}

.forms .packageMain h5{
    color: white;
    margin-bottom: 0;
    font-size: 15px;
    text-shadow: black;
    margin-top: 0;
}

.forms .packageMain span{
    color: #fefefe;
    /* color: white; */
    font-weight: bold;
    margin-bottom: 0;
    font-size: 14px !important;
    text-shadow: black;
    margin-top: 0;
}

.forms .packageMain .sale{
    background-color: rgb(23,130,213);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}

.forms .packageMain .sale span{
    color: darkred;
    text-decoration: line-through;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
}

.forms .packageMain .sale p{
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 20px;
    text-shadow: black;
    margin-top: 0;
    display: inline;
}

.forms .packageMain .shift span{
    font-size: 15px;
    text-align: center;
}

.forms .next{
    margin: 10px;
    background-color: #2196f3;
    border-radius: 5px;
}

.forms .next a{
    background-color: #2196f3;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    height: auto;
}

.forms .days{
    background-color: rgb(3,53,107);
    border-radius:10px;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
}
/* forms page */

/* agreement page */
.agreement{
    background-color: rgba(125,125,125,0.2);
}

.agreement .family{
    background: #fefefe;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
    margin-top: 15vh;
    padding-bottom: 20px;
    border: 4px solid #afafaf5c;
}

.agreement .image{
    text-align: center;
    margin-bottom: 20px;
}

.agreement .description{
    background: transparent;
    color: #000;
    font-weight: bold;
    font-size: 15px;
}

.agreement .description span{
    color: #2196f3;
}

.agreement .confirm{
    margin-top: 25px;
    text-align: center;
}

.agreement .confirm .btn1{
    background-color: #2196f3;
    margin-left: 10px;
    display: inline-block;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.agreement .confirm .btn2{
    border: 1px solid #6c757d;
    display: inline-block;
    border-radius: 5px;
    color: #6c757d;
    font-weight: bold;
}

.agreement .confirm .btn2:hover{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
/* agreement page */




/* soon page */
.soon{
    background: rgba(125,125,125,0.2);
}
.soon .demo p {
    text-align: center;
    font-size: 60px;
    margin-top:0px;
}
.bgimg {
    background-image: url('../img/soon.jpeg');
    background-size: 100% 100%;
    height: 100%;
    background-position: center;
    position: relative;
    color: white;
    font-family: "Cairo",sans-serif;
    font-size: 25px;
}

.soon .topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

.soon .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

.soon .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.soon hr {
    margin: auto;
    width: 40%;
}
/* soon page */




/* menu */
.head .list ul{
    margin: 0 !important;
    padding: 20px !important;
}

.menu{
    padding: 10px !important;
    background: #2196f3 !important;
    height: auto !important;
}

.badge.color-green{
    background-color: #2196f3 !important;
    float: left !important;
    margin-top: 5px !important;
}

.menu .ionicons{
    font-size: 20px !important;
    margin-left: 5px !important;
}

.menu a{
    font-weight: bold !important;
    color: #fff !important;
    line-height:40px !important;
    text-align:right !important;
    font-size: 14px !important;
}
/* menu */




/* managers page */
.manager{
    background-color: rgba(125,125,125,0.2);
}

.manager .list {
    border-radius: 5px;
    padding: 10px;
    list-style-type: initial;
    background: rgba(0,0,0,0.6);
    margin: 10px;
    color: white;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.5);
}

.manager .list ul{
    padding: 0;
    padding-right: 16px;
    list-style-type: initial;
}

.manager #managerName{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: #2e9ff9;
}
/* managers page */



/* branch page */
.branchInfo{
    background-color: rgba(125,125,125,0.2);
}

.branchInfo .card{
    /*box-shadow: 0px 0px 2px rgba(0,0,0,0.2);*/
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: #fefefe;
    border: 1px solid #ccc;
}


.branchInfo .card p{
    font-weight: bold;
    font-size: 15px;
}


.branchInfo .card .ion-icons{
    margin-left: 5px;
}

.branchInfo .social{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
}

.branchInfo .social .socialFB{
    background-color: #3b5998;
    border-radius: 5px;
    display: inline-block;
    width: 40px;
}

.branchInfo .social .socialTW{
    background-color: #00aced;
    border-radius: 5px;
    display: inline-block;
    width: 40px;
}

.branchInfo .social .socialGP{
    background-color: #D84B37;
    border-radius: 5px;
    display: inline-block;
    width: 40px;
}

.branchInfo .social .socialSite{
    background-color: #737373;
    border-radius: 5px;
    display: inline-block;
    width: 40px;
}

.branchInfo .social .socialCall{
    background-color: #8c67ac;
    border-radius: 5px;
    display: inline-block;
    width: 40px;
}

.branchInfo .social a{
    color: white;
    font-size: 25px;
}

    .branchInfo .social i {
        margin-left: 0px !important;
    }
/* branch page */



/* splash page */
.splash {
    background: url("../img/bg.png") 100% 0 no-repeat !important;
    background-size: cover !important;
}

.splash .content{
    margin-top: 35vh;
}

.splash .content .img{
    height: 150px;
}
/* splash page */


/* medical page */
.medicalServices{
    background-color: rgba(125,125,125,0.2);
}

.medicalServices .card img{
    width:7em !important;
}

.medicalServices .card .description{
    background-color: #356793;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
}

.medicalServices .card .description h4 ,.medicalServices .card h4 {
    color: #ffffff;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-align: center;
    padding: 10px;
    background: #003b71;
}

.medicalServices .list {
    border-radius: 5px;
    padding: 0px;
    list-style-type: none;
    margin: 0px;
    color: white;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.5);
    width:100%;
    text-align: right;
    padding-right: 10px;
}

.medicalServices .list ul{
    padding: 0;
    padding-right: 5px;
    list-style-type: none;
}
/* medical page */



/* individual page */
.individual{
    background-color: rgba(125,125,125,0.2);
    padding-top: 40vh;
}

.individual .card{
    text-align: center;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px;
    background: #356793;
    margin: 10px;
    padding-bottom: 0;
    height:100px;
}

/*.individual .card:first-child{*/
    /*margin-top: 70px;*/
/*}*/

    .individual .card .image {
        height:95%;
    }

    .individual .card .img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
    }

.individual .card .description{
    padding: 0;
}

.individual .card .description h4{
    color: #ffffff;
    margin: 0;
    font-size: 13px;
}

.individual .confirm{
    margin-top: 20px;
    text-align: center;
}

.individual .confirm .btn1{
    background-color: #356793;
    color: #fff;
    font-weight: bold;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    height: auto;
}

.individual .confirm .btn2{
    border: 1px solid #356793;
    color: #6c757d;
    font-weight: bold;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    height: auto;
    background: white;
}

.individual .confirm .btn2:hover{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
/* individual page */



/* complains page */
.complain{
    background-color: rgba(125,125,125,0.2);
}

.complain .card{
    background: white;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #ccc5;
}

.complain .list{
    background: transparent;
    margin: 10px;
    border-radius: 5px;
    /*box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);*/
    /*border: 1px solid #6c757d;*/
}

.complain .smart-select .item-title{
    margin-right: 10px;
    color: #356793;
    font-weight: bold;
}

.complain .list ul{
    padding: 5px;
}

.complain .smart-select .item-after {
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    display: inline;
    float: left;
    margin-left: 10px;
    color: rgba(125,125,125,0.9);
    font-weight: bold;
    top: -20px;
}

.complain .item-content{
    margin-bottom: 20px;
    border: 2px solid rgba(125,125,125,0.4);
    padding: 10px;
    border-radius: 10px;
}

.complain .card label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: #356793;
}

.complain .card label:last-child{
    margin-bottom: 0;
}

.complain .card span{
    color: #2196f3;
}

.complain .card:first-child{
    margin-top: 10px;
}

.complain .new{
    margin: 10px;
    background: #2196f3;
    border-radius: 5px;
    height: auto;
    padding: 5px;
    margin-top: 20px;
}

.complain .new .button{
    color: #ffffff;
    font-weight: bold;
}

.complain .card .icon{
    text-align: left;
}

.complain .card .icon .img{
    height: 50px;
}

.complain .card .icon .image{
    height: 70px;
}

.complain .description{
    background-color: #356793;
    /*border-radius: 5px;*/
    padding: 7px;
    color: #fff;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 27px;
    text-align: center;
}

.complain .complainDetail{
    margin: 10px;
}

.complain .complainDetail .textArea{
    width: 97%;
    height: 100px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.9);
}

.complain textarea::-webkit-input-placeholder {
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    color: rgba(125,125,125,0.6);
    font-family: 'Cairo',sans-serif; !important;
}
/* complains page */




/* individual page */
/*
.business{
    background-color: rgba(125,125,125,0.2);
}

.business .card{
    text-align: center;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px;
    background: #356793;
    margin: 10px;
    padding-bottom: 10px;
}

.business .card:first-child{
margin-top: 10px;
}

.business .card .img{
    border-radius: 5px;
    width:100%;
    max-height:200px;
}

.business .card .description{
    padding: 0;
}

.business .card .description h4{
    color: #2196f3;
    margin: 0;
    font-size: 16px;
    padding:10px;
}

.business .card .description h5{
    color: #ffffff;
    margin: 0;
    font-size: 14px;
    padding:10px;
    text-align:right;
}

.business .confirm{
    margin-top: 20px;
    text-align: center;
}

.business .confirm .btn1{
    background-color: #2196f3;
    color: #fff;
    font-weight: bold;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    height: auto;
}

.business .confirm .btn2{
    background-color: #2196f3;
    color: #fff;
    font-weight: bold;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    height: auto;
}

.business .confirm .btn2:hover{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
    */
.icon1{margin-right:-28px;margin-top:116%;}
.logo_Jahez{margin-right: -24px;margin-top: 93%}
.icon2{margin-right: -24px;margin-top: 93%}

/* business page */




/*!* smart wizard *!*/
/*.sw-main {*/
    /*position: relative;*/
    /*display: block;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

/*.sw-theme-dots > ul.step-anchor {*/
    /*position: relative;*/
    /*display: block;*/
    /*border: 0px solid #ccc !important;*/
    /*list-style: none;*/
/*}*/

/*.sw-theme-dots > ul.step-anchor:before {*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*right: 1.2rem;*/
    /*width: 5px;*/
    /*height: 100%;*/
    /*background-color: #ececec;*/
    /*display: block;*/
    /*margin-right: 10px;*/
    /*content: " ";*/
    /*position: absolute;*/
    /*width: 6px;*/
    /*border-radius: 3px;*/
    /*z-index: 95;*/
/*}*/

/*.sw-theme-dots > ul.step-anchor > li {*/
    /*display: block;*/
    /*clear: both;*/
    /*border: none;*/
/*}*/

/*.sw-theme-dots > ul.step-anchor > li > a {*/
    /*text-align: left;*/
    /*margin-left: 0;*/
    /*display: block;*/
    /*position: relative;*/
    /*font-weight: bold;*/
    /*background: transparent;*/
    /*border: none;*/
    /*color: #ccc;*/
    /*text-decoration: none;*/
    /*outline-style: none;*/
    /*z-index: 96;*/
/*}*/

/*.sw-theme-dots > ul.step-anchor > li.active > a {*/
    /*color: #5bc0de;*/
/*}*/

/*.sw-theme-dots > ul.step-anchor > li > a {*/
    /*margin-left: 0;*/
    /*position: relative;*/
    /*font-weight: bold;*/
    /*background: transparent;*/
    /*border: 1px solid;*/
    /*color: #868686;*/
    /*text-decoration: none;*/
    /*outline-style: none;*/
    /*z-index: 96;*/
    /*display: block;*/
    /*text-align: right;*/
    /*padding-right: 1rem;*/
    /*margin-bottom: 2rem;*/
/*}*/

/*.sw-theme-dots > ul.step-anchor > li > a::before {*/
    /*top: 0px;*/
    /*right: -23px;*/
    /*margin-left: 10px;*/
    /*display: block;*/
    /*content: ' ';*/
    /*position: absolute;*/
    /*bottom: 2px;*/
    /*margin-top: 10px;*/
    /*display: block;*/
    /*border-radius: 50%;*/
    /*color: #428bca;*/
    /*background: #ececec;*/
    /*border: none;*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*text-decoration: none;*/
    /*z-index: 98;*/
/*}*/

/*.sw-theme-dots > ul.step-anchor > li.active > a:after {*/
    /*background: #59c5ff;*/
/*}*/

/*.sw-theme-dots > ul.step-anchor > li > a:after {*/
    /*top: 17px;*/
    /*right: -31px;*/
    /*margin-right: 15px;*/
    /*content: ' ';*/
    /*position: absolute;*/
    /*margin-top: 0px;*/
    /*display: block;*/
    /*width: 15px;*/
    /*height: 15px;*/
    /*background: #e2e2e2;*/
    /*border-radius: 50%;*/
    /*z-index: 99;*/
/*}*/
/*!* smart wizard *!*/




/* smart wizard */
.cards{
    background-color: white;
    margin: 10px 15px;
    margin-top: 19px;
    margin-bottom: 20px;
}

.smart{
    height: 10px;
    background-color: #ececec;
}

.smart .circle1{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    top: 64px;
    position: absolute;
    right: 5%;
    background-color: rgba(125,125,125,0.2);
}

.smart .circle1 .circular1{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: rgba(125,125,125,0.3);
    position: relative;
    top: 6px;
    right: 6px;
}

.smart .circle2{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    top: 64px;
    position: absolute;
    right: 25%;
    background-color: rgba(125,125,125,0.2);
}

.smart .circle2 .circular2{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: rgba(125,125,125,0.3);
    position: relative;
    top: 6px;
    right: 6px;
}

.smart .circle3{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    top: 64px;
    position: absolute;
    right: 45%;
    background-color: rgba(125,125,125,0.2);
}

.smart .circle3 .circular3{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: rgba(125,125,125,0.3);
    position: relative;
    top: 6px;
    right: 6px;
}

.smart .circle4{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    top: 64px;
    position: absolute;
    right: 65%;
    background-color: rgba(125,125,125,0.2);
}

.smart .circle4 .circular4{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: rgba(125,125,125,0.3);
    position: relative;
    top: 6px;
    right: 6px;
}

.smart .circle5{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    top: 64px;
    position: absolute;
    right: 85%;
    background-color: rgba(125,125,125,0.2);
}

.smart .circle5 .circular5{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: rgba(125,125,125,0.3);
    position: relative;
    top: 6px;
    right: 6px;
}
/* smart wizard */

.swiper-custom{
    height:200px;
}

.page.home .swiper-custom .swiper-container {
    height: 100%;
    margin: 0;
}

.page.home .swiper-custom .swiper-container img {
    width: 100%;
    height: 200px;
    object-fit: fill;
    object-position: center;
}

.swiper-button-next {
    left: 0 !important;
    right: auto !important;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
    background-color: rgba(255,255,255,0.4) !important;
    cursor: pointer !important;
    padding: 1em 1.5em !important;
    border-radius: 0 10px 10px 0 !important;
    z-index: 20 !important;
}

.swiper-button-prev {
    right: 0 !important;
    left: auto !important;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
    background-color: rgba(255,255,255,0.4) !important;
    cursor: pointer !important;
    padding: 1em 1.5em !important;
    border-radius: 10px 0px 0px 10px !important;
    z-index: 20 !important;
}

/*********gehad style**********/


/*Intro page*/
/*
.intro{    
    background: url(../images/bg.jpg);
    background-position-x: 91%;
    background-color: white;
    background-size: cover;}

.intro .inner{
    padding: 10px;
    width: 90%;
    margin-right:auto;
    margin-left:auto;
    margin-top:2vh;
    background-color: rgba(255, 255, 255, 0.5);
    height: 82vh;
    border-radius: 20px;
}

.intro .inner .content{margin-top:7vh}
.intro .row{margin-bottom:5vh}


.intro .row{
    margin: 4% 0;
    padding:20px;
    padding-bottom:0px;
}
.intro .btn{
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    position: relative;
    height:100px;
    
}

.intro .btn img{
    max-height:80px;
}

.intro .btn img:first-of-type{margin-top: 10px}
.intro .btn:nth-of-type(2) img{margin-top: 12px}*/

/*.intro .btn span::after{
    font-family: FontAwesome;
    color: #356793;
    position: absolute;
    
}

.intro .clock::after{
    content: "\f017";
    font-size: 26px;
    bottom: -5%;
    left: 7%;

}
.intro .calender::after{
    content: "\f073";
    font-size: 20px;
    bottom: 0%;
    left: 8%;
}
.intro .card::after{
    content: "\f3e0";
    font-size: 20px;
    bottom: 0%;
    left: 8%;
}
.intro .fa {
    position: absolute;
  
}
.intro .pills{
    bottom: 7%;
    left: 8%;
}

.intro .workers{
    bottom: 7%;
    left: 6%;
}

.intro .wasatah{margin-top:16px!important}
.intro .money{
    bottom: 8%;
    left: 7%;
}
.intro .a3mal{margin-top: 9px!important}

.intro .hands{
    bottom: 8%;
    left: 7%;}*/


/*Home page*/
.home{    
    background: url(../images/bg.jpg);
    background-position-x: 91%;
    background-color: white;
    background-size: cover;}

.home .inner{
    padding: 10px;
    width: 90%;
    margin: 5% auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    height:90%;
}
/*.home .row{margin: 18% 0}*/
.home .btn{
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    height: 70px;
    position: relative;
    
}
.home .btn img:first-of-type{margin-top: 10px}
.home .btn:nth-of-type(2) img{margin-top: 12px}

/*.home .btn span::after{
    font-family: FontAwesome;
    color: #356793;
    position: absolute;
    
}

.home .clock::after{
    content: "\f017";
    font-size: 26px;
    bottom: -5%;
    left: 7%;

}
.home .calender::after{
    content: "\f073";
    font-size: 20px;
    bottom: 0%;
    left: 8%;
}*/
.home .card::after{
    content: "\f3e0";
    font-size: 20px;
    bottom: 0%;
    left: 8%;
}
.home .fa {
    position: absolute;
  
}
.home .pills{
    bottom: 7%;
    left: 8%;
}

.home .workers{
    bottom: 7%;
    left: 6%;
}

.home .wasatah{margin-top:16px!important}
.home .money{
    bottom: 8%;
    left: 7%;
}
.home .a3mal{margin-top: 9px!important}

.home .hands{
    bottom: 8%;
    left: 7%;}

.servTextR {
    font-size: 15px;
    color: #fff;
}

.servTextL {
    font-size: 15px;
    color:#fff;
}

.toolbar a.link{
    padding:0 !important;
}

.current-month-value, .current-year-value {
    overflow: auto !important;
}

.picker-modal .toolbar a.link{
    width:30px !important;
}

.load {
    padding-right: 0;
    padding-left: 42px;
    background-size: 20px 20px !important;
    background-position: auto !important;
    background-image: url("../img/ring.gif") !important;
}

.notAvailableSpan {
    /* z-index:  4; */
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(234, 33, 33, 0.9);
    color: #fff!important;
    text-align: center;
    left: 0%;
    top: 0%;
    line-height: 130px;
    font-size: 11px !important;
    /* padding: 4.2rem 1rem !important; */
    margin-bottom: 1rem !important;
    border: none !important;
    border-radius: 20px;
}

.errorSpan {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgba(234, 33, 33, 0.4);
    color: #fff!important;
    text-align: center;
    left: 0%;
    top: 0%;
    line-height: 40px;
    font-size: 12px !important;
    padding: 1rem 1rem !important;
    /* margin-bottom: 1rem !important; */
    border: none !important;
    border-radius: 10px;
    cursor: no-drop;
}

.map {
    padding: 0px;
    margin-bottom: 0px;
    height: 300px;
    background-color: grey !important;
    border-radius: 15px !important;
    margin-top: 10px;
}

/*.gmnoprint {
    display: none !important;
}*/

#pac-input{
    margin-top: 0px !important;
    border: 2px solid rgba(125,125,125,0.4) !important;
    border-radius: 10px !important;
    color: rgb(3,53,107) !important;
    background-color: #fff;
    height: auto !important;
    font-weight: bold;
    text-align: right !important;
    font-size: 13px !important;
    padding: 8px 10px;
    width: 93%;
    font-family: 'Cairo', sans-serif !important;
    margin-bottom: 10px;
}

.pac-container{
    background-color: #fff;
    position: absolute!important;
    z-index: 99999 !important;
    border-radius: 2px;
    border-top: 1px solid #d9d9d9;
    font-family: Arial,sans-serif;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

table {
    width:100%;
}

.cellTable{
    color: rgb(33, 150, 243);
    padding: 10px;
}

.card-header{
    border-radius: 2px 2px 0 0;
    font-size: 16px;
    background-color: #2196f3;
    color: #fff;
    font-weight: bold;
}


.security .no-error{
    border:none !important;
    padding: 0px !important;
}

.security .page-bg{
    padding-top:0px !important;
}

.security .page-bg .logo{
    padding-top: 40px !important;
    margin: auto;
}

.lblCode{
    padding:5px;
    color:rgb(33, 150, 243) !important;
    width:100%;
    position:relative;
    margin:auto;
    margin-top: 20px !important;
    display: block;
}


.spanClock{
    position: absolute;
    bottom: -2%;
    left: 7%;
    font-size: 24px;
    color: rgb(3,53,107);
}

.spanCalender{
    position: absolute;
    bottom: -3%;
    left: 10%;
    font-size: 24px;
    color: rgb(3,53,107);
}

.spanCar{
    position: absolute;
    bottom: -7%;
    left: 10%;
    font-size: 24px;
    color: rgb(3,53,107);
}

.panel{
    background: rgb(33, 150, 243) !important;
    width:210px !important;
}

.editProfile .list{
    margin-top:10px !important;
}

#divItemAfterCreateWorker {
    /*word-wrap: break-word;
    width: 200px;
    position: relative;
    top: -9px;
    left: -22px;*/
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*.page.bankTransfer .imgEdit{
    overflow: hidden;
    position: relative;
    border-radius:10px;
  }*/

  .w-90{
      width:90%;
  }

  .overlayAdvertisementProgress {
    position: absolute;
    background: rgba(84, 191, 5, 0.5);
    height: 100px;
    width: 100px;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    -webkit-transition: width .25s linear;
    transition: width .25s linear;
    border-radius:10px;
}
.spanAdvertisementOverlay {
    font-size: 1.5em;
    display: block;
    margin: auto;
    width: 100%;
    position: absolute;
    text-align: center;
    color: #FFF;
    top: 25%;
}
.page.bankTransfer img{
    min-height:100px;
    max-height:100px;
    border-radius:10px;
}


/**paymentMethod***/

.paymentMethod .inner{
    margin-top: 0px;
    padding: 5%
}
.paymentMethod .inner p{
    text-align: center;
    color: #00a2e8;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0 10px 0;
    margin: 0px;
}

.paymentMethod .head p{
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    margin: 0px;
}

.paymentMethod .inner .button{
    margin: 20px auto;
    font-size: 20px;
    height: 70px;
    line-height: 70px;
    position: relative;
}
.paymentMethod .inner .button:first-child{
    background-color: #5EB3E4
}

/* .paymentMethod .inner .btn1::before{
        font-family: FontAwesome;
        content: "\f3d1";
        position: absolute;
        font-size: 20px;
        bottom: 0%;
        left: 8%;
    } */

.paymentMethod .inner .button:last-child{
    background-color: #818285
}
.bankTransfer .inner{
    margin-top: 0px;
    padding: 5%
}
.bankTransfer .inner p{
    text-align: center;
    color: #5eb3e4;
}
.bankTransfer .inner .title{
    color: #003B71;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
   
}

.bankTransfer .inner .money {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: rgba(48, 93, 140, 0.6);
    vertical-align: middle;
    margin: 0 auto 20px 
}
.bankTransfer .inner .money P{
    font-size: 17px;
    color: #fff;
    padding-top: 10px;
}
.bankTransfer .inner .Contract{
    text-align: center;
    font-size: 19px;
    margin: 10px 0
}
.bankTransfer .inner .data-table {
    margin: 30px 0;
    background-color: #FFF !important;
    padding: 10px;
}

.bankTransfer .inner .data-table td{
    text-align: right;
}

#txtCode{
    border: 1px solid #cecece;
    border-radius: 5px;
    text-align:center;
}

.medicalServices .card{
    text-align: center;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 5px;
    background: #356793;
    margin: 19px 10px;
    padding-bottom: 10px;
}

/*.medicalServices .whiteCard{
    text-align: center;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: #FFF;
    margin: 5px;
    padding: 5px;
    color:#356793;
}*/

.medicalServices .card:first-child{
margin-top: 10px;
}

.medicalServices .card .img{
    border-radius: 15px;
    width:100% !important;
}

.medicalServices .card h5{
    color: white;
    margin: 0;
    font-size: 10px;
    padding:10px;
}

.medicalServices .confirm{
    margin-top: 20px;
    text-align: center;
}

.medicalServices .confirm .btn1{
    background-color: #2196f3;
    color: #fff;
    font-weight: bold;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    height: auto;
}
/*******/

.icon-form-checkbox {
    display: inline-flex;
    margin-left: 10px;
}

.navbar .center{
    position:absolute !important;
    margin:0 60px !important;
}

.wizardDiv{
    padding: 0px 10px;
    margin-bottom: 10px;
    /*direction:ltr !important;*/
}

.spanWizard {
    color:#FFF !important;
    font-size:15px !important;
}
.checkmark{
    position:absolute;
    bottom:10px;
    left:20px;
    font-size:38px;
    color:#FFF;
}

.close-popupX{
    position: absolute;
    padding: 5px;
    top: 16px;
    right: 15px;
}
.mRL-5{
    margin-left:5px;
}

.shiftPostPoned{
    background-color: red;
    text-decoration: line-through;
}



/*---------------------------------------Phase 2 styles---------------------------------------------------------*/




/*********************** start countries page***********************/
.countries{
	background-color: #fff;
	width: 90%;
    margin: auto;
}
.countries .card{
	background-color: #eee;
	border: none;
	margin-right: 0;
	margin-left: 0;
	overflow: hidden;
}
/*********************** end countries page***********************/

/*********************** start jobs page*************************/
.jobs{
	background-image: linear-gradient(45deg,#356793,#fff);
}
.C-name{
	height: 100px;
    width: 100px;
    line-height: 100px;
    margin: 20px auto;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	font-size: 20px;
}
.jobs .card{
	position: relative;
    margin: auto;
	margin-bottom:9px;
}
.jobs .card:before, .jobs .card:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.jobs .card:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.jobs  .demo-card-header-pic .card-header {
	border-bottom: none;
    height: 128px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
.jobs  .card-content{
/*	text-align: right;*/
/*	padding-right: 20px;*/
}
.jobs  .card-content-inner{
	padding: 9px;
}
.jobs .card-header{
	background-color: #fff;
}
.jobs .card-header img{
	margin: auto;
    max-width: 70%;
}

/*********************** end jobs page*************************/

/*********************** start packages page*************************/
.packages{
    width: 90%;
    margin: auto;
    background: #fff;
}
.packages .swiper-container {
	margin-top: 0px;
    height: 100%;
    text-align: center;
}
.packages .swiper-slide {
  background:#fff;
}
.packages hr{
	width: 80%;
    margin-bottom: 30px;
}
.packages p{
	font-size: 18px;
}
.packages  .btn{
    color: #fff;
    width: 97%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 30px;
    border-radius: 0;
    font-weight: bolder;
	margin-top: 35px;
}
.packages .pkg01 .btn{
	background-color: #e2cb1b;
}
.packages .pkg02 .btn{
	background-color: #1be2e2;
}
.packages .pkg03 .btn{
	background-color: #da1be2;
}
.packages .pkg04 .btn{
	background-color: #c40e36;
}
.packages .pkg05 .btn{
	background-color: #1be241;
}
.swiper-slide span {
/*
  text-align:center;
  display:block;
  margin:20px;
  font-size:21px;
*/
}

.packages .pkg-name{
    width: 80%;
    margin: 15px auto;
    height: 57px;
    line-height: 57px;
}

.packages .pkg01 .pkg-name{
    color: #e2cb1b;
}
.packages .pkg02 .pkg-name{
    color: #1be2e2;
}
.packages .pkg03 .pkg-name{
    color: #da1be2;
}
.packages .pkg04 .pkg-name{
    color: #c40e36;
}
.packages .pkg05 .pkg-name{
    color: #1be241;
}
/*********************** end packages page*************************/

/*********************** start order page*************************/
.order{
	background-color: #eee;
	/*margin: auto;
	margin-top: 70px;
	width: 97%;*/
}
.order .list-block ul:before , .order .list-block ul:after{
background-color: #eee;	
}
.order .list-block .item-link{
	background-image: linear-gradient(to right ,#5eb3e4, #a8adef);
    color: #fff;
    border-radius: 25px;
    margin: auto 16px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.order .list-block .item-after{
	    color: #ededf1;
}
.order .p_photo{
	overflow: hidden;
    height: 117px;
    border: 2px solid #eee;
    background-position: center; 
 background-size: cover; 
 background-repeat: no-repeat;
}
.order .card-content-inner{
	    padding: 5px;
}
.order .card-header{
    background-image: linear-gradient(to right ,#5eb3e4, #a8adef);
    border-radius: 10px !important;
    margin: 8px;
	margin-bottom: 0;
    color: #fff;
    text-align: center!important;
    border-bottom: none;
    display: block;
}
.order .card-header:after{
	    background-color: #fff;
}
.order .des{
	background: #eee;
    border-radius: 4px;
    padding: 10px;
    height: 117px;
	font-size: 13px;
    color: #356793;
}
.order .skills-sec{
	  padding: 4px ;
	  background-image: linear-gradient(to right ,#5eb3e4, #a8adef);
	  color: #fff;
}
.order .skill-list{
	padding-right: 20px;
	margin-bottom: 2px;
}
.order .des-icon .material-icons{
	display: inline-block;
    color: #eee;
    background: #356793;
    border-radius: 50%;
    font-size: 15px;
    line-height: 15px;
    padding: 2px;
    text-align: center;
    margin-left: 4px;
}
.f-15{
	font-size: 15px;
}
.f-13{
    font-size: 13px;	
}
.material-icons{
	vertical-align: middle;
}
.order .list-block ul:after{
	    display: none!important;
}
.search-btn{
	position: fixed;
    left: 10px;
    bottom: 10px;
    background-color: #5eb3e4;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
    border-radius: 50% !important;
    height: 40px;
    width: 40px;
}
.search-btn .material-icons{
	font-size: 17px !important;
}
/*********************** end order page*************************/

/*********************** start advanced-filter page*************************/
.ad-filter{
    background-color: #ffffff;
    text-align: right;
    margin: auto;
	position: relative;
	-webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
}
filter-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.choose-filter
/* Hide the browser's default radio button */
.filter-option input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */

.selectContainer {
    display: block;
    position: relative;
    height: auto;
}

.selectContainer legend{
    color:#356793 !important;
}

.selectContainer ul{
  list-style: none;
  margin: 0;
  padding: 0 !important;
	overflow: auto;
}

.selectContainer ul li{
  color: #AAAAAA;
    display: block;
    position: relative;
    float: right;
    width: 100%;
    margin: 10px 0px;
}

.selectContainer ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.selectContainer ul li label{
 display: block;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;

    padding-right: 30px;
	
}

    .selectContainer ul li .check {
       display: block;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    top: 0px;
    right: 0px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
	
    }

.selectContainer ul li .check::before {
display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 12px;
    width: 12px;
    top: 4px;
    right: 4px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
	 
}

.selectContainer input[type=radio]:checked ~ .check {
  border: 5px solid #2196f3 !important;
   
}

.selectContainer input[type=radio]:checked ~ .check::before{
  background: #2196f3 !important;
   
}

.selectContainer input[type=radio]:checked ~ label{
  color: #2196f3 !important;
  
}

/*.checkmark {
    position: absolute !important;
    top: 4px !important;
    right: 16px !important;
    height: 15px !important;
    width: 15px !important;
    border-radius: 4px !important;
}


.filter-option:hover input ~ .checkmark {
    background-color: #ccc;
}

.filter-option input:checked ~ .checkmark {
    background-color: #356793;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.filter-option input:checked ~ .checkmark:after {
    display: block;
}

.filter-option .checkmark:after {
    top: 4px;
    left: 4px;
    width: 5px;
    height: 5px;
    border-radius: 2px;
    background: white;
}
.filter-option{
	padding-right: 20px;
	font-size: 15px;
}
.filter-container input[type=radio]{
	display: none;
}*/
.form-group {
    color: #356793;
}
.ad-filter legend{
	font-size: 18px;
}
.l-value{
	content: 
}
#slider {
 margin-top: 6px;
}
.noUi-connects{
	border-radius: 3px;
}
.noUi-connect{
	background: #519eca;
}
.noUi-horizontal .noUi-handle {
    width: 15px;
    height: 15px;
    left: -10px;
    top: -6px;
}
.noUi-handle {
    border: none;
    border-radius: 50%;
    background: #5eb3e4;
    cursor: default;
    box-shadow: none;
}
.noUi-target {
    background: #FAFAFA;
    border-radius: 2px;
    border: 1px solid #eee;
    box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #bda5a5ee;
}
.noUi-horizontal {
    height: 5px;
    margin-top:10px;
}
.noUi-handle:before, .noUi-handle:after{
	display: none;
}
.ad-filter input[type="submit"]{
	width: 80%;
	background: #5eb3e4;
	
}
.ad-filter .list-block .item-title{
	font-size: 18px;
    color: #356793;
    padding: 10px 0;
}
.ad-filter  .list-block .item-content{
	padding-right: 0;
}
.countries .job-block{
	padding-right: 11px;
}
.countries .separator{
	width: 90%;
}
.bng-bg{
	background: url(../img/countries/bangladesh.png) no-repeat center;
}
/*********************** end advanced-filter page*************************/

.limited-name{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.hide{
    display:none !important;
}

.show{
    display:block !important;
}

/* smart wizard */
.cards{
    background-color: white;
    margin: 10px 15px;
    margin-top: 19px;
    margin-bottom: 20px;
}

.smartReview{
    height: 10px;
    background-color: #ececec;
}

.smartReview .circle1{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    top: 64px;
    position: absolute;
    right: 5%;
    background-color: rgba(125,125,125,0.2);
}

.smartReview .circle1 .circular1{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: rgba(125,125,125,0.3);
    position: relative;
    top: 6px;
    right: 6px;
}

.smartReview .circle2{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    top: 64px;
    position: absolute;
    right: 45%;
    background-color: rgba(125,125,125,0.2);
}

.smartReview .circle2 .circular2{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: rgba(125,125,125,0.3);
    position: relative;
    top: 6px;
    right: 6px;
}

.smartReview .circle3{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    top: 64px;
    position: absolute;
    right: 87%;
    background-color: rgba(125,125,125,0.2);
}

.smartReview .circle3 .circular3{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: rgba(125,125,125,0.3);
    position: relative;
    top: 6px;
    right: 6px;
}
/* smart wizard */